[2019-07-29 08:25] friluftsliv opened #407 "Test"
Test

[2019-07-29 08:26] #407 closed

[2019-07-29 11:18] han-f opened #408 "Create unit table and unit conversion table"
Create a table which contains common units with full name and abbreviation
Create another table with conversion between units (columns: from; to; factor)

[2019-07-30 10:54] han-f commented on #408
Add a column note to the second table to include additional information if needed.

[2019-08-08 07:44] han-f opened #409 "Delete table SzenarienDB_units"
I accidentally created the table SzenarienDB_units in model_draft. It is empty and shall be deleted, but I can't delete it myself for some reason.

[2019-08-08 07:51] han-f commented on #408
Created both tables in model_draft. Not all of the items in it are "pure" units though. Some are "things" that are sometimes translated into another metric, e.g. CH4 emissions into CO2 equivalents.  For those conversions the note column provides further information.

[2019-08-09 05:21] han-f opened #410 "Clicking on "comments" yields error."
I clicked on the commets icon in a table view in model_draft and received an error

![grafik](https://user-images.githubusercontent.com/36844029/62755951-43540d80-ba76-11e9-92dc-d4fe36a23156.png)

[2019-08-12 09:36] christian-rli opened #411 "Missing reference to metadata standard"
Create a short description and reference to OEP metadata version 1.4.0 at an appropriate location. Link to the [description](https://github.com/OpenEnergyPlatform/examples/wiki/Metadata-Description).

[2019-08-12 12:51] stap-m commented on #408
I am wondering, if we could make a (seperate?) table with convertions like "giga to mega" and "kilo to milli" etc. and then combine it with factors for conversions like "Watt to Joule" etc. It would reduce the complexity of the tables and we are not running risk of forgetting some conversions.

[2019-08-12 13:28] han-f commented on #408
Thanks - that sounds like a good approach, especially from a data related perspective. I made only one table with conversion since I wanted to give a user the possibility to immediately convert from one unit to another by applying only one factor (as a kind of service). But I am open to also include this third table as an option. What do others think?

[2019-08-12 14:18] stap-m commented on #408
Further, convertions for units of time (s, min, h, day, year) are probably necessary, maybe also units of lengths (e.g. miles to km).

[2019-08-13 07:54] MGlauer commented on #408
How do we manage conversions that are not products (e.g. Fahrenheit <-> celsius)?

[2019-08-13 08:24] stap-m commented on #408
I was also wondering about that. One possibility would be to fix special units, e.g. all temperatures in Kelvin. But maybe there are better ideas.
Do we find that problem with other units, too?

What about the conversion of currencies?

[2019-08-13 08:31] han-f commented on #408
Re: currencies: I would refrain from adding conversions as these are dynamic (i.e. inflation rates, exchange rates, the price of which basket of commodities to use to deflate etc..) and there are many approaches for different contexts.

[2019-08-13 10:24] han-f commented on #337
May this be a potential use-case?
I upload a table that successfully went through the review. It now lives not in model_draft but in its "final" schema. This table however contains data that may periodically or sometimes need amendments (i.e. lines to be added). How would this work?

[2019-08-14 07:18] christian-rli commented on #337
@Ludee and I are currently finalizing a first data set of the kind you described @han-f [here](https://github.com/OpenEnergyPlatform/data-preprocessing/issues/28). Our idea was to handle curation in a GitHub issue. We will still need to streamline the process of implementing contributions, but the general idea seems viable.

[2019-08-14 07:47] han-f commented on #408
@wingechr and I discussed a bit about currency conversion. An idea may be to add a separate table that includes conversions from one currency to another according to a specific rule which needs to be documented within a column or as explanatory text somewhere. Since currency conversion is highly dynamic, this would be a table that requires amendments as discussed in issue #337  and investigated ex

[2019-08-15 10:06] #410 closed

[2019-08-19 13:37] l-emele commented on #351
See also discussion in issue #408.

[2019-08-19 13:37] l-emele commented on #334
See also issue #408.

[2019-08-19 13:47] l-emele commented on #408
I saw that you also included conversion factors to convert t CH4 in t CO2eq, however these are not constant values but depending on which IPCC assesment report is used as source. Your values are probably from the IPCC AR5, but in modeling currently the IPCC AR4 values are used.

I would therefore suggest to delete this conversion, as there are more than one way for this calculation. As this is rel

[2019-08-20 11:20] han-f commented on #408
I have added a description of the source of the GWP conversion in the metadata accompanying the table. First, I had it included as a separate "comment" column, but thought this would be tedious. Having a separate GWP table may be a good idea. Let's think about it.

[2019-08-20 15:56] l-emele commented on #408
Another observation:

The table contains a lot of slightly off conversion values, examples are:
* From PWh to GJ: 3599999999.9999714 instead of exactly 3600000000
* From ktoe to GJ: 41867.9999999993 instead of 41868
I've done a lot of unit conversions and in my experience even such slight deviations can sometime cause serious trouble.

This can be avoided if the table is constructed using the defi

[2019-08-20 16:02] l-emele opened #412 "Create table with GWP values"
Having a separate GWP table may be a good idea. Let's think about it.

_Originally posted by @han-f in https://github.com/OpenEnergyPlatform/oeplatform/issues/408#issuecomment-522969032_

I start here a separate issue to discuss this here.

[2019-08-20 16:14] l-emele commented on #412
I suggest the following table structure:
* id
* gas
* molecular_formula
* source
* gwp_value

Example:
| id | gas | molecular_formula | source | gwp_value |
| --- | --- | --- | --- | --- | --- | --- |
| 1 | Methane | CH4 | IPCC SAR | 21 |
| 2 | Methane | CH4 | IPCC AR4 | 25 |
| 3 | Methane | CH4 | IPCC AR5 | 28 |

[2019-08-21 04:39] han-f commented on #408
I had saved the values as "numeric" under the impression this would keep the detail intact. May this just be a displaying problem on the OEP, while all the detail is still there?

Which type of data would I need to choose in the upload skript to display 10^9 ?

![grafik](https://user-images.githubusercontent.com/36844029/63403146-5784fc80-c3de-11e9-9ce1-95b2830332e1.png)
https://www.postgresql.org

[2019-08-22 16:31] Bachibouzouk commented on #385
@Ludee , @bmlancien - This issue can be closed I presume?

[2019-08-22 16:46] Bachibouzouk commented on #361
@MGlauer - Is the branch [hotfix/save_factsheets_i361](https://github.com/OpenEnergyPlatform/oeplatform/tree/hotfix/save_factsheets_i361) the one related to this issue? Are you currently working on it or could I try on this issue?

Also, does the branch [feature/factsheet](https://github.com/OpenEnergyPlatform/oeplatform/tree/feature/factsheet) has anything to do with the issue? Can it be deleted?

[2019-08-22 16:49] Bachibouzouk commented on #349
@wingechr - can the issue be closed then?

[2019-08-22 17:17] Bachibouzouk commented on #182
@MGlauer - To make a clearer distinction between Issues and Pull Request, the issues naming convention could follow this pattern : The issue is that <issue label>.

So for example this issue could be renamed "No traffic-light system for datasets is implemented". The current label of this issue could be the label of the pull request associated with this issue.

It might seem trivial, but could be h

[2019-08-22 17:22] Bachibouzouk commented on #340
@christian-rli is this still an issue, or would it be closed by closing #182 ?

[2019-08-22 17:25] Bachibouzouk commented on #333
@klarareder - Could the issue be described a little bit further? (with snap shots if possible?)

@christian-rli - What do you mean by "RequirementSpecificationID=3" ?

[2019-08-22 17:45] Bachibouzouk commented on #240
@wingechr , @MGlauer - is a branch underway to tackle this issue? Or could I assign it to myself?

[2019-08-22 17:50] Bachibouzouk commented on #185
@MGlauer - can this issue be closed ?

[2019-08-22 17:55] Bachibouzouk commented on #147
@MGlauer - can I take up this issue?

[2019-08-22 18:11] Bachibouzouk opened #413 "There are too many open issues that could be closed"
Many issues could potentially be closed.
Closing them would bring more peace of mind and a clearer view of what's left to do.

I started using the label "?Can be closed?" on those issues so that the dev with more experience can decide on the closing.

[2019-08-22 18:17] Bachibouzouk opened #414 "There are too many branches not linked to a pull request"
It would be good to delete some of the branches (for example the ones that have been updated more than a year ago and only contain 1-2 commits).

The remaining branches should have a PR open and refer to an issue in the PR description. Or deleted if they are not relevant anymore.

It is a bit difficult for a newcomer to make such decision, I would suggest that each creator of branches sorts up the

[2019-08-23 10:25] jh-RLI commented on #414
[This](https://help.github.com/en/articles/closing-issues-using-keywords) helps to establish the connection between PR and issue.

[2019-08-23 13:56] jh-RLI commented on #259
@Ludee @christian-rli all the available turotials are listed [here](https://github.com/OpenEnergyPlatform/examples), aren't they?

[2019-08-23 14:02] jh-RLI commented on #342
I'm gonna work on #259. Is the topic list uptodate @christian-rli? Otherwise this would be the last except the continuous update for tutorial links.

[2019-08-23 14:24] jh-RLI commented on #325
@klarareder The download of a table is at least possible as a .csv file via the dataview. Can you describe in more detail if this issue is different from #344?

[2019-08-26 09:52] Ludee commented on #240
Please go ahead @Bachibouzouk

[2019-08-26 12:14] christian-rli commented on #385
No strong feelings for or against glasses from me. A majority seems to like the glasses (so far). Any arguments that support a case against glasses @han-f ?
@MGlauer @l-emele @wingechr @klarareder would you like to leave an emoji-vote?

[2019-08-26 13:27] christian-rli commented on #182
My comment, if I recall correctly, was based on a statement by @MGlauer in a meeting, which I did not think to check. Thank you for digging @Bachibouzouk . I tried to find a commit or protocol that is related to this issue, but without any success.

[2019-08-26 13:39] MGlauer commented on #182
See #183. Maybe we can include it into the upcoming redesign for the data view.

[2019-08-26 13:56] christian-rli commented on #340
This is a separate issue from #182 . This issue is to implement statistics and not the traffic light system. In 182 I quoted directly from a user's feedback which resulted in the creation of several issues. Sorry if that was confusing in the mass of issues.

Have a look at #394 for a full list of all requirement specification descriptions.

[2019-08-26 14:04] christian-rli commented on #333
See #394 for a full list of all RequirementSpecificationIDs and descriptions.

[2019-08-26 14:06] christian-rli commented on #147
@Bachibouzouk feel free to take up all the issues that you think you can handle :)

[2019-08-26 14:50] christian-rli commented on #259
They are not really listed, but they are in the subdirectories of your linked location :) A dedicated page, linking to all tutorials in an orderly fashion still needs to be created. With the redesign of the OEP on its way, it's now a good time to do so, so it's high up on my list.

[2019-08-26 15:03] christian-rli commented on #342
Thank you @jh-RLI . The list should be up to date and this issue can be closed, once completed.

[2019-08-26 15:13] christian-rli commented on #325
@jh-RLI  have a look at #394 for a full list of all requirement specification descriptions. Maybe this is helpful.

The issues are somewhat similar, but not entirely. This issue is for a table download (already possible) and for a data ensemble download - a term we used to describe all the data connected to a project, including tables, factsheets and misc.

#344 asks for an option to download seve

[2019-08-27 08:08] Bachibouzouk commented on #414
@MGlauer - can I proceed deleting branches that are more than a year old and are only 1-2 commits ahead?

[2019-08-27 10:04] stap-m commented on #260
I added a legend to the graphic. Is it understandable?
![legend](https://user-images.githubusercontent.com/38690039/63762071-81e52700-c8c2-11e9-8a51-e8f6c6854902.png)

[2019-08-27 11:07] han-f commented on #260
Currently users cannot write to the sandbox schema, or am I mistaken?

[2019-08-27 11:12] stap-m commented on #260
How can we include the graphic in the new design? I think it would make sense to place it at the tutorials for beginners, BUT then it wouldn't be visible on the start page.

[2019-08-27 14:39] Bachibouzouk opened #416 "Following the setup in README does not lead to a smooth install"
This is a strong deterrent for any new developer to join in.

[2019-08-27 16:43] Ludee opened #419 "Rework Framework Factsheets"
The Framework Factsheets need a havy rework.
open_MODEX will contribute the content.

List all existing FFS issues here:

Provide new structure: @srhbrnds

[2019-08-28 05:51] han-f commented on #260
Couldn't we place it on to the startpage as a thumbnail that can be clicked to be viewed in large, and then repeat it at the tutorials for beginners site? We would still need to figure out whether the sandbox will be writable for users or not.

[2019-08-28 12:28] #311 closed

[2019-08-28 13:22] Bachibouzouk commented on #161
@MGlauer - is there a PR / branch linked to this metadata tool?

[2019-08-28 13:28] christian-rli commented on #161
The tool is called omi and developed in separate repository: https://github.com/OpenEnergyPlatform/omi

[2019-08-28 13:30] #416 closed

[2019-08-28 13:44] Bachibouzouk commented on #161
@EvaWie

Do you mean next to the left-handside labels (like Title, Description, etc.) ?
![Metadaten](https://user-images.githubusercontent.com/4399407/63859623-02318800-c9a8-11e9-9096-6c8e09112b18.png)

To reach this view one has to [choose a schema](https://openenergy-platform.org/dataedit/schemas), then choose a dataset, then scroll down the page and click on Edit, under the Metadata blue title

[2019-08-28 13:45] Bachibouzouk commented on #161
References across repositories are possible :)

[2019-08-28 13:48] Bachibouzouk opened #421 "Egoio is not installed via pypi"
This is because the current release cannot be installed, it should be changed once https://github.com/openego/ego.io/issues/78 is closed

[2019-08-28 16:17] jnnr commented on #358
Most of the questions have been answered (see initial posting). Therefore I close the issue.

[2019-08-28 16:17] #358 closed

[2019-08-28 16:24] Bachibouzouk commented on #181
As this issue is now references in https://github.com/OpenEnergyPlatform/examples/issues/8 and because the tutorials will not be stored in the current repository after #422, I close this issue now.

[2019-08-28 16:24] #181 closed

[2019-08-28 16:30] Bachibouzouk commented on #207
@EdithaK - What is the issue here?

[2019-08-28 16:32] Bachibouzouk commented on #309
@gnn - could you find out?

[2019-08-28 16:35] Bachibouzouk commented on #307
@ccmonsalve43 - is it still an issue?

[2019-08-28 16:38] Bachibouzouk commented on #2
@MGlauer - can this issue be linked to a PR/branch ?

[2019-08-28 16:41] Bachibouzouk commented on #188
Because no one complained about it anymore, nor referenced it in a PR for 2 years, I will close this issue.

[2019-08-28 16:41] #188 closed

[2019-08-28 16:44] Bachibouzouk commented on #280
@nesnoj - the 403 error at the origin of the issue was addressed, can we close this issue?

I think it should belong to the oedialect anyway...

[2019-08-28 16:45] Bachibouzouk commented on #160
@christian-rli - any updates?

[2019-08-28 16:48] Bachibouzouk commented on #199
@Ludee, @christian-rli - can this be closed then?

[2019-08-28 16:51] Bachibouzouk commented on #212
@Ludee, @MGlauer - can we close this issue?

[2019-08-28 16:53] Bachibouzouk commented on #414
Thanks for deleting some of the branches @MGlauer :)

[2019-08-28 16:57] Bachibouzouk commented on #389
- [ ] Email (fixed in 1173c517c605759d4fbcda5c77fa5bbaa13b6139)

- [ ] Login button

[2019-08-28 16:57] Bachibouzouk commented on #389
@MGlauer - did you fix the login in another commit?

[2019-08-28 17:25] MGlauer commented on #307
This was very likely caused by a wrong django version. Django version 2.x is not downwards compatible and this error message is a symptom for that.

As long as we stick with Django 1.x i consider this closed with 44daa843

[2019-08-28 17:37] MGlauer commented on #389
Yes, fixed in 0a6098e52

[2019-08-28 19:45] #389 closed

[2019-08-28 19:47] #307 closed

[2019-08-28 20:59] Bachibouzouk commented on #222
@MGlauer - According to the commit, the issue is closed

[2019-08-28 20:59] #222 closed

[2019-08-28 21:03] Bachibouzouk commented on #156
@Ludee @MGlauer - can we close this 2 years old issue?

[2019-08-28 21:07] Bachibouzouk commented on #220
Based on the discussion, commits and the fact that the issue is 2 years old, I conclude this issue can be closed

[2019-08-28 21:07] #220 closed

[2019-08-28 21:09] Bachibouzouk commented on #221
Now that the Q&A is in the wiki, I conclude this issue can be closed

[2019-08-28 21:09] #221 closed

[2019-08-28 21:11] Bachibouzouk commented on #251
@MGlauer - is there a commit number / PR linked to this old issue ?

[2019-08-28 21:27] Bachibouzouk commented on #230
The OEP **is designed for** everybody in the field of energy modelling and analytics. It provides space to publish, obtain and discuss energy data as well as further tools to enhance transparency.

[2019-08-28 21:28] Bachibouzouk commented on #230
@Ludee - where is "the right place" ?

[2019-08-29 07:37] nesnoj commented on #280
Yepp

[2019-08-29 07:37] #280 closed

[2019-08-29 08:36] jh-RLI commented on #342
this can be closed after #418 is approved

[2019-08-29 09:35] jh-RLI commented on #321
@MGlauer @christian-rli The "2019-01-15_Pflichtenheft_Arbeitsaufteilung_Fazit" indicates that this has already been done. Can this be closed?

[2019-08-29 09:41] jh-RLI commented on #323
@MGlauer @christian-rli The "2019-01-15_Pflichtenheft_Arbeitsaufteilung_Fazit" indicates that this has already been done. Can this be closed?

[2019-08-29 09:42] jh-RLI commented on #324
@MGlauer @christian-rli The "2019-01-15_Pflichtenheft_Arbeitsaufteilung_Fazit" indicates that this has already been done. Can this be closed?

[2019-08-29 09:45] jh-RLI commented on #326
@MGlauer @christian-rli The "2019-01-15_Pflichtenheft_Arbeitsaufteilung_Fazit" indicates that this has already been done. Can this be closed?

[2019-08-29 13:03] nesnoj commented on #421
Fixed in ego.io [release v0.4.6](https://github.com/openego/ego.io/releases/tag/v0.4.6) (also available on PYPI)

[2019-08-29 13:18] Ludee opened #424 ""About OEP" site needs a rework"
## Main page
1.  ESA
1. Open Science
1. OEP-Community

## About OEP

**General Introduction**

The OEP aims to ensure quality, transparency and reproducibility in energy system research. It provides a way to publish proper documentation of data, code and underlying assumptions.
The OEP is a community effort, it is developped openly and therefore is constantly evolving.

**1. What? Energy System Mo

[2019-08-29 13:21] Bachibouzouk commented on #421
Now `pip install egoio` returns the following error :

[code]

[2019-08-29 13:24] nesnoj commented on #421
Yepp, see https://github.com/openego/ego.io/issues/81

[2019-08-29 14:48] nesnoj commented on #421
Fixed in [v0.4.7](https://github.com/openego/ego.io/releases/tag/v0.4.7)

[2019-08-29 15:05] bmlancien commented on #260
I would put it in the tutorial section as well as in the documentation section, since some users will probably have the idea to look for this topic in the documentation, and not necessarily in the tutorial section. But I would not put it on the home page because the goal of the page is to give the visitor a short overview of the platform and not deeper informations.

[2019-08-29 15:39] Bachibouzouk commented on #421
@nesnoj  We still need to change our requirements to have egoio and not the link to the dev branch ;)

[2019-08-29 15:47] nesnoj commented on #421
Sorry, I should leave closing to the issuer.
(whew, closing it's just too satisfying.. ;)

[2019-08-29 19:07] Bachibouzouk commented on #421
I agree :P

[2019-08-30 08:58] #315 closed

[2019-08-30 10:52] han-f commented on #260
Re: sandbox:
See also this issue about potentially misleading documentation on the wiki: https://github.com/OpenEnergyPlatform/data-preprocessing/issues/32

[2019-09-02 09:00] Bachibouzouk commented on #157
@Dhruvin14 - I am not sure whether changing the copyright in the OEP jupyter notebook tutorials is addressing this issue. As I understood it, this copyright is linked to the institution of the tutorials' author

[2019-09-02 09:03] christian-rli commented on #157
I am also not sure as to why this change is necessary, or related to this issue. Could you elaborate @Dhruvin14 ?

[2019-09-02 09:42] Dhruvin14 commented on #157
@Bachibouzouk
before I understood that I need to add copyrights and licence in each tutorial where user create the database from tutorials.
But, as we discussed, It is with uploading the metadata on the OE interface, and it seems to finish by martin.
I will confirm the changes and let you know.

[2019-09-02 12:31] srhbrnds commented on #419
Please, find the suggested FFS structure here https://next.rl-institut.de/s/6ZXwQkXFSSxMQAf . Feel free to review and comment on the proposed FFS.

[2019-09-02 13:05] jh-RLI commented on #297
@christian-rli To make sure I understand that correctly. The requirement is to display the metadata entry for each column e.g. as a popup by moving the mouse over each column name in the data view?

Or is this already done by displaying the metadata string at the bottom of the page?

[2019-09-02 13:07] MGlauer commented on #297
I think this has been done in #382.

[2019-09-02 13:44] christian-rli commented on #160
We didn't discuss this again, but I recall that keyword should indeed be used to assign labels (tell me if I'm wrong @Ludee ). It makes sense in any case. Labels can be added manually via the website as well. I don't think there are functions to synchronize the two though. I would keep this issue open until that's the case, but it did not make it to the requirement_specification, so unless it's ve

[2019-09-02 13:52] christian-rli commented on #199
This is not what this issue's headline suggests and should go into a new issue rather than keeping this two year old issue alive - if it's not already obsolete by now.

[2019-09-02 13:52] #199 closed

[2019-09-02 14:45] christian-rli commented on #321
I don't see how the file indicates that @jh-RLI . In any case I tried the filter and search functions and they were not functional in with my tests.

[2019-09-02 15:00] jh-RLI commented on #321
@christian-rli in the file in tab "Bearbeitungsvorschlag" there is the column "Anmerkung" in the row for RequirementSpecificationID=7 there is a checkmark.  I thought that meant this issue was solved.

[2019-09-03 09:29] Dhruvin14 commented on #387
Fixed #387  home page link is solved

[2019-09-03 11:18] han-f opened #426 "Tags get lost when tables are moved from model_draft to another schema"
We had tagged each of our KSz2050 tables in the  model _draft schema. Now that tables have been moved to the scenario schema all tags are gone.
However, they are still visible under the most popular tags list.
Is there a way this can be fixed ex-post? It would involve quite some work to tag all of the tables individually again.

[2019-09-03 15:56] christian-rli commented on #426
Sorry about the (hopefully temporarily) lost work @han-f . I'm not sure how tags are stored. There are a couple issues revolving around tag-storing / tag-setting: #160 #390

I believe the information was lost, because I used sql to move the tables. Is it possible to move tables to schemas (other than model_draft) via api or dialect now @MGlauer ?

[2019-09-03 16:01] MGlauer commented on #426
The registers the table inside the meta_table `public.tables`. Tags are attached to those registers. Thus it should be sufficient, if you update the table registers's schema foreign key. **BUT**: It might be that the OEP already registered this new table. in this case you have to delete this register.

[2019-09-03 16:22] l-emele commented on #426
So it is best to currently not assign new tags until issues #160 and #390 are resolved?

[2019-09-03 16:45] christian-rli opened #427 "Missing OEP-Metadata v1.4 Support"
Uploading metadata in version 1.4.0 to the OEDB won't result in a correct display thereof. Only uploading a comment in version 1.3 will be rendered correctly. This was mentioned in a few other issues already (https://github.com/OpenEnergyPlatform/data-preprocessing/issues/26 https://github.com/OpenEnergyPlatform/data-preprocessing/issues/27), but did not get its own issue as far as I can see.

[2019-09-03 17:15] christian-rli commented on #426
Thanks for the advice @MGlauer . I updated the register and now the tags are displayed correctly for the table in the new schema.

[2019-09-04 12:45] han-f commented on #426
Many thanks @christian-rli. @MGlauer: do you know what leads to the tags being displayed under popular tags, but when clicking them none of the tables with the corresponding tag shows up? Seems to hold true for all tags related to the tables in this issue.

[2019-09-05 13:05] jh-RLI commented on #411
@christian-rli Would [this](https://openenergy-platform.org/dataedit/) be an appropriate location? I could add another Tutorial section and list the metadata tutorial/description there.

[2019-09-09 08:59] l-emele commented on #412
Created table and uploaded to OEP: https://openenergy-platform.org/dataedit/view/model_draft/szenariendb_gwp. The table has an improved structure compared to my previous comment:
* id
* greenhouse_gas
* gas_group
* chemical_formula
* ipcc_report
* source
* time_horizon
* global_warming_potential
* inequality_sign

Due to open legal questions the table currently holds only a subset.

[2019-09-09 09:16] l-emele commented on #412
The table was created and uploaded. Metadata is in review: https://github.com/OpenEnergyPlatform/data-preprocessing/issues/40. So I close this issue.

[2019-09-09 09:16] #412 closed

[2019-09-09 11:30] christian-rli commented on #321
Sorry @jh-RLI . That column was ambiguous. Checkmarks in there only meant that a person in charge was selected.

[2019-09-09 12:30] christian-rli commented on #297
I can confirm that this is done in #382 . A mouseover over a table column header displays its description from the metadata.

[2019-09-09 13:21] Bachibouzouk commented on #413
@MGlauer - we labelled quite a few issues with the '? Can be closed ?' label. I think only you have the knowledge whether those can effectively be closed or not. The best would be to link the issues with the commit which solved them, but if it is too time consuming, just closing the issue will already help :)

[2019-09-09 13:30] Bachibouzouk commented on #297
@MGlauer - this issue is addressed in #382. However #382 has conflicts and cannot be merged into develop. @wingechr - could you solve the conflicts ?

[2019-09-09 15:19] christian-rli commented on #411
A redesign / restructuring of the website is on its way @jh-RLI . @bmlancien is working on a sketch. Once the new structure implemented we can link the description at a prominent location. We can also link it at the beginning of the metadata view below every table, but that'll have to wait until version 1.4.0 is actually supported on the platform. There is an [active issue for the latter](https://

[2019-09-16 11:28] MGlauer commented on #381
The oep setup does no longer require a dump.

[2019-09-16 11:28] #381 closed

[2019-09-16 11:31] MGlauer commented on #363
Has been closed in ca2e63d53

[2019-09-16 11:31] #363 closed

[2019-09-16 11:32] #349 closed

[2019-09-16 11:33] MGlauer commented on #309
@Ludee Is this part of metadata version 1.4?

[2019-09-16 11:35] #207 closed

[2019-09-16 11:36] #212 closed

[2019-09-16 11:39] #93 closed

[2019-09-16 11:41] #21 closed

[2019-09-16 11:41] #22 closed

[2019-09-16 11:41] #30 closed

[2019-09-16 11:41] #36 closed

[2019-09-16 11:41] #37 closed

[2019-09-16 11:41] #38 closed

[2019-09-16 11:41] #46 closed

[2019-09-16 11:41] #50 closed

[2019-09-16 11:41] #56 closed

[2019-09-16 11:41] #72 closed

[2019-09-16 11:41] #74 closed

[2019-09-16 11:41] #77 closed

[2019-09-16 11:41] #78 closed

[2019-09-16 11:41] #82 closed

[2019-09-16 11:41] #83 closed

[2019-09-16 11:41] #84 closed

[2019-09-16 11:42] #60 closed

[2019-09-16 11:42] #152 closed

[2019-09-16 11:42] #156 closed

[2019-09-16 11:51] #383 closed

[2019-09-16 11:58] Ludee commented on #309
Good question. This is not part of the new version 1.4.0.
We decided against it because we don't yet have a concept of what a "dataset maintainer" has to do.
We will put that on the list for the next metadata version.

[2019-09-16 12:48] Bachibouzouk commented on #413
@MGlauer - thanks for closing many issues !!! \o/

[2019-09-16 13:20] Ludee commented on #260
I have one small comment on the last icon.
It should be "Under version control", "Version controlled", "With revisions" not "GitHub".
I think it means, that the data history can be tracked.

[2019-09-16 14:34] Ludee commented on #230
I will discuss this with @bmlancien so it will be part of the new design.

[2019-09-16 14:35] #366 closed

[2019-09-17 06:14] stap-m commented on #260
Good point @Ludee, "version controlled" or else would be better. The first eyecon refers to the "review process"

[2019-09-17 11:43] bmlancien commented on #424
![OEP-Processing](https://user-images.githubusercontent.com/33999424/65038816-1b977580-d951-11e9-9d9d-a9c58e629ce5.png)
![Closed_Transparent_Open_Science_Diagram](https://user-images.githubusercontent.com/33999424/65038827-1e926600-d951-11e9-896c-06e5a411eefb.png)

[2019-09-18 09:19] Ludee commented on #424
I have some minor feedback about the two images:

- The circle could be a little thicker
- add a colour code (black: not published or published withou open license; grey: published without open licenses; blue: published with suitable open licenses)

[2019-09-18 12:53] christian-rli commented on #297
addressed in #430 (see #382 ).

[2019-09-18 12:53] #297 closed

[2019-09-19 08:11] bmlancien commented on #424
![OEP-Processing](https://user-images.githubusercontent.com/33999424/65225634-c3ce4b00-dac5-11e9-8f3a-a66cd6efac09.png)

![Closed_Transparent_Open_Science_Diagram](https://user-images.githubusercontent.com/33999424/65225641-cb8def80-dac5-11e9-954e-cf03517565e0.png)

[2019-09-19 09:35] Ludee commented on #424
Thank you! @bmlancien
Of course, I have additional minor changes:

- color code: Black: Not published
- 1 row: data->model->data in black; plots in grey

Can you please provide high res files with transparent background?
I will directly use them on a poster I have to finish today ;)

[2019-09-20 08:51] stap-m commented on #157
This issue is confusing :confused:
Is it already solved? Then,please close. Else, comment on what is missing @christian-rli or @Bachibouzouk. Thanks.

[2019-09-25 08:58] christian-rli commented on #157
The issue asks for a reminder that individuals are only allowed to upload open data to the OEP. This should be done so that people are aware of what this platform is about and so that the platform won't get in trouble because people upload copyrighted material.

There should be a page on the OEP that explains what data is allowed to be uploaded (and why). [This page](https://openenergy-platform.or

[2019-09-30 09:23] han-f opened #435 "Popular tag links lead to empty or partial listing of tables"
The tags being displayed under _popular tags_ that relate to tables  with the prefix _ksz2050_r2__ lead to either "no matches found" or results that do not include the tables with mentioned prefix

"No matches found" for these tags:
BMU
Climate Protection Scenario 2050
KSz2050

Results show, but do  NOT include _ksz2050_r2__  tables for these tags:
Datenlizenz Deutschland - Namensnennung
Germany
2

[2019-09-30 09:24] han-f commented on #426
yes, can be closed - I have created issue #435 for the partial problem of popular tags leading to empty results.

[2019-10-06 17:52] Ludee opened #436 "Implementing reworked OEP-Layout"
Please implement new design before Tu 8.10.2019!

[2019-10-06 21:10] Bachibouzouk commented on #436
@Ludee Link to new design guidelines and/or PR?

[2019-10-07 07:39] Ludee commented on #436
@johannwagner and @MGlauer need to roll out a new release.
I guess this is the branch with the reworked layout designed by @bmlancien
https://github.com/OpenEnergyPlatform/oeplatform/tree/fix/design-rework-welcome-page

[2019-10-07 09:05] #387 closed

[2019-10-07 11:49] 4lm opened #439 "Can't run tests without errors locally"
Hi all,

pytest seems to work with travis/tox on GitHub, but I can't get pytest locally to run without errors.

First I did run (venv enabled) `pytest`, but it was nagging that

so I did run it with `DJANGO_SETTINGS_MODULE="oeplatform.settings" python -m pytest`, but I still get (different errors), now its complaining that

For complete error output see this [gist](https://gist.github.com/4lm/cb69

[2019-10-07 12:02] 4lm commented on #439
Mhh, pytest seems not to be the right choice for testing in this case, in the tox file I could see that. It uses the django test command for executing the tests. So I did `python manage.py test --no-input` (venv enabled). But I still get errors. For complete error output see this [gist](https://gist.github.com/4lm/9b76ea736c9cf2d9440c4122bed7cc2b). Thx!

[2019-10-08 14:10] 4lm commented on #427
@Bachibouzouk created a feature branch for this: https://github.com/OpenEnergyPlatform/oeplatform/tree/feature/metadata_v1_4
I also work on this branch.

@Bachibouzouk also already created a pull request for this, in which we will discuss the progress until the branch is ready for merging: https://github.com/OpenEnergyPlatform/oeplatform/pull/441. So please head there, if you need further insides!

[2019-10-08 15:32] l-emele opened #442 "Translate German text on contact page"
On the [contact page](https://openenergy-platform.org/contact/) there is some German text to be translated to English:

[2019-10-09 07:15] l-emele opened #444 "Metadata is not correct properly since update to v.0.5.0"
Since the update of the platform to version 0.5.0 metadata of some tables is not displayed correctly.

Examples are:

https://openenergy-platform.org/dataedit/view/model_draft/ego_grid_pf_hv_result_line

![grafik](https://user-images.githubusercontent.com/36884905/66459337-22f3ff80-ea75-11e9-844c-cdbca0fc6d72.png)

https://openenergy-platform.org/dataedit/view/scenario/ksz2050_r2_ams2012_electrici

[2019-10-09 07:36] christian-rli commented on #444
@Bachibouzouk is currently working on support for display of metadata version 1.4.0. I'm not sure if this is related, but there might lie a few issues like this ahead of us for a short while. But in the end it should work like a charm 🌈

[2019-10-11 05:22] han-f opened #445 "Links to scenario factsheets lead nowhere"
Clicking any scenario name on https://openenergy-platform.org/factsheets/scenarios/   leads to "nowhere", see screenshot:

![grafik](https://user-images.githubusercontent.com/36844029/66626186-96be1580-ebf7-11e9-9179-faf1dfdc36c3.png)

[2019-10-11 05:55] han-f commented on #401
This is related to #445 and should remain open until the scenario information shows up again to see whether it has been fixed.

[2019-10-11 10:43] Bachibouzouk commented on #444
It is not related since our current changes are not merged into master, and therefore cannot affect the current version.

However I can say that this is the display one gets when there is an error in during the loading of the  metadata form the database.

Hopefully #441 will fix this problem!

[2019-10-11 10:50] MGlauer commented on #427
I just noticed this issue. Are you aware of the omi-tool that processes the metadata formats? If you restructure the metadata handling this should probably be included.

[2019-10-11 11:20] Bachibouzouk commented on #427
@MGlauer - yes I know about omi-tool, however the documentation on how to use it is not describing how one can use it otherwise than in command line with input files. Is there a way to do `omi.parse_to_v1_4(metadata.json or metadata_python_dict)` ?

More generally I find confusing as a user how scattered is the documentation about the metadata templates (there is some in OMI, there is some in oepl

[2019-10-11 13:09] MGlauer commented on #427
If we want to use `jsonschema`, I would propose to include it in OMI.

[2019-10-11 13:21] MGlauer commented on #427
I agree, but would move this discussion [to another ticket](https://github.com/OpenEnergyPlatform/organisation/issues/26).

[2019-10-15 21:03] Bachibouzouk commented on #445
@solar-c - once your PR #440 is merged, can you look at it ?

[2019-10-15 21:04] Bachibouzouk commented on #439
I think you can do `tox -v`

[2019-10-15 21:08] Bachibouzouk opened #446 "Python version described in readme is not the same as inside the tests"
The readme says the version is 3.4, however the tests are performed with 3.5 and I could successfully deploy the website locally with 3.6.
We should address which version is the correct one and explain why we don't use version 3.6 or 3.7.

[2019-10-15 21:08] Bachibouzouk commented on #446
@MGlauer - what do you think?

[2019-10-18 11:11] 4lm commented on #439
:thinking: This also does fail (this time on JS):
[code]

[2019-10-18 11:16] 4lm commented on #341
I'm improving the metadata edit view and this issue seems the right issue for it. Work is done on this branch: https://github.com/OpenEnergyPlatform/oeplatform/tree/feature/improve-meta-edit-view-ux

[2019-10-21 12:13] #85 closed

[2019-10-21 12:13] #401 closed

[2019-10-21 14:00] 4lm opened #448 "Where is the branch of the design that is hosted on https://openenergy-platform.org/ ? #447 #434"
Hi all,

please help! Right now I'm working on the modularization of the template block tags usage #447. Which also effects the revamp of the design #434. But the design on #434 doesn't seem to be version on https://openenergy-platform.org/ (which seems more up-to-date). So my question is, where is the branch/release etc. of the version on https://openenergy-platform.org/?

[2019-10-21 14:05] #427 closed

[2019-10-21 14:09] Bachibouzouk commented on #442
@l-emele - Write in the PR which closes the issue "Closes #<issue number>" this way the issue is closed automatically when one merge the changes. Right now the issue was marked as solved but the changes are not yet incorporated. I reopen the issue now so that it can be closed automatically.

[2019-10-21 14:10] #442 closed

[2019-10-21 14:13] Bachibouzouk commented on #436
@MGlauer : according to https://openenergy-platform.org/, this can be closed. However, it would be good to have a link to a pull request or the name of a branch listed in this issue so we can see what was done to tackle the issue.

[2019-10-21 16:43] 4lm commented on #448
Just found the issue,

instead of using the static tag for loading some resources hard coded paths where used: [Link to code](https://github.com/OpenEnergyPlatform/oeplatform/blob/master/base/templates/base/base.html#L11-L15).

That's why a hand full of JS files where not found, because their relative path to static was hard coded instead. Which resulted in a different looking design. I had to col

[2019-10-21 16:53] 4lm commented on #448
:thinking: Blame shows that the static files are 3 years old on `master`, they are not in the `develop` branch. So the redesign seems to be based on `master` and not `develop` and is using this (outdated?) JS files, which are not present in the `develop` branch ... interesting! Or am I missing something?

[2019-10-21 17:18] johannwagner commented on #448
I am not sure, where I branched from.
I did not use “static” from Django, but used absolute paths, will fix this later.

[2019-10-22 08:53] MGlauer commented on #448
No, it is the other way round. The files were removed from dev but are still present on master. `git bisect`shows that this happened in d5436e04f1.

The redesign was based on dev, but due to a `git cherry-pick` it appears on master as if it was not. In fact, there are now two redesigns in the git history due to that. The original redesign can be found in fix/design-rework-welcome-page. It has not

[2019-10-22 12:53] 4lm commented on #448
OK, perfect, now I understand! I had tried `master` and `v0.0.5`, but not `fix/design-rework-welcome-page`. Just tried it, looks good!

@johannwagner, no fix needed!

Will close this issue.

[2019-10-22 12:53] #448 closed

[2019-10-29 15:57] l-emele opened #453 "Broken link on schemas page"
On the page https://openenergy-platform.org/dataedit/schemas there is the following text containg a link:

Folllowing the link to https://github.com/openego/oeplatform/blob/feature/impressum/README.md results in an 404 error of GitHub.

[2019-10-31 10:31] Ludee commented on #403
OPSD is not open data (has no open license). The table exists in the back-end but is not granted for public view! The "Not found" should be redirected to the metadata without data.

[2019-10-31 15:55] tillmo opened #454 "present jupyter notebooks (e.g. for data upload) executable online"

[2019-11-07 12:48] Izzet91 opened #455 "Bug OEP Scenario Factsheets"
@Bachibouzouk
it's not possible to open the Scenario Factsheets on OEP

[2019-11-07 15:54] 4lm commented on #455
Duplicate of: https://github.com/OpenEnergyPlatform/oeplatform/issues/445

[2019-11-07 15:54] #455 closed

[2019-11-07 17:08] Bachibouzouk commented on #439
The solution was to install `npm` locally

[2019-11-07 17:08] #439 closed

[2019-11-07 17:18] Bachibouzouk opened #456 "Data versioning is not visibly in place"
There are many issues linked to this issue, I opened this one to have one place to look at

- [x] Design suggestions #147

- [x] Design suggestions #134

- [x] Link between website and DB for versioning #149

- [x] Add rows in table using recline #109

- [x] Make table creation more robust by checking for duplicated column names and PK field #1032

[2019-11-07 20:48] Ludee commented on #408
I usually use `double precision` in postgres. It is the worry free option until 14 decimal digits (covers 99% of all data).
I remember a discussion that there is no equivalent data type in python and thus in the API and oedialect.

[2019-11-08 11:49] MGlauer opened #457 "Scenario factsheets cannot be created"
`GET /factsheets/scenarios/add/` results in the following exception.

`django.db.utils.ProgrammingError: column modelview_energymodel.generation_renewables_bio does not exist
LINE 1: ...view_energymodel"."generation_renewables_biogas", "modelview...`

According to a git-bisect, this was introduced in 0929d4828f4c

[2019-11-08 17:24] Bachibouzouk commented on #411
@4lm is working on the metadata here : https://github.com/OpenEnergyPlatform/metadata

[2019-11-11 11:06] l-emele opened #459 "SSL certificate expired"
My browser warns me that the SSL certificate of https://openenergy-platform.org/ expired yesterday.
![grafik](https://user-images.githubusercontent.com/36884905/68582587-6201e000-047b-11ea-8acf-cfde0abfd0ef.png)

[2019-11-11 11:11] MGlauer commented on #459
I informed the administrator

[2019-11-11 11:29] MGlauer commented on #459
Should be updated now

[2019-11-11 11:32] l-emele commented on #459
Warning disappeared.

[2019-11-11 11:32] #459 closed

[2019-11-12 13:22] MGlauer commented on #457
Looks like there is a migration missing. @solar-c could you commit and push this migration?

[2019-11-13 11:59] wingechr commented on #396
The issue can not be fixed in the platform code, but only on the server configuration.

[2019-11-13 18:22] Ludee commented on #436
@johannwagner What's the status of the redesign? Is it done with https://github.com/OpenEnergyPlatform/oeplatform/pull/458 and https://github.com/OpenEnergyPlatform/oeplatform/commit/58c05403eb9057822c374628e6fce4c9cee55b6f?
This issue is behind deadline, please communicate if you need any help.
Are you coming to the working session tomorrow 14.11?

[2019-11-13 18:56] johannwagner commented on #436
I implemented the Welcome page. I won’t be at the Hackaton. @MGlauer does have all information.

[2019-11-14 08:30] wingechr commented on #314
first draft (without validation of metadata) implemented in 21b72eb93f5fa232d

[2019-11-14 08:31] #317 closed

[2019-11-14 09:00] Ludee commented on #445
Looks like a problem of the responsive functions. when zooming it seems to work at some point.

[2019-11-14 09:01] MGlauer opened #462 "Add subpages for Tutorials"
Implement the subpage for tutorials including pages for the three defined tutorial types:

- [x] Jupyter Notebooks
- [x] Text-based Tutorials
- [x] Video-based tutorials

[2019-11-14 09:02] MGlauer commented on #462
@Ludee: Can you add the mock-up

[2019-11-14 09:23] MGlauer opened #463 "Implement redesign for data schema"
Implement the mockup for the data view. The current mock-ups (see below) show only the view of all tables inside a schema.
The overview of all schemas should be a tile view with a tile and a verbose description for each schema (supplied by @Ludee).

![2019_09_26_OEP_DB](https://user-images.githubusercontent.com/7835111/68842767-3d01ad00-06c7-11ea-8753-e70463df7e21.png)

[2019-11-14 09:56] MGlauer commented on #462
Tutorial overview
![2019_09_26_OEP_Tutorials](https://user-images.githubusercontent.com/7835111/68846472-6faea400-06cd-11ea-953f-1910490b47fb.png)

[2019-11-14 09:59] MGlauer commented on #462
Video tutorial:
![2019_09_26_OEP_Tutorials (1)](https://user-images.githubusercontent.com/7835111/68846515-85bc6480-06cd-11ea-9f42-668d2db743ac.png)
Text-tutorial
![2019_09_26_OEP_Tutorials (2)](https://user-images.githubusercontent.com/7835111/68846554-91a82680-06cd-11ea-8217-4d51105693f5.png)

[2019-11-14 10:42] Bachibouzouk opened #464 "An experienced python user could not deploy the website locally"
We should go through the first install steps one more time for

- [x] on linux

- [ ] on windows

[2019-11-14 12:21] christian-rli opened #466 "Tabs and Spaces are mixed in securitysettings.py.default"
Indentation is inconsistent. Use spaces for everything.

[2019-11-14 13:11] jh-RLI commented on #464
On windows after creating the environment one needs to run this:
`conda install -c conda-forge shapely`

and also remove from requirements.txt:
* shapely>=1.5.17

before installing the dependencies in requirements.txt.

[2019-11-14 13:34] Bachibouzouk opened #468 "There is no CONTRIBUTE.md file"
This is useful to describe the developer workflow

[2019-11-14 14:19] jh-RLI commented on #464
To set the environment variable on windows via cmd one need to input:
 `cmd/v`
and then input:
`set varname=var`

[2019-11-14 14:41] jh-RLI commented on #464
It´s better to use the GUI -> Explorer -> right click "computer" -> select property -> select "Erweiterte Systemeinstellung" -> select "environment variable" -> Systemvariable click "new..."

[2019-11-14 16:26] #464 closed

[2019-11-14 16:31] Bachibouzouk commented on #466
Closed in #465

[2019-11-14 16:31] #466 closed

[2019-11-14 16:47] Bachibouzouk commented on #445
The problem seems to come from the class 'navbar' `position` attribute which is set to relative

[2019-11-14 16:57] Bachibouzouk commented on #457
The migrations are located on #440 apparently, I will merge current `develop` in this branch and merge it back to `develop`

[2019-11-14 17:20] Bachibouzouk opened #471 "The factsheet changes are not documented in the changelog"
@solar-c : can you update `version/changelogs/current.md` with the changes made in this PR?

_Originally posted by @Bachibouzouk in https://github.com/OpenEnergyPlatform/oeplatform/pull/440#issuecomment-544536683_

[2019-11-14 17:31] bmlancien commented on #445
I can see that the problem is resolved if I remove the Bootstrap CSS grid classes:

`col-lg-8 col-lg-offset-1 col-md-9`
`col-md-3`

But I don't know how these classes work and there must be a reason why they were included into that template.

[2019-11-14 18:06] Bachibouzouk opened #472 "The requirements.txt file might have useless dependencies"
So far I found

- [ ] djangoajax as the `@ajax` tag is not used in the templates

[2019-11-14 18:13] #90 closed

[2019-11-14 18:13] #94 closed

[2019-11-14 18:13] #95 closed

[2019-11-14 18:13] #100 closed

[2019-11-14 18:16] Bachibouzouk commented on #472
It would also be nice to the rationale behind the rather strict version numbers of the dependencies

[2019-11-14 18:26] Bachibouzouk opened #473 "The tables are not automatically created for first deploy"
## Problem

After following the instructions in the readme, the website main page renders but all links lead to errors.

[2019-11-14 18:36] Bachibouzouk commented on #473
I had forgot to run the alembic setup

[2019-11-14 18:36] #473 closed

[2019-11-15 07:56] MGlauer commented on #445
Maybe @johannwagner can help

[2019-11-15 08:57] johannwagner commented on #445
I will take a look, will report back.

[2019-11-15 09:08] johannwagner commented on #445
Okay, I would like to debug this and tried to create a scenario factsheet.

![Screenshot from 2019-11-15 10-07-24](https://user-images.githubusercontent.com/12380026/68930995-e1e7bd00-078f-11ea-80fe-3494f0714cc3.png)

@MGlauer

[2019-11-15 10:04] Bachibouzouk commented on #445
@johannwagner You should pull the newest version of `develop`

[2019-11-15 10:12] Bachibouzouk opened #474 "There is no structure to run selenium based tests on the website"

[2019-11-15 10:15] Bachibouzouk opened #476 "There is no automated way to check the links of the website work"
## Problem
When doing release we have to manually check every pages to see if it works

## Proposed Solution

- [ ] Check the links with https://github.com/bartdag/pylinkvalidator

- [ ] Have mocks for POST requests

[2019-11-15 10:24] Bachibouzouk commented on #446
@MGlauer can we change this to python 3.6 and 3.7 ?

[2019-11-15 10:26] Bachibouzouk commented on #462
What about the work done in #391 ?

[2019-11-18 11:20] #259 closed

[2019-11-18 15:37] Dhruvin14 commented on #122
@Bachibouzouk  Is it not possible to decrease the width of database columns?

[2019-11-18 15:59] Dhruvin14 commented on #332
@MGlauer
Which approach is appropriate for the large database?

[2019-11-18 16:02] Bachibouzouk commented on #122
One would have to look in the recline.js options in [dataview.html](https://github.com/OpenEnergyPlatform/oeplatform/blob/develop/dataedit/templates/dataedit/dataview.html).

Are you confortable in `javascript` @Dhruvin14 ?

[2019-11-18 16:22] wingechr commented on #335
Can someone please clarify this:

* What is the `wrong` format?
    * data types
    * number of columns
    * json data structure?

[2019-11-19 08:33] MGlauer opened #478 "There is no backend for tutorials"
We need a backend that handles the tutorials. @johannwagner will do the design. Therefore in this issue we need a new django app `tutorials` that contains a new model that stores text in a markdown format.
The data in this modeld will be managed by a view that handles `GET`, `POST` requests for templates that receive text in markdown, validate them (look out for injections!) and saves them in said

[2019-11-19 10:30] MGlauer commented on #332
*IF* we limit the indexing to Columns that contain just text (`TEXT`, `VARCHAR`, etc) solution 2 would be the best. BUT: As @klarareder pointed out, this has to be updated after every change and updating the whole index might take long - depending on how it is implemented.

Indexes spanning multiple tables are not possible in any current SQL-Dialect that I know. Therefore we have following possibi

[2019-11-19 11:42] johannwagner commented on #478
Please use https://github.com/OpenEnergyPlatform/oeplatform/tree/feature/tutorials to implement model and custom logic. I will work on the same branch while implementing view and some other logic to add content of https://github.com/OpenEnergyPlatform/examples to the platform.

[2019-11-19 11:45] johannwagner commented on #462
I do not really have a clue regarding #391. It seems, that @klarareder started to write down some tutorial, but I think, this is not relevant anymore due to the possibility to create tutorials in the backend.

@MGlauer

[2019-11-19 11:54] MGlauer commented on #462
Yes, @klarareder created a tutorial page. We will transfer this page to the new format implemented by @jh-RLI in #478. The problem is, that the approach we used there is not flexible enough to support the community-approach we plan for the OEP.

[2019-11-19 12:59] Bachibouzouk opened #479 "There is no structure documentation of the website"
It would be good to know what is meant to be in each of these folders. So that people making improvement know where to store them according to the given structure. Or people know in which folder to look to make modifications

- [x] api
- [ ] base
- [x] dataedit
- [ ] docs
- [ ] literature
- [x] login
- [x] modelview
- [ ] oedb_datamodels
- [ ] oeplatform
- [ ] tests
- [ ] version

[2019-11-19 13:23] MGlauer commented on #479
Some of this is [already documented](https://github.com/OpenEnergyPlatform/oeplatform/blob/develop/docs/source/index.rst). I will extend this.

[2019-11-19 13:33] MGlauer commented on #479
I realised that this documentation is not currently linked in the README.md. I added a badge in #480

[2019-11-19 13:57] Bachibouzouk commented on #479
I transformed the items into check boxes :)

[2019-11-19 14:11] MGlauer opened #481 "Doctests are not included in CI"
Doctests are currently not checked by travis

[2019-11-19 16:04] MGlauer opened #482 "Aliases are not resolved in column matching"
Aliases in from-clauses will cause an error when parsing column elements. There must be a structure that keeps track of aliases while parsing to resolve them appropriately.

[2019-11-19 16:05] MGlauer commented on #481
Done, but tests fail due to #482

[2019-11-19 19:04] MGlauer opened #484 "SQLAlchemy>1.3 requires explicit columns"
The OEP uses strings at some point to represent columns. These must be made explicit as columns for [SQLAlchemy 1.3](https://docs.sqlalchemy.org/en/13/core/tutorial.html#using-more-specific-text-with-table-literal-column-and-column)

[2019-11-20 12:26] Dhruvin14 commented on #122
@Bachibouzouk  I am new with javascript, but I tried to look into recline.js options in dataview.html.

There is a may possibilities to change the width of columns in dataview.html in line no. 72.

<script type="text/javascript" src="https://rawgit.com/okfn/recline/master/vendor/slickgrid/2.2/slick.grid.js"></script>

In this script, variable is defined as a defaultColumnWidth = 80,

I do not know

[2019-11-20 12:58] Bachibouzouk commented on #122
If you don't know javascript maybe it is better that you tackle other issues :)

Our dependence on recline.js might be modified as well if we update to Bootstrap 4 so I would wait a bit before tackling this issue

[2019-11-20 13:52] Dhruvin14 commented on #332
As of 1st and 2nd, both approaches take lot processing time while updating a table using ts_vectors so; we could have an only 3rd possibility for searching a text in large dataset!

[2019-11-20 14:11] Dhruvin14 commented on #369
@Bachibouzouk  Are these issues #248, #125, #299  related with new updates of Bootstrap 4?

[2019-11-20 14:28] #342 closed

[2019-11-20 14:32] Bachibouzouk commented on #369
@Dhruvin14 - I am not sure, @MGlauer or @johannwagner might know better

[2019-11-20 18:14] Ludee opened #486 "Some major packages need to be updated"
Identified packages that need an update:

- Bootstrap 3 -> 4
- Django [1.11 (LTS: Supported until at least April 2020) ](https://www.djangoproject.com/weblog/2017/apr/04/django-111-released/)
-> [2.2 (LTS: Supported until at least April 2022) ](https://docs.djangoproject.com/en/dev/releases/2.2.3/)
-> [3.0 (UNDER DEVELOPMENT)](https://docs.djangoproject.com/en/dev/releases/3.0/)
Under test in #485

[2019-11-21 14:18] #468 closed

[2019-11-21 14:21] Bachibouzouk opened #487 "Windows fresh install has problems with packages"
## Problem
the package shapely cannot be pip installed

## Solution
Install shapely with conda-forge

[2019-11-21 14:26] #487 closed

[2019-11-22 11:59] MGlauer commented on #486
Tables use recline, too
- datatables

[2019-11-22 16:08] Bachibouzouk commented on #486
I am not sure what you mean? Is it a problem statement? or a todolist?

[2019-11-22 16:08] Bachibouzouk commented on #486
https://github.com/OpenEnergyPlatform/oeplatform/tree/feature/recline_alternatives

[2019-11-22 16:12] MGlauer commented on #486
That is a continuation of @Ludee's List

[2019-11-22 16:23] MGlauer commented on #486
Ok, I [replaced the tables](https://github.com/OpenEnergyPlatform/oeplatform/tree/feature/recline_alternatives) as @Bachibouzouk pointed out. Additionally, I also replaced the map-functionality. This whole process had some implications:

- Tables and maps are now displayed at the same time - Only the data displayed in the table is displayed in the data (thereby circumventing #369).
- I integrated

[2019-11-26 07:58] MGlauer opened #491 "There is no graph library for bootstrap4"
As described in #486 map and table functionalities have been replaced by more modern libraries. The old graph functionality is not yet implemented, though.

[2019-11-26 14:41] MGlauer opened #492 "Table `api_constraints` is not in migrations"
The table is required by some API functionalities, but is not covered by alembic yet.

[2019-11-26 14:43] #482 closed

[2019-11-26 16:54] MGlauer opened #494 "The data versioning does not track change types"
Change tables do not store the types of changes. "_type" has to be injected into queries

[2019-11-27 11:05] Bachibouzouk opened #496 "A script to create a dummy datatable for dev purposes is lacking"
# Problem

After a fresh install it would be nice to run a script which would create a few example table with the test user credentials.

[2019-11-27 11:08] #494 closed

[2019-11-27 11:15] solar-c commented on #471
done @Bachibouzouk

[2019-11-27 11:15] #471 closed

[2019-11-27 11:38] Bachibouzouk commented on #496
@wingechr, @gnn wouldn't you be able to do so in no time :)

[2019-11-27 14:57] Bachibouzouk commented on #491
The new functionality should to to `backend.js`. It should retrieve the data via AJAX and create a plot in a div in dataedit/templates/dataedit/dataview.html.

[2019-11-27 15:02] MGlauer commented on #496
Data we need for testing:
* Some geo data for the maps (Points, Polygons)
* some time series for the graphs

[2019-11-27 15:04] MGlauer commented on #491
Below is how the old plot function looked like. The new one should follow a simiar scheme but usability improvements are always welcome. Maybe we should also integrate a filter functionality as in #498.

![image](https://user-images.githubusercontent.com/7835111/69734443-45c69a00-112f-11ea-9647-a489245c547b.png)

[2019-11-27 15:16] Bachibouzouk commented on #491
I am trying to figure out where is the code which generates this view you show in the comment above @MGlauer. This was done in `dataedit/templates/dataedit/dataedit_overview.html` which you seem to delete and replace by `dataedit/templates/dataedit/dataview.html` in #498

[2019-11-27 15:19] MGlauer commented on #491
This was a recline view. Recline took a dataset and created multiple views. This functionality is not there anymore - as we are replacing recline. Therefore you will not be able to find it. The creation of the graphs was handled by recline internally.

[2019-11-27 15:39] MGlauer commented on #491
The data retrieval should not be too problematic. I can support you here if you want. From my perspective the real issue is that time series is heterogeneous. They can be stored horizontally or vertically (recline supported vertical data only). What we need is a form that allows users to select those series and trigger them to be plotted in the graph. I am not really sure how to design such a form

[2019-11-27 15:44] Bachibouzouk commented on #491
It is not clear to me how I should retrieve the data using AJAX, are you suggesting to use the function `request_data` from `backend.js` @MGlauer ?

The code structure in `backend.js` should be discussed before I implement further functions (it could also have some comments for better reusability...). You seem to have an idea in mind, could you draw it schematically on a piece of paper (i.e. which

[2019-11-27 16:04] MGlauer commented on #491
![_20191127_170007](https://user-images.githubusercontent.com/7835111/69739361-df924500-1137-11ea-9127-7f34c27afb9e.JPG)

[2019-11-27 16:11] Bachibouzouk commented on #491
Thanks for your schema @MGlauer :)

I think @Ludee wanted to be able to create several graphs resulting in a view like this :+1:
![photo5402148022130945170](https://user-images.githubusercontent.com/4399407/69739981-e5d4f100-1138-11ea-865c-33fe0ea28db0.jpg)

[2019-11-27 16:13] Bachibouzouk commented on #491
In case of very large datatables, wouldn't it be too much data for the HTTP call to the server? Should we restrict them by default to 100 values ?

[2019-11-27 16:16] MGlauer commented on #491
Yes, but a limit of 100 random values would not be very usable. This is why I would argue that we include the filter function to give the user some control over which fragment of the database they receive.

[2019-11-27 16:44] Bachibouzouk commented on #491
I included a plotly graph in #499, how would you make such that we don't duplicate the call to the server for the data which we need for the datatable, the graphs and the map?

[2019-11-27 17:19] MGlauer commented on #491
I think this depends in what we want to implement. If we want to cover cover vertical horizontal representations only then we can reuse the data interface. If we want to support vertical series, too, we might need to implement appropriate requests.

[2019-11-28 10:38] wingechr commented on #496
@MGlauer, @Bachibouzouk I would be happy to do that.

Unfortunately, in the current development branch, insertion of data via REST API seems to be broken.

The error thrown is `'IntegrityError('null value in column "_autocheck" violates not-null constraint)` I am still trying to figure out why. I set up my test environment according to the README.md

The same error also occurs when running `python

[2019-11-28 11:10] MGlauer commented on #496
@wingechr This is already fixed and in review.  See #493

[2019-11-28 11:17] Bachibouzouk commented on #496
@MGlauer I approved it yesterday, it can be merged (just add a line in the changelog before)

[2019-11-28 14:04] #492 closed

[2019-12-02 14:12] Dhruvin14 commented on #326
@christian-rli I stored the new table on OEplatform in my test of this issue.  Could you please look into it?

[2019-12-02 14:59] stap-m commented on #335
I found this comment in Redmine:
"Beim Hochladen von Float in eine Integer Spalte kommt keine Fehlermeldung -> hierfür muss ein parser erstellt werden, der überprüft, ob der Datentyp passt"

[2019-12-02 15:43] Dhruvin14 commented on #335
so that means when a user adds float data an integer datatype column then it converts into the integer value, but we want an error and it should not happens.

[2019-12-02 16:23] stap-m commented on #335
Yes. When a user adds float data into an integer column, no error message occurs. But there should be an error message.
A parser is needed to check if the datatype is matching.

[2019-12-03 17:47] #453 closed

[2019-12-03 17:55] #484 closed

[2019-12-03 18:27] Bachibouzouk opened #503 "Few things to change in the Welcome page of the website"
@johannwagner thanks for this PR, 50 changed files, a lot of work I assume! I have a few remarks, if they are solved we are IMO good to go:

1. In the console I get 3 errors that 3 icon fonts are not found.
2. Undefined by mockup: All buttons have a flat design, but the login button has not, should be IMO flat as well.
3. Undefined by mockup: The login button in desktop view is on the left side of

[2019-12-03 19:14] Bachibouzouk commented on #496
@wingechr - #493 is merged into `develop`, you can go ahead :)

[2019-12-05 11:49] Bachibouzouk commented on #481
Now #482 is solved

[2019-12-05 11:57] Bachibouzouk commented on #314
@wingechr, @MGlauer if you are working on this, could you push the branch containing your work and link it to this issue?

[2019-12-05 12:28] #320 closed

[2019-12-05 12:33] Bachibouzouk opened #504 "CONTRIBUTE should be renamed CONTRIBUTING"
Github has some magic for us (notification to new users etc...) when it sees the special name CONTRIBUTING

[2019-12-05 12:51] #504 closed

[2019-12-05 12:57] #481 closed

[2019-12-05 12:59] Bachibouzouk opened #506 "The documentation of the website structure could be improved further"
The structure is available [here](https://oep-data-interface.readthedocs.io/en/latest/index.html) and the source code for the documentation is available [here](https://github.com/OpenEnergyPlatform/oeplatform/blob/develop/docs/source/index.rst)

- [x] api
- [ ] base
- [x] dataedit
- [ ] docs
- [ ] literature
- [x] login
- [x] modelview
- [ ] oedb_datamodels
- [ ] oeplatform
- [ ] tests
- [ ] versi

[2019-12-05 13:01] Bachibouzouk commented on #479
There is a structure now, it is only not complete and will be tracked by #506

[2019-12-05 13:01] #479 closed

[2019-12-05 13:02] Bachibouzouk commented on #445
@johannwagner, any news on this one?

[2019-12-05 13:05] MGlauer commented on #314
This was delayed due to #484 and #502. Now I can go back to testing this

[2019-12-05 13:26] 4lm commented on #496
Yes, I need this (dev data)! Thanks @wingechr for working on this!

[2019-12-05 13:29] 4lm commented on #496
If the test data also could contain geodata, this would be nice!

[2019-12-05 13:31] Bachibouzouk commented on #496
@wingechr - we are now (at least) two people awaiting this feature :), when do you think you can do it?

[2019-12-05 15:35] MGlauer opened #507 "Postgis datatypes are not passed in column descriptions"
When calling `GET /api/v0/schema/<schema>/tables/<tables>/columns` Postgis datatypes are passed as "USER-DEFINED" instead of a usable name.

[2019-12-09 13:09] Ludee commented on #491
I think we should implement a light version of the graphs now. It is more important to have a small feature that works for all the tables than some specials that will crash sometimes.
From my perspektive, the prio is:

1. Display of the data in a table
1. Plat the data on a map (points, lines, polygons)
1. Plot some value

[2019-12-09 16:07] Bachibouzouk opened #508 "The windows install instructions failed with a user"
## Problem

the environment variables defined in command line were only updated after reboot of the system

## Proposed solution

write in the README that it is advisable to set the environment variable via menus (could use this [link](https://www.computerhope.com/issues/ch000549.htm))

[2019-12-10 11:19] Dhruvin14 commented on #362
@stap-m, Which text need to be added here or is there documentation for that?

[2019-12-10 22:30] #508 closed

[2019-12-11 09:59] Bachibouzouk commented on #496
@wingechr, @MGlauer - isn't this something you can do fast? To quickly make some tests it would be very useful (and also very good that we all use the same reference test datasets)

[2019-12-12 07:34] stap-m commented on #362
'Scenario log' doesn't seem to be part of the front page anymore.
This issue has to wait until the redesign is completed.

[2019-12-12 12:08] Bachibouzouk opened #512 "How the data is displayed in dataedit is not clear yet"
#Design idea A

------------------------------------------------------------------
section table
- datatableview-default

------------------------------------------------------------------

section map or graph
[add new map view] [add new graph view]

------------------------------------------------------------------

#Design idea B

----------------------------------------------------------------

[2019-12-12 14:01] christian-rli commented on #513
A good way of doing this is to build upon the form already supplied for editing metadata. Default values and fields can be generated when loading the page of a data set. Those values should include all the information that is included in the dataset itself - i.e. the name of the dataset and its resources, including data type.

[2019-12-18 14:04] MGlauer opened #515 "Group creation fails if name exists"
This causes a HTTP 500 instead of usable feedback

[2019-12-23 11:16] Dhruvin14 commented on #406
This issue is related to #321 and #323 @christian-rli

[2019-12-23 12:08] Dhruvin14 commented on #399
_You are currently viewing the permissions of the table you selected. If you are a logged-in user**,** you can add tags to help improve the identification of this table when searching for it._

Can I implement it?

About tags,
Attachment of tags does not work with schemas. @wingechr  @MaGering
![Screenshot (22)](https://user-images.githubusercontent.com/52157695/71357224-32b7b600-2585-11ea-84cf-5b

[2019-12-23 12:28] Dhruvin14 commented on #398
A search of the table with the name of a table (string) in the schemas does not work on the local server too. @wingechr
![Screenshot (25)](https://user-images.githubusercontent.com/52157695/71358047-ed48b800-2587-11ea-870b-9442c6b76777.png)

[2020-01-06 12:16] christian-rli commented on #326
Thank you for looking into this @Dhruvin14 . I can confirm :)

[2020-01-06 12:16] #326 closed

[2020-01-06 12:45] Dhruvin14 commented on #362
Can we close this issue?
Is it needed to implement scenario log in the new design? @stap-m

[2020-01-07 15:39] Dhruvin14 commented on #404
Can I change it with "How to access the database"? @han-f

[2020-01-08 08:57] han-f commented on #404
Yes, this sounds ok to me.

[2020-01-13 09:52] MGlauer opened #517 "Fontawesome version for django3 is fixed"
fontawesome is broken for Django3. A fix has been implemented but is still pending approval.

[2020-01-13 10:37] han-f commented on #402
The scenario factsheets ideally follow the format we have used to record information about the scenarios we upload(ed) to the database. It lies in Filr under AP 5. Not sure whether we have another ticket on this or where we made this explicit. We had discussed it a few times during project meetings.

[2020-01-13 10:50] han-f opened #518 "Scenario factsheets do not follow structure of "Erhebungsraster""
Currently, the scenario factsheets do not follow the structure we used in the "Erhebungsraster" that we used in WP 5. This raster allows for more elements to be recorded than currently.

See also issue #402

[2020-01-13 11:01] han-f opened #519 "Cannot modify scenario factsheet"
It is not possible to modify a scenario factsheet.
Related to #400.
Same message appears as in #400

[2020-01-13 11:02] han-f commented on #457
Related to #400 and #519

[2020-01-13 12:19] jh-RLI commented on #519
I looked at this and saw that an http 500 error (internal server error) is thrown. In my local oep environment, this error comes from the missing "License" field in the "Energyscenario" model. In modelview/views.py there is the if statement "if model.license: ......" which causes the error. @MGlauer do you see any problems when adding a license field to the model?

[2020-01-13 12:41] jh-RLI commented on #454
See #462

[2020-01-13 12:44] jh-RLI commented on #457
@Bachibouzouk ?Can be closed? since you merged #440?

[2020-01-13 13:01] jh-RLI commented on #409
Deleted the table successfully :)

[2020-01-13 13:01] #409 closed

[2020-01-13 14:39] #457 closed

[2020-01-13 14:50] jh-RLI commented on #400
#457 is already solved and should be included in the next oep release
#519 is the same as your second comment on this issue, am I right? @han-f
To avoid duplicate tissue, I would like to close this issue.

[2020-01-13 15:03] han-f commented on #400
Yes it is. Thanks!

[2020-01-13 15:03] #400 closed

[2020-01-14 16:07] Dhruvin14 commented on #403
@Ludee and @han-f  It would be nice if you can describe the location of OPSD metadata so, I can fix the issue.

[2020-01-21 07:44] christian-rli commented on #185
According to @MGlauer in a project meeting this was already done. Therefore closing this issue.

[2020-01-21 07:44] #185 closed

[2020-01-21 10:45] MGlauer commented on #323
Has been solved in dccd6cf4e

[2020-01-21 10:45] #323 closed

[2020-01-21 10:49] MGlauer commented on #329
Has been solved in d17be7e3

[2020-01-21 10:49] #329 closed

[2020-01-28 13:25] vliste-oeko opened #522 "Glyphicons are not shown with Bootstrap 4"
Wanted to upload a new Factsheet, but button for that feature is missing. However, adding an "/add" to the URL is working.

<img width="444" alt="Missing_add-button" src="https://user-images.githubusercontent.com/53172562/73267679-ce1df580-41d9-11ea-8559-d3dcd0935fca.png">

[2020-01-28 13:29] MGlauer commented on #522
It seems this has been lost in translation due to the removal of glyph-icons from bootstrap4.

[2020-02-03 15:13] vliste-oeko opened #523 "Problems with creating an account"
- clicking "Login" (btw does is need a blank space?)-> "create a new account" -> submitting the first account information -> leaves me with no information about the next steps, only assumed that I would get an e-mail with further instruction and validation link

![Sign_up_Info](https://user-images.githubusercontent.com/53172562/73664148-3750ad80-469f-11ea-91c6-040be1be08e3.PNG)

- after clicking v

[2020-02-03 16:15] MGlauer commented on #523
Huh, this seems to be a malfunction of the axes plugin. I experienced the same when setting up the platform locally. But back then it only occurred once. I will look into it.

[2020-02-05 10:51] christian-rli opened #524 "Search lists tables in sandbox, which cannot be viewed"
A Search in the database also lists tables located in sandbox. Tables in sandbox cannot be viewed on the site, so the user runs into an Error.

`Not Found: The requested URL /dataedit/view/sandboxoman_parameters_load_profiles was not found on this server.`

There should at least be a nice Error site. But I think it would be better if the tables could either not be listed or the listing could conta

[2020-02-05 11:00] christian-rli opened #525 "Search by tag lists table without that tag"
When I conducted a search by tag on the OEP there was a table in my results without that tag. The tag I used was `oemof_heat`. The listed table in question was `oman_parameters_load_profiles`. That table is located in sandbox, so it cannot be shown.
More interestingly to me was that no information in the table itself or its metadata seemed to indicate a connection to oemof_heat. However the connec

[2020-02-11 08:17] johannwagner opened #526 "Missing Schema Description"
We needed the schema description for some more schemas, which are not listed within the wiki.
(https://wiki.openmod-initiative.org/wiki/Database_schema)

+ emission
+ openstreetmap

[2020-02-11 15:49] MGlauer commented on #491
Has been addressed in #499

[2020-02-11 15:49] #491 closed

[2020-02-12 09:57] #404 closed

[2020-02-12 16:52] MGlauer commented on #523
That was hard to figure out and to be honest I did not completely understand it, yet.
It seems that there is a weird combination of settings that only occurs:
1. In production mode
2. If the `django.contrib.auth.backends.ModelBackend` is not activated

I found a configuration of parameters that works, but they are not production ready. I have to figure this out and, therefore, leave this ticket op

[2020-02-13 15:43] MGlauer commented on #523
Adressed this in 3e76b5f

[2020-02-17 15:28] vliste-oeko commented on #523
I can now successfully log in to my previously created account.
However, creating a completely new account produce the following problem:
- the link received in the confirmation e-mail did not work (see screenshots below)
![Conf_email](https://user-images.githubusercontent.com/53172562/74666855-8cfa7f00-51a2-11ea-82bf-5ad6c1afc5b3.PNG)

![URL_Error](https://user-images.githubusercontent.com/531725

[2020-02-17 15:35] MGlauer commented on #523
This does not really look like a problem on the side of the platform. It looks like some HTTP proxy is in between you and the OEP blocking the connection. The IP (130.149.7.69) that refused the connection is part of the tu-berlin subnet. Maybe links from e-mails are blocked?

[2020-02-17 15:47] vliste-oeko commented on #523
Sorry, my mistake! Tried it with a different e-mail address and it worked fine! :)

[2020-02-17 16:00] vliste-oeko opened #527 "Submitting Framework Factsheet works but did not find editing options afterwards (and issues with user-friendliness))"
- interface for submitting a Framework Factsheet is not user friendly yet: different tabs/categories are not properly seperated and its not visible in which category the user is at when filling out the form (see screenshots below):

![Factsheet_Framework](https://user-images.githubusercontent.com/53172562/74668930-8241e900-51a6-11ea-9884-39b09b89574d.png)
![FS_Framework](https://user-images.github

[2020-02-17 16:06] MGlauer commented on #527
This is due to the same issue (missing fonts in bootstrap 4) as in #522. Appending `/edit` should work as a workaround

[2020-02-20 15:34] jh-RLI opened #528 "There is no versionnumber visible on the oep website"
For users and developers of the OEP it would be helpful to have the version number/release-id of the OEP displayed on the website. E.g. in the footer area.

[2020-02-24 13:27] MGlauer commented on #528
I don't know whether this is a good idea. When it comes to [hardening of web servers](https://geekflare.com/apache-web-server-hardening-security/), it is generally discouraged to display the software version of the web server. I do not really see, why this should be different for the web service.
As a compromise, we could show just the major version - maybe the minor version. But going down to pat

[2020-02-24 14:07] jh-RLI commented on #528
That's right security should not suffer as a result. But the oep-code is publicly available anyway? The specification does not have to go beyond the major version. It's only about being able to refer to a version, to discuss improvements or bugs. Especially to show the difference between the oep-test (http://toep.iks.cs.ovgu.de/) environment and the production environment (https://openenergy-platf

[2020-02-26 13:23] jh-RLI opened #530 "The Frontend for scenario-factsheets detail-view is still broken"
This error has been known for several weeks. But I could not associate an issue.

The sfs detail-view is probably broken because of a css rule. In my case I need to zoom in to 200%.
The same problem occurs in the current dev. branch. Is the problem already covered in a PR?

https://openenergy-platform.org/factsheets/scenarios/3/

[2020-02-26 13:25] jh-RLI commented on #530
@Ludee I created this issue from your Redmine-ticket (http://redmine.iks.cs.ovgu.de/oe/issues/1870660628)

[2020-02-28 09:20] stap-m commented on #424
After our meeting yesterday I just took a look on this issue. It already looks quite good to me! I just have some minor comments:
* This sentence "The OEP is a community effort and is constantly evolving." from the general Intro needs to be marked or placed prominently. Maybe we could extend it to something like: "The OEP is a community effort, it is developped openly and therefore is constantly e

[2020-02-28 15:00] MGlauer commented on #436
@Ludee I do not get how this relates to the text missing from the mock-up. Descriptions for the following categories are missing alongside the corresponding links:

* Process Modelling
* Open Science
* OEP-Community

The text above seems to be to a temporary "About OEP" category that we included for the intermediate release.

[2020-03-03 13:14] jh-RLI commented on #526
According to the related Redmine [ticket](http://redmine.iks.cs.ovgu.de/oe/projects/szenariendb/issues?page=3&query_id=85) @han-f can contribute to this.

[2020-03-03 13:16] jh-RLI commented on #526
She's not available right now. I added the description in the wiki.

[2020-03-05 09:06] johannwagner commented on #522
This should be fixed by https://github.com/OpenEnergyPlatform/oeplatform/pull/531

[2020-03-05 15:48] #486 closed

[2020-03-05 16:06] #507 closed

[2020-03-09 09:53] han-f commented on #424
I think it would be good to name the principles.

[2020-03-09 09:58] Ludee opened #538 "Table shows "no data" in dataview"
I need to link the following table: https://openenergy-platform.org/dataedit/view/supply/wind_turbine_library
and the data is not loaded.

I tested `SELECT * FROM supply.wind_turbine_library` and the data is in the oedb.

[2020-03-09 10:26] MGlauer commented on #538
It looks fine for me

[2020-03-09 10:40] MGlauer commented on #530
The error with the blue bar has been fixed during the redesign. The missing scenario factsheets were not an error because on our testserver there were no factsheets at this point in time.

[2020-03-09 10:54] Ludee commented on #538
Yes, seemed like some connection errors.

[2020-03-09 10:54] #538 closed

[2020-03-09 11:28] jh-RLI commented on #530
@MGlauer Okay, is the fix already merged?/ Is there a PR with which I can link this issue?

[2020-03-09 11:31] MGlauer commented on #530
The redesign is still WIP in features/django3

[2020-03-09 13:22] jh-RLI commented on #530
@MGlauer Is it okay if I create a PR for features/django3?

[2020-03-11 09:29] stap-m opened #542 "Write an introduction for the ontology page"
## Open Energy Ontology

Here, the Open Energy Ontology OEO is being created as a domain ontology within the field of energy system modelling. The first release of the OEO is planned for summer 2020.

### Domain ontology: What is that?
An ontology is a formal collection of terms and relationships between those terms. An ontology can thus help to provide a clear understanding of a domain of discour

[2020-03-11 11:00] stap-m commented on #424
I just edited the text above based on my comments.

[2020-03-11 11:10] han-f commented on #542
How about adding/modifying at the beginning:

An ontology is a formal collection of terms and relationships between those terms. An ontology can thus help to provide a clear understanding of a domain of discourse. On the Open Energy Platform this domain of discourse is energy system modelling and with the Open Energy Ontology (OEO) we aim to develop a language that works across disciplines.

[2020-03-11 11:56] Ludee commented on #424
Thanks for updating.
The FAIR principles are more than just 4. I would recommend to not repeat them but rather set a link to this page: https://www.go-fair.org/fair-principles/

[2020-03-11 12:17] han-f commented on #424
Aren't there 4 headings that are then specified in more detail? I think we could name the four headings and provide a link. Like this some main information is visibly provided and further details behind the link..

[2020-03-11 12:51] stap-m commented on #424
This is how I added those 4 to the text.

[2020-03-11 12:53] han-f commented on #424
Yes, I saw this and think this with the link is sufficient. @Ludee what do you think?

[2020-03-11 13:39] stap-m commented on #542
Thanks @han-f .
I added your text. Maybe this is sufficient as introduction and we can leave the part "An ontology consists mainly of classes [...] which capture their exact meaning and applicable scope." aswell, at least for the moment?!

I also added a more detailed description for the use cases. It is based on the slides from the 4th OntoHack meeting (@jannahastings thank you!). Is it written i

[2020-03-11 15:35] MGlauer commented on #542
I created an ontology app that just links to this text. You can edit the text on branch [`features/what-is-ontology-542`](https://github.com/OpenEnergyPlatform/oeplatform/tree/features/what-is-ontology-542) in [`ontology/templates/about.html`](https://github.com/OpenEnergyPlatform/oeplatform/blob/features/what-is-ontology-542/ontology/templates/ontology/about.html).

As this site will probably be

[2020-03-11 17:38] jannahastings commented on #542
Reads well! I committed just a few minor changes directly to the text on Martin's branch.

[2020-03-11 18:19] MGlauer commented on #424
I created a branch for the changes on the "About OEP"-page: https://github.com/OpenEnergyPlatform/oeplatform/blob/features/about-oep-424/base/templates/base/about.html

[2020-03-12 06:38] han-f commented on #542
Yes I think it would be easier on the eye and if we think about this as a means to communicate the essence, then we may not need the details. I have edited the text above accordingly.

[2020-03-12 12:22] han-f opened #544 "The text in imprint is not available in english"
http://toep.iks.cs.ovgu.de/legal/impressum/

[2020-03-12 12:22] han-f opened #545 "The text under legal is not available in english"
http://toep.iks.cs.ovgu.de/legal/datasec/

[2020-03-12 12:23] han-f opened #546 "The text under terms of use is not available in english"
http://toep.iks.cs.ovgu.de/legal/tou/

[2020-03-12 14:34] stap-m commented on #542
Ok. I now comitted it directly to the branch.

[2020-03-12 14:40] stap-m commented on #542
I think, later these explanations should somehow stay, as an addition to the OEO functionalities.

[2020-03-12 18:08] vliste-oeko opened #547 "Added description to my profile but it is not shown afterwards"
![grafik](https://user-images.githubusercontent.com/53172562/76553667-c0c08000-6494-11ea-9680-7106b7cc8283.png)

[2020-03-13 07:20] han-f commented on #546
@MGlauer: not sure who is best to update such a text with legal touch.

[2020-03-13 07:21] han-f commented on #545
@MGlauer: not sure who is best to update such a text with legal touch.

[2020-03-13 08:50] han-f commented on #544
@MGlauer: not sure who is best to update such a text with legal touch.

[2020-03-13 09:03] MGlauer commented on #545
That is the problem. If we add a translation, we have to add a disclaimer that this is a courtesy tranlation. As we are hosted in Germany, we have to keep this text in German and the german version must be directly reachable from the front page.

That being said: I am not able to do this translation.

[2020-03-13 09:06] han-f commented on #545
I see. The courtesy translation would basically be a 1:1 translation of what is being said in the text currently?
If yes, I could try to do that.
Alternatively, we could add an English disclaimer that the below information informs on XYZ and is there due to German law?
This could also be done for the other pages I noted that they were only available in German?

[2020-03-13 09:06] MGlauer commented on #544
Same as #545: This has to be in german. We can add a courtesy translation, though. Unfortunately, we do not have any native speakers.

[2020-03-13 09:08] MGlauer commented on #546
Same as #545, I would remove the legacy reference to open_eGo, tho.

[2020-03-13 09:36] han-f opened #548 "The text in confirmation email after registering could read differently"
**It currently reads:**

**Suggestion for improvement:**
Hello
Thank you for registering at ###.
To fully activate your account please click the following link: ###
If you have any questions, please do not hesitate to get in touch with us via the contact form ###
Best regards,
the ### team

[2020-03-13 09:43] han-f opened #549 "Clicking the confirmation link does not show a message that activation was successful"
**Current situation**
I am simply shown my account information (see screenshot).
![grafik](https://user-images.githubusercontent.com/36844029/76609052-03c33780-6517-11ea-96dc-05aae5af9c4e.png)

**Suggested improvement**
Add a short message above the profile information, such as:
Many thanks for registering with the OEP and welcome. Your account has successfully been activated and you can start con

[2020-03-13 09:55] han-f opened #550 "Text in email for password reset is missing information"
The text does not include what to do in case the password recovery request was not made by this email address. I am not sure this is needed.
**Current text**

**Suggested improvement**
Hi
You are receiving this email because you requested a password reset for your user account on the Open Energy Platform (OEP)
Please follow this link to choose a new password: ###
And - just in case you forgot -  y

[2020-03-13 09:57] MGlauer commented on #550
The `toep.iks.cs.ovgu.de`-parts are intentional. If someone wants to self-host the OEP, they want their own URL in this place.

[2020-03-13 09:59] han-f commented on #550
Sounds fine. I just added ### to not repeat the links. Main message is the suggestion to improve the text.

[2020-03-13 10:01] han-f commented on #550
Would this then also hold for #548 ? In the first line there in the original text OpenEnergy Platform is spelled out.

[2020-03-13 10:04] han-f commented on #548
related to #550: decide whether it should read out OpenEnergy Platform and OEP anywhere in emails - in view of self-hosted platforms.

[2020-03-13 10:11] han-f opened #551 "There is no possibility to change email address"
There seems to be no possibility for a user to change his/her email address and this functionality should be added.
![grafik](https://user-images.githubusercontent.com/36844029/76611661-2d7e5d80-651b-11ea-8538-268ce09eeaa3.png)

[2020-03-13 10:12] MGlauer commented on #551
Oh, the button is missing. Will fix

[2020-03-13 10:19] han-f opened #552 "The Groups/Memberships sections lacks information"
There is a Membership section with which a user can interact. It lacks information. What is it for, what can a user do...
This shows when logged in:
![grafik](https://user-images.githubusercontent.com/36844029/76612305-4a676080-651c-11ea-95b6-88cfad04caaf.png)
When I click it I come to:
![grafik](https://user-images.githubusercontent.com/36844029/76612259-33287300-651c-11ea-830b-3152b0d119d5.png)

[2020-03-13 10:21] MGlauer commented on #550
Yes, for consistency, we should also change it there.

[2020-03-13 10:23] han-f commented on #548
I adjusted the suggested text above with ### accordingly (see #550)

[2020-03-13 10:24] han-f commented on #550
I adjusted the suggested text above accordingly (adding ###), and did so for #548 too.

[2020-03-13 10:37] han-f commented on #544
Another question: may the link also need to read "Impressum" instead of imprint?

[2020-03-13 10:40] MGlauer commented on #550
I would like to use the same template for this and #548 and therefore replace

with

[2020-03-13 11:42] MGlauer commented on #544
I think so. I guess it was renamed during the redesign. Maybe @Ludee or @bmlancien can help here.

[2020-03-13 14:15] #548 closed

[2020-03-13 14:15] #550 closed

[2020-03-13 14:15] #551 closed

[2020-03-13 14:19] bmlancien commented on #544
I didn't mention anything about this page url. 'Imprint' would make more sense, for sure.

[2020-03-16 05:51] han-f commented on #544
Yes, I think in general, imprint makes more sense - but since the website is hosted in Germany there may be the legal need to have it in German. I can try to check.

[2020-03-16 06:19] han-f commented on #544
Mein Vorschlag: _Impressum - Legal notice_
 Es scheint prinzipiell in Ordnung zu sein andere Begriffe zu verwenden, sofern klar ist, dass sich hinter dem Link das Impressum befindet. Imprint scheint die falsche englische Übersetzung zu sein, auch wenn oft verwendet und prinzipiell in Ordnung.

Siehe z.B.

- https://allcodesarebeautiful.com/impressum-auf-englisch-imprint-falsche-uebersetzung/#Zusam

[2020-03-16 06:36] han-f commented on #545
Vorschlag für Den Linknamen: Data privacy statement

Die Datenschutzerklärung muss wohl auf Englisch vorhanden sein, da der Webseitenhinhalt Englisch ist und damit englischhsprachige Nutzer*innen als Zielgruppe hat, die die Datenschutzerklärung dann natürlich auch verstehen müssen. Siehe z.B.:

- https://www.datenschutz.org/datenschutzerklaerung-mehrsprachig/
- https://easyrechtssicher.de/datensch

[2020-03-16 06:46] han-f commented on #545
A courtesy translation seems also not sufficient (then also holds for #544, #546)

[2020-03-16 08:01] han-f opened #555 "Scenario Factsheets: not possible to select different Tools from dropdown"
When creating a new Factsheet, under the study section, it is not possible to select different toolsfrom the drop down menu, only this is available:
![grafik](https://user-images.githubusercontent.com/36844029/76735082-78d77c80-6764-11ea-8da9-71c97f8a372f.png)

Related to #527

[2020-03-16 08:10] han-f opened #556 "Scenario Factsheets: Tooltip is not in english"
When leaving a mandatory field empty and trying to submit the form, the tooltip reads in German: "Bitte füllen Sie dieses Feld aus".

Suggested improvement: "please complete this mandatory field"

[2020-03-16 08:12] han-f opened #557 "Scenario Factsheets: empty field not highlighted"
When trying to submit a factsheet with leaving mandatory fields empty, there is a tooltip (which still reads German, see #556), but the field itself or the area is not really highlighted in red or so.

Also - when scrolling on the website the tooltip also scrolls, making it complicated to see which field was mandatory and the tooltip related to.

[2020-03-16 08:41] han-f opened #558 "Scenario Factsheets: no tooltip shown for questionmarks"
For several entries in scenario factsheets a question mark makes users expect they can interact (e.g. tooltip) - when hovering over the question mark or or clicking it, nothing happens. (javascript://)

[2020-03-16 09:15] johannwagner commented on #556
This is a language-agnostic tool tip, which is rendered from your browser in your system language. Actually, there is nothing I can do with little effort about this.

[2020-03-16 09:22] johannwagner commented on #557
I think, bootstrap and django-form uses the browser-specific validation. So, I am not sure, if there is anything, we can do about this. This requires further investigation.

[2020-03-16 10:50] han-f commented on #556
Maybe this should be implemented in the same manner as in Framework Factsheets? There such an error message looks like this, and makes it very obvious what the user should do.
Albeit, currently it lacks a button for working on completing the missing fields

![grafik](https://user-images.githubusercontent.com/36844029/76749017-14c0b280-677c-11ea-8cf3-c932488e2546.png)

[2020-03-16 10:53] han-f opened #559 "Framework Factsheet: there is no button to complete missing fields"
The form informs about missing mandatory fields, but does not offer a button to edit them.
![grafik](https://user-images.githubusercontent.com/36844029/76749375-afb98c80-677c-11ea-8dac-13edb28262f8.png)

[2020-03-16 11:03] han-f opened #560 "Framework Factsheet: Name information seems double"
Users have to add _Name_ information under overview and under Basic information. The tooltip does not yet work, so it is not clear what _Name_  really refers to under these two sections.
![grafik](https://user-images.githubusercontent.com/36844029/76750149-08d5f000-677e-11ea-9364-9536ecef5aef.png)

[2020-03-16 11:16] han-f opened #561 "All Factsheets: adding / editing buttons not at agood position"
For all factsheets, the Action buttons are in the sidebar, users may expect them under the headings at the top.

[2020-03-16 11:21] #547 closed

[2020-03-16 11:24] han-f opened #562 "Framework Factsheets: not clear what "Fields"heading in sidebar means"
There is a _Fields_ heading in the sidebar. When users click the subheadings under _Fields_ various check boxes appear. There is no information on what this is meant to do.
![grafik](https://user-images.githubusercontent.com/36844029/76753208-d5489500-6780-11ea-8771-0fc6aa28af2b.png)

[2020-03-16 12:16] han-f opened #563 "Framework Factsheets: License drop-down not complete and no freetext for 'other'"
The drop-down menu holds several licenses to choose from which is great. However, some of them have explicit version numbers attached. This makes having a steady and complete list complicated.

When a user chooses 'Other', there is no possility to provide the name of this other license.

![grafik](https://user-images.githubusercontent.com/36844029/76757512-0082b280-6788-11ea-85ac-cc018e0fc7f2.png)

[2020-03-16 12:22] han-f opened #564 "Framework Factsheet: error that some info already exists (see screenshot)"
![grafik](https://user-images.githubusercontent.com/36844029/76757971-fca36000-6788-11ea-945c-079b40221911.png)

May this be related to: #560 ?
Yes, it seems so - as changing the name in Basic information made the error disappear.

[2020-03-16 12:23] han-f commented on #560
According to the error message  flagged in #564  may it be a good idea to replace_Name_ by _Framework name_  and only ask for it once?

[2020-03-16 12:30] han-f opened #565 "Framework Factsheet: uploaded Logo does not show"
Uploading a logo (.png) seems to have worked, but when I view the factsheet information it is not rendered.
![grafik](https://user-images.githubusercontent.com/36844029/76758566-3b85e580-678a-11ea-86b1-95f44554b6cc.png)

[2020-03-16 12:35] han-f commented on #565
I uploaded a .png - then tried editing the Factsheet again, uploading a .jpg - then got the error (see screenshot below). Tried .png again, error remained.

![grafik](https://user-images.githubusercontent.com/36844029/76758915-f1513400-678a-11ea-9bb0-b47fce14dc29.png)

[2020-03-16 12:54] han-f opened #566 "Framework Factsheet: not all provided information shown in factsheet"
Several of the data that I provide in the input fields are not displayed as having been provided after saving the factsheet.
(too many to list or screenshot)

[2020-03-16 12:59] MGlauer commented on #565
Seems like this was a faulty configuration on the server-side and therefore not code-related.

[2020-03-16 13:09] han-f opened #567 "Framework Factsheet: adding a new tag leads not back to factsheet"
If I add a new tag to a factsheet, I can't get back to editing the factsheet again.
I see these possibilities:
![grafik](https://user-images.githubusercontent.com/36844029/76761321-83f3d200-678f-11ea-94b5-b757e01af8fe.png)
Clicking on _back to database_ leads to, and my previous changes to the factsheet are gone:
![grafik](https://user-images.githubusercontent.com/36844029/76761370-9c63ec80-678f-1

[2020-03-16 13:24] han-f commented on #526
Should I still do something here? I can review the descriptions on toep?

[2020-03-16 14:06] MGlauer commented on #562
True, but unfortunately I cannot come up with a better term

[2020-03-16 14:08] MGlauer commented on #559
I do not understand. You have to click on the categories. Maybe the error panels should be displayed over the category tabs.

[2020-03-16 14:11] MGlauer commented on #558
True - seems like the bootstrap function for popovers has been removed and [use a third-party package now](https://getbootstrap.com/docs/4.0/components/popovers/).

[2020-03-16 14:38] han-f commented on #559
Yes, that maybe helpful.  Or if the category would be noted next to the field name to which the error applies.

[2020-03-16 14:39] han-f commented on #562
What is intended to happen when I check one of the boxes? Maybe this can give us a hint on how to rename (or describe) the _Fields_ heading

[2020-03-16 14:40] MGlauer commented on #562
This triggers which columns of the table are shown - so maybe "Columns"?

[2020-03-16 14:43] han-f commented on #562
How about:
Heading: _Columns_
Descriptive text below heading: _Please check below which columns should be displayed in the framework table to your left._

[2020-03-16 14:45] MGlauer commented on #562
I think the aim of the redesign is to keep the displayed text at a minimum. So maybe some icon with a mouse-over?

[2020-03-16 15:22] MGlauer commented on #566
Does this happen when submitting a new factsheet or when editing an existing one?

[2020-03-16 16:45] Ludee opened #568 "Development of "scenario bundles""
Document and start development of the bundles.

[2020-03-16 16:55] Ludee commented on #424
I added text to the three points and fixed all links on the landing page.
Your commit fcd3d52 is not on the test page yet, but looks good in html ;) @MGlauer

[2020-03-17 05:50] han-f commented on #566
I found it when editing an existing one (that I just submitted a second beforehand). I can try again when adding a new one.

[2020-03-17 05:51] han-f commented on #566
I found it when editing an existing one (that I just submitted a second beforehand). I can try again when adding a new one.

[2020-03-17 06:26] han-f opened #569 "Model Factsheet: typical computation time should not be a mandatory field"
I think for many models the typical computation time depends on the complexity of the scenario that needs to be projected. And this can vary a lot.
I suggest to either delete this field completely, or make it non-mandatory.
![grafik](https://user-images.githubusercontent.com/36844029/76828130-8e11e100-6820-11ea-9ff7-ee72a91f74bc.png)

[2020-03-17 06:33] han-f commented on #566
I tried with some of the elements again, with a new factsheet and then they were displayed

[2020-03-17 06:34] han-f commented on #566
This also happens for model factsheets - I assume it is the same issue ...

[2020-03-17 06:45] han-f opened #570 "Dataview: Mouse not a pointer"
When looking at the _Topics_ table under _Dataview_ the mouse does not change to a pointer/hand when moving over the table. This may make users think that the rows are not clickable.

[2020-03-17 07:01] han-f opened #571 "Dataview: can not edit permissions of table"
Contrary to the message below, I am not able to edit the permissions of the table (I am logged in).
![grafik](https://user-images.githubusercontent.com/36844029/76830318-4b063c80-6825-11ea-9486-39d2439c08bf.png)

[2020-03-17 07:27] han-f opened #572 "Dataview: The possibility for rules lacks documentation"
The functionality below the data table is not self-explanatory and looks like a rather complex tool to use. It also currently does not become apparent what it is meant to do.
![grafik](https://user-images.githubusercontent.com/36844029/76831528-c963de00-6827-11ea-9c13-fef147b709cb.png)

[2020-03-17 08:09] han-f opened #573 "Dataview: Add Graph / Map view not self-explanatory"
The menu that is displayed after clicking the above is not self-explanatory. My suggestion would be to add some explanatory paragraph (yes more text), or delete these interaction possibilities (for the moment).
Map view:
![grafik](https://user-images.githubusercontent.com/36844029/76835223-ea7bfd00-682e-11ea-9325-a360e78157e5.png)
Graph view:
![grafik](https://user-images.githubusercontent.com/368

[2020-03-17 08:40] han-f opened #574 "Dataview: Added metadata is not validated?"
I am not sure whether this is an issue: I tried to add metadata to the example table. This worked. However, I always added the same to each element even if they require a certain input. There was no error thrown that I need to change what I input and the data is displayed on the sidebar, even if it does not make sense.

[2020-03-17 08:48] MGlauer commented on #571
It seems the text-box is in the wrong place. As you are not owner of this dataset, it is intended behaviour that you cannot change the permissions. Probably the links should be disabled in this case.

[2020-03-17 08:51] han-f commented on #571
Yes, it would be good to then disable the links.

[2020-03-17 09:33] jh-RLI commented on #574
I would divide this issue into two separate parts @han-f.
1. parse and validate the metadata
2. presentation/placement of the metadata on the website

[2020-03-17 10:06] jh-RLI commented on #530
Since the branch features/django3 is merged, this issue is resolve.

[2020-03-17 10:06] #530 closed

[2020-03-17 10:08] #569 closed

[2020-03-17 10:10] MGlauer commented on #573
Do you know what these forms do? If so, cold you provide some explanatory text?

[2020-03-17 10:16] han-f commented on #573
I could guess:one created a graph, the other a map. I could draft some explanatory text on what a user should in general do, but I think the drop down choices seem a bit complicated, too. If someone could provide me with some basic info to start from, I could try to draft tomorrow (today I only have time in between other tasks).

[2020-03-17 11:34] #571 closed

[2020-03-18 06:25] han-f opened #575 "Dataedit: This could be made more user-friendly"
When I enter the page the first thing I see is a heading "How to access the database".
For a new user this may be a bit overwhelming. How about: changing it to:
Heading: "How to access data"
Short text below heading: "There are two ways in which you can access data. In _Dataview_ you do so directly via navigating the website. Access via the _API_ is for those who like to code."

-> Like this I kin

[2020-03-18 06:32] han-f opened #576 "Heading on database section could read easier for users."
The menu item at the top left header menu reads "Databases", could it read "Data" instead?

[2020-03-18 06:34] han-f commented on #576
The menu item at the top left header menu reads "Databases", could it read "Data" instead?

[2020-03-18 10:04] #436 closed

[2020-03-18 10:04] #463 closed

[2020-03-18 10:05] MGlauer commented on #526
Yes, in my opinion the descriptions need some work, but this is not essential for the release of v0.6.0

[2020-03-18 10:23] MGlauer commented on #472
`djangoajax` has been removed in d15563f

[2020-03-18 10:25] MGlauer commented on #542
@stap-m Could you open a pull request when this is ready?

[2020-03-18 11:43] MGlauer commented on #566
Ah, now I see. The information is stored, but just not displayed. Probably due to missing fields in the display forms.

[2020-03-18 11:58] han-f commented on #526
OK, I can work on all of them at some point. Should I simply make suggestions here in this issue? That would be easiest for me as I can then take one by one when I have some time in between also.

[2020-03-18 13:15] #542 closed

[2020-03-18 17:48] MGlauer commented on #314
Closed in #477

[2020-03-18 17:48] #314 closed

[2020-03-19 07:47] MGlauer opened #580 "Fix broken links on main page"
- [ ] Bundles link has no reference
- [ ] Documentation link is broken

[2020-03-19 09:25] han-f commented on #526
suggestion for scenario:
scenario data in the broadest sense. Includes input and output data from models that project scenarios into the future. Example inputs: assumptions made about future developments of key parameters such as energy prices and GDP. Example outputs: projected electricity transmission, projected greenhouse gas emissions. Note that inputs to one model could be an output of anothe

[2020-03-19 09:25] han-f commented on #526
schema emission:
do we need this? I think this would be included in scenario as (mostly) output of models.

[2020-03-19 09:50] han-f commented on #526
Yes, that is probably it.

[2020-03-19 11:00] l-emele commented on #408
We just uploaded new data tables.

This is the review issue of the units and units conversions table: https://github.com/OpenEnergyPlatform/data-preprocessing/issues/29

But I just saw that the data precision problem is not yet solved.
![grafik](https://user-images.githubusercontent.com/36884905/77060667-3d91b380-69d9-11ea-827f-8a4889694d8e.png)

[2020-03-19 11:19] han-f commented on #526
suggestion for economy:
data related to economic activities. Examples: sectoral value added, employment, sectoral inputs and outputs, GDP, prices of commodities.

[2020-03-19 11:23] han-f commented on #526
suggestion for emission
data on emissions. Examples: total greenhouse gas emissions, CO2-emissions, energy-related CO2-emissions, methane emissions etc.

[2020-03-19 11:38] han-f commented on #526
suggestion for model_draft:
unfinished data. Note: there is no version control and data is still volatile.

[2020-03-19 11:46] han-f commented on #526
suggestion for society:
demographic data such as census data, emplyoment / unemployment, living conditions etc.

[2020-03-19 11:51] wingechr commented on #408
The problem with lost precision occured on our side when loading the data from excel into pandas dataframes and from there to json for the api upload and has been resolved on the client side.

[2020-03-19 11:51] #408 closed

[2020-03-19 12:04] han-f commented on #526
suggestion for policy
data on policies and measures. This could, for example, include a list of renewable energy policies per European Member State. It could also be a list of climate related policies and measures in a specific country.

[2020-03-19 12:38] han-f commented on #526
suggestion for boundaries:
data that depicts boundaries, such as geographic, administrative or political boundaries. Such data comes as polygons.

[2020-03-19 12:40] han-f commented on #526
suggestion for climate:
data related to climate and weather. This includes, for example, precipitation, temperature, cloud cover and atmospheric conditions.

[2020-03-19 12:43] han-f commented on #526
suggestion for demand:
data on demand. Demand can relate to commoditie but also to services.

[2020-03-19 12:44] han-f commented on #526
suggestion for supply:
data on supply. Supply can relate to commodities but also to services.

[2020-03-19 12:47] han-f commented on #526
Writing these suggestions here I think many of the current schemas may have overlaps and could include the same things. Demand and supply for example could also be seen as inputs and outputs to economic sectors if viewed from an economic angle. And I also think the type of model data that the OEP is open to spans also beyond a very strict definition of energy system model.

[2020-03-19 12:53] han-f commented on #526
@l-emele done for the moment. I think these sugestions are far from perfect, but they may give a better sense to the user what could be put or find where.

[2020-03-19 14:19] jh-RLI commented on #574
@MGlauer This is about validating the metadata string. We could use this [package](https://github.com/Julian/jsonschema) to validate the individual fields.

[2020-03-19 16:52] #472 closed

[2020-03-19 17:06] #558 closed

[2020-03-19 17:09] #580 closed

[2020-03-19 23:35] jh-RLI opened #583 "App Tutorials is not mentioned in the documentation"
[Dokumentation](https://oep-data-interface.readthedocs.io/en/latest/) does not mention the tutorials App.

[2020-03-20 11:02] l-emele commented on #526
Looks good. Just one minor suggestions for changes:

[2020-03-20 12:52] MGlauer commented on #583
The tutorials app has been postponed to v0.7.0

[2020-03-20 13:01] MGlauer commented on #526
@han-f Are those descriptions reads to be transfered?

[2020-03-20 13:12] han-f commented on #526
From my point of view yes - we can still make them prettier in a future release, correct?

[2020-03-20 13:18] MGlauer commented on #526
Yes, of course.

[2020-03-20 13:30] stap-m commented on #424
Some institutes, e.g. from LOD_GEOSS, are not included in the list above @Ludee

[2020-03-23 10:34] Ludee opened #584 "Display of metadata needs revision"
I found some bugs in the representation of the metadata string:

- When an element is _null_ it is displayed as _<class 'NoneType'>_ on the OEP.

On the schema view the database name is used as title, please change to:

- **Title of the Table** (database_name)

[2020-03-23 12:20] han-f opened #585 "Tags: list of tags in sidebar not "complete""
The list of tags in the sidebar doen't seem to display the most-helpful tags anymore.
It seems to list the first tags in alphabetical order. Clicking tags works, but using the filter field above to find and apply tags does not.

[2020-03-23 12:23] han-f opened #586 "Tags: clicking a tag in a schema does not lead to where user expects"
When I click a tag in a schema table, I was expecting to receive a list of tables with this tag. Instead I am presented the list of tags and the possibility to modify them.

[2020-03-23 12:34] han-f opened #587 "Data: data table does not load"
The data tables simply do not load at all.
E.g.: https://openenergy-platform.org/dataedit/view/scenario/ksz2050_r2_ks95_fugitive_emissions

[2020-03-23 12:35] han-f commented on #587
Firefox Quantum 68.6.0esr (64-Bit), Windows 10

[2020-03-23 12:38] han-f commented on #445
This still applies, even with the new release.

[2020-03-23 13:42] jh-RLI commented on #584
I can deal with it tomorrow.

Additionally, I find the output window too narrow. We could use the space on the right for the metadata widget. Or at least fix the slider(scroll left/right) to the bottom of the screen, that would improve usability in my opinion. @Ludee @MGlauer

[2020-03-23 13:47] jh-RLI commented on #587
Using Google Chrome this works.
![image](https://user-images.githubusercontent.com/38939526/77322930-c62f8d00-6d14-11ea-8695-dfab4212db52.png)

Unfortunately, I cannot test Firefox right now.

[2020-03-23 13:49] han-f commented on #587
Its seems to have been a caching problem! It works for me too, thanks to @MGlauer pointing me to the cache issue.

[2020-03-23 13:49] #587 closed

[2020-03-23 18:24] MGlauer commented on #445
The arrangement of the buttons indicates that this is also a caching issue.

[2020-03-24 05:29] han-f commented on #445
Yes, thank you. I will remember to hit F5 on any single page.

[2020-03-24 05:29] #445 closed

[2020-03-25 09:37] m31vante opened #588 "The data tables lack a short description of what they show"
It would be very helpful if the table with the table name (https://openenergy-platform.org/dataedit/view/) would also have a short description of the content of the tables. The names themselves are not very telling.

Also I really like the tags, but they are also very cryptic. If they are generic, it would be nice to have them more telling.

The color code is a great thing. It would be helpful tho

[2020-03-25 10:20] han-f opened #589 "model_draft.szenarien_db_mmr deleted but still visible in model_draft"
We had deleted the table via the API, but it is still visible in model_draft schema.

[2020-03-25 10:27] han-f commented on #588
@m31vante : Thanks for the helpful feedback!
The tables are accompanied by metadata in the right sidebar, for example see here: https://openenergy-platform.org/dataedit/view/model_draft/szenariendb_mmr_de
There is one field called _Description_ which holds for this table: _This table holds emission projections and corresponding parameters, submitted under Article 14 of Regulation (EU) 525/2013_

F

[2020-03-25 10:39] han-f opened #590 "Dataedit: Querying 2 tags does not work"
Querying two tags throws an error, see e.g:

https://openenergy-platform.org/dataedit/view/scenario?query=&tags=163&tags=185

Which I did by selecting two tags in the filters sidebar.

[2020-03-25 11:11] han-f commented on #588
Having thought about this I wonder @MGlauer whether it would be possible to add a third column to the overview tables found in the schemas and that displays what the metadata Description field holds.
For example this would allow at one glance to understand what is behind each of these tables
https://openenergy-platform.org/dataedit/view/scenario?query=&tags=185

I also think this would improve usa

[2020-03-25 11:55] Ludee commented on #419
After the latest OEP-Release we have some additional feedback from @srhbrnds.

[2020-03-26 07:24] han-f opened #591 "Tags: the "apply filters" button is not visible enough"
The "apply filters" and "reset filters" buttons below the tags are not easy to see as they are formatted similar to the tags and have the same distance between them and the last row of tags as the rows of tags have between them.

[2020-03-26 07:27] han-f opened #592 "Tags: naming is not uniform across sidebar"
Suggest to rename "Filters" heading  to "Tags" as this is what a user searches in the search bar.
Suggest to rename "Apply Filters" and "Reset Filters"  to "Apply Tags" and "Reset Tags".

[2020-03-26 07:42] han-f opened #593 "Tags: cannot delete tag"
Using the OEP webinterface I cannot:
* Delete a tag from a table (no button or so available)
* Delete a tag from the list of tags. If I click a tag (also one I made myself), I can edit the tag name and color, but there is no button to delete it.

[2020-03-26 08:18] Ludee commented on #588
Suggested display for the table view:

Long title of data set (schema.table) - Description in Mouseover

[2020-03-26 08:20] han-f commented on #585
They seem to transform into most popular tags as the OEP is used.

[2020-03-26 14:26] stefaneidelloth commented on #2
I just registered as a new user and I see some buttons "Manage Profile" and "Manage Group". If that is not yet implemented, in my opinion the buttons should not be shown.
![image](https://user-images.githubusercontent.com/12675339/77657839-22451c00-6f76-11ea-85f6-592e871d189a.png)

[2020-03-26 14:37] stefaneidelloth opened #594 "Show same content for "Database" button and "Databases" menu?"
![image](https://user-images.githubusercontent.com/12675339/77658890-a77d0080-6f77-11ea-8725-200376f82440.png)

Maybe you want to show the same content or move the content of "Database**s**" to the documentation.
Currently I find it confusing. If I clicked on the button "Database" and I am looking at some specific  database, e.g

https://openenergy-platform.org/dataedit/view/boundaries/bkg_gn250_b

[2020-03-27 08:53] MGlauer commented on #2
These buttons are functional, but only for authenticated users. They should be hidden for anonymous users.

[2020-03-27 10:08] MGlauer commented on #2
Should be fixed now

[2020-03-30 06:46] han-f opened #595 "Factsheets: cannot delete factsheet"
There is no button to delete a factsheet - be it a study or a scenario.
By writing this, I wonder if it would be possible to delete scenario _Test test_ and _Test Scenario with Study_
This would improve the display of the list of Scenario Factsheets and limit it to factsheets that actually refer to real information. Many thanks.

[2020-03-30 08:55] MGlauer commented on #576
@Ludee The term "Database" was part of the Mock-Ups, I guess. What is your opinion on this?

[2020-03-30 08:57] MGlauer commented on #573
The forms have been split in cade9c95

[2020-03-30 08:57] #573 closed

[2020-03-30 09:01] #556 closed

[2020-03-30 09:02] Ludee commented on #576
I prefer "Data" as @han-f suggested!

[2020-03-30 10:40] MGlauer commented on #592
I think this is because the buttons do not only apply to Tags but also to the search bar above.

[2020-03-30 10:42] han-f commented on #592
How about renaming then? The search bar also searches for tags, no? So its heading could be _Tags_ instead ?

[2020-03-30 12:17] han-f commented on #526
And some more suggestions, for the missing updates:

environment: data that has to do with the environment in the broadest sense. This could relate, for example, to mapping of environmental resources, land cover, protected areas etc.

[2020-03-30 12:19] han-f commented on #526
grid: data that relates to infrastructure, such as power lines, pipelines etc.

[2020-03-30 12:21] han-f commented on #526
I think this does not necessarily only relate to energy infrastructure. Some models may make use of other infrastructure such as railways, roads etc. This could also fall under grid? Or would that be a net? Or would a better term for grid be net?

[2020-03-30 12:23] han-f commented on #526
reference: data that serves as reference, such as literature, data sources, etc.

[2020-03-30 12:25] han-f commented on #526
@l-emele @wingechr: may this instead be the current target schema for our conversion and GWP tables? While writing the definition I thought that these actually are some kind of reference. If you agree, then I would rephrase the definition to:

reference: data that serves as reference, such as literature, data sources, but also converters and lists of abbreviations etc.

[2020-03-30 12:32] han-f commented on #390
Is there anything in parallel to the OEO development to add categories to tags at this stage?

[2020-03-30 12:39] MGlauer commented on #585
This is caused by
`{% get_tags None None 10 as all_tags %}` selelects only the top 10 tags.
@johannwagner Could you implement it in a way that one can display all tags?
(Calling get_tags with `None` instead of 10 returns all tags.)

[2020-03-30 12:41] han-f commented on #585
What happens if we have a lot (!) of tags - would this clutter the sidebar, or would there be a _more_ link or something similar?

[2020-03-30 13:10] l-emele commented on #526
My understanding is that the reference scheme only contains tables that are related to the abandoned literature collection. So it is not the place for converters and lists of abbreviations.

[2020-03-30 14:55] stap-m opened #596 "Open Energy Family does not yet occur on the OEP webpage"
The concept of the Open Energy Family with all its members/tools should be described on the webpage. Did we already discuss this somewhere? Where is a good place?

[2020-03-31 05:33] han-f commented on #596
Could we do this part on "About OEP" and part on a new page that is called "Open Energy Family"?
We could add one introductory paragraph that explains that the OEP is one member of the open energy family and then link to "Open Energy Family" where we explain the Members and link to github for each of them.
I could try to draft such texts. On the "Open Energy Family"  page we could have the little

[2020-04-01 10:59] jh-RLI commented on #419
@Ludee I have an overview of the tasks from the review. Most of them are rather small tasks. I will implement them in the next few days.

[2020-04-02 11:21] Ludee opened #598 "Rework the page for the OEO and OEO-SC"
- [x] https://github.com/OpenEnergyPlatform/ontology/issues/313
- [x] https://github.com/OpenEnergyPlatform/oeplatform/issues/604

[2020-04-06 08:50] christian-rli commented on #598
Arguments in favour of moving the page for the OEO-SC to the OEP:

- OEP looks good already, it's easy to add a subpage
- creating ye another wordpress page and paying for it is a nuisance for administration and organisation in general
- having everything at one place makes maintenance easier, logical sense and creates a tidy impression

[2020-04-14 14:06] johannwagner commented on #588
@MGlauer What is the plan at this point?

[2020-04-14 14:11] johannwagner commented on #585
Right now, it would clutter the sidebar.

[2020-04-14 14:18] #522 closed

[2020-04-16 15:16] Ludee commented on #198
I will reuse this issue to increase community outreach.

[2020-04-16 15:20] Ludee opened #602 "GitHub releases are organised via "Projects" and "Milestones""
We started with [Milestones](https://github.com/OpenEnergyPlatform/oeplatform/milestones) and moved to [Projects](https://github.com/OpenEnergyPlatform/oeplatform/projects).

Shall be delete the old milestones and create projects?

[2020-04-16 15:31] Ludee opened #603 "Feedback on implemented design"
Bryan had some minor feedback for the implemented design. Please use this issue to add and discuss design requests.

[2020-04-17 08:56] bmlancien commented on #603
Hi there,

First, thank you for implementing the mockups I did a few months ago. There are a some things we could do to improve the visual aspect of the homepage though, as I find the overall design too small. Below two screenshots: one with a desktop view and the second one with a mobile view. I will mention a the points we could improve:

1. Suggestions fot the upper section:
- desktop: above 12

[2020-04-17 11:14] han-f commented on #596
Should we have this as a topic for a Jour-Fixe before working on it?

[2020-04-20 11:21] MGlauer commented on #585
@johannwagner What about the "Show more" link @han-f proposed to hide less common tags by default?

[2020-04-20 12:53] christian-rli opened #604 "Add OEO Steering Committee Subpage"
The OEO Steering Committee needs its own web page, which should be a sub page of the OEP. Please create such a sub page @jh-RLI . I think it makes sense to link it somewhere under ontology.

https://openenergy-platform.org/ontology/

The URL would then be

https://openenergy-platform.org/ontology/oeo-steering-committee

Content for the page is here:

https://github.com/OpenEnergyPlatform/ontology/

[2020-04-21 12:42] MGlauer commented on #602
Yes, the usage of projects yields better functionalities than milestones do.

[2020-04-28 11:45] jh-RLI commented on #598
The subpage already exists if the content is available I can finish the work and prepare the release.

[2020-04-30 09:47] Ludee commented on #596
Merge this [GitHub Readme](https://github.com/OpenEnergyPlatform/organisation/blob/master/README.md) and the [About OEP](https://github.com/OpenEnergyPlatform/oeplatform/blob/master/base/templates/base/about.html)

[2020-04-30 09:51] Ludee commented on #596
![OpenEnergyFamily_druck](https://user-images.githubusercontent.com/14353512/80697156-dd625700-8ad8-11ea-84c8-e710926d803b.png)

[2020-04-30 11:13] stap-m commented on #596
Is the list of participating institutes complete?

[2020-04-30 11:25] Ludee commented on #596
not yet, thanks for the hint.

[2020-04-30 12:57] #590 closed

[2020-04-30 12:57] #594 closed

[2020-04-30 16:13] jh-RLI commented on #574
https://github.com/OpenEnergyPlatform/data-preprocessing/issues/50

[2020-04-30 18:05] Ludee commented on #604
Add these two paragraphs:

- [ ] [What is the Open Energy Steering Committee (OEO-SC)?](https://github.com/OpenEnergyPlatform/ontology/wiki/OEO-Steering-Committee#what-is-the-open-energy-steering-committee-oeo-sc)
- [ ] [Who is involved with the OEO-SC?](https://github.com/OpenEnergyPlatform/ontology/wiki/OEO-Steering-Committee#who-is-involved-with-the-oeo-sc)

[2020-05-04 07:43] christian-rli commented on #2
What is needed to close this issue? Could someone post a list with check boxes that we can tick off one by one?

[2020-05-05 12:42] #419 closed

[2020-05-06 07:23] #596 closed

[2020-05-06 07:39] #604 closed

[2020-05-07 12:17] Ludee commented on #588
This would be a relevant feature for the next release!

Use the "title" from metadata:
[title] (tablename)

[2020-05-11 14:05] Ludee commented on #528
Since this issue was not solved for the _version 0.7.0_ we can discuss this for the next one:

I would like like the version number to be displayed in the header (or footer) an all versions.
I don't really see a security thread, since it is all open anyway. Or do I miss a potential thread?

[2020-05-11 14:20] Ludee commented on #512
I reuse this issue to give feedback to the layout of the _dataview_ after release of _version 0.0.7_.
I like the new style of showing maps and graphs. Works for all tests (points, lines, polygon, charts).

At the moment, there are three tabs: _Table_ (table), _Graphs_(table + plot), _Maps_ (table + map).
You have to choose and switch between them.
I would suggest to improve the layout and remove t

[2020-05-11 14:51] MGlauer commented on #528
Yes, being open source does not change anything here. The apache webserver is open source, too. Still, they highly recommend hiding the version number (see link above).

There may be a mismatch between the live version and the most recent release - especially, if the code is hosted by multiple institutions. Publicizing the version number along with a change log from version X to version Y is basic

[2020-05-11 15:04] l-emele commented on #444
In the current version of the OEP the display of metadata has improved but still does not work properly. Parts of the metadata get truncated at the right side, even if there is still enough space:

![grafik](https://user-images.githubusercontent.com/36884905/81577210-75015880-93a9-11ea-957f-0bb7fce9c44c.png)

[2020-05-11 15:13] l-emele opened #607 "Tables with normal language titles do not work"
I've spotted that all entries in model draft, for which not only the name (with underscores) but also a title in normal language is shown lead to the error page.

Example: all of these
![grafik](https://user-images.githubusercontent.com/36884905/81577922-67989e00-93aa-11ea-91ca-70dc4fd673ee.png)

lead to:
![grafik](https://user-images.githubusercontent.com/36884905/81577995-85fe9980-93aa-11ea-94b2

[2020-05-12 14:58] MGlauer commented on #607
It seems this was cause by the fact that these tables still used version 0 (!) of the metadata format. It seems the last release dropped support for this format. I reintroduced it in f3f0e2a

[2020-05-18 08:10] wingechr commented on #345
I think with the latest speedup, the API upload qualifies as "bulk", and with help of additional tools like the "oep-client", this can be simplified even further to a single CLI command.

So I think we can close this.

[2020-05-18 08:10] #345 closed

[2020-05-26 12:38] CDerksen opened #608 "Failed to add a new framework entry"
Hi there,
I just tried to add a new framework to the Framework Factsheets, but I failed:
- Adding a logo file results to an error
- I edited the section Mathematical Description, pressed 'Submit all' (to save the draft) and tried to edit the entries again. Unfortunately everything was gone ...

Is there a chance to register a framework and a model in a different way?

Best wishes,
C.

[2020-06-04 12:23] Ludee commented on #598
Can be reviewed and included in next release!

[2020-06-09 08:55] Ludee commented on #608
Dear @CDerksen,

thanks for this bug report.
Please try to edit the existing FFS [Test2](https://openenergy-platform.org/factsheets/frameworks/163/)

[2020-06-09 08:57] Ludee commented on #598
Add an **ontology** item to the header to enable navigating to the OEO pages (OEO & OEO-SC) from everywhere.

@MGlauer When is the next release?

[2020-06-09 09:31] jh-RLI commented on #598
@Ludee YFI: The [release cycle ](https://github.com/OpenEnergyPlatform/oeplatform/blob/docs/deployment-pipeline/RELEASE_PROCEDURE.md)foresees that we publish a new release every first Monday of the month.

[2020-06-09 10:45] Ludee commented on #598
@MGlauer Ping for including this commits for the OEP/OEO release.

[2020-06-09 10:56] jh-RLI commented on #598
Created the PR and linked the issue and PR to the next release project.

[2020-06-09 17:20] #598 closed

[2020-06-10 06:52] christian-rli commented on #305
A download button for csv is already there and working, to close this issue, we only need to attach the metadata (if available), zip both together and make it available with another button.

[2020-06-15 13:16] Ludee opened #610 "Fix OEO page and add OEO pages to navigation bar"
- [x] Fix linebreak in link (Dipl.-Ing.)
- [x] Add Daniel to list
- [x] Add pages to navigation bar

[2020-06-19 07:07] l-emele opened #612 "Wrong HTML in password reset e-mail"
I just reset my OEP password using the form on the website. I got the following e-mail:

The `<br>` tags should not show up and the contact link is not valid.

[2020-06-19 07:16] sashatankov commented on #612
Hey, I'd like to work on this one. What should the valid link be?

[2020-06-19 15:08] MGlauer commented on #612
Oh, sorry! I did not see your post ^^'

The problem was an inconsistency in the variables that have been used to pass the domain context to the templates. I.e.: The link was correct in the templates - just with the wrong variable.

[2020-06-24 20:27] Ludee commented on #585
I think the tag functions on schema level need an improvement.
Easier selection and editing should be added.
@jh-RLI can you do that for the next release?

[2020-06-24 20:42] Ludee commented on #585
The editing of tags doesn't work. This area needs attention, tags are an essential feature of the database.

[2020-07-06 09:57] #612 closed

[2020-07-06 11:21] #610 closed

[2020-07-16 11:54] jh-RLI opened #614 "[Metaissue] Rework Dataedit/Tags"
This issue is for planning the modification of the tag module in dataedit. Further issues are documented in the linked PullRequest.

The rework/modification also includes the implementation of functionality to create tags automatically if they are described in an open energie metadata(oem) file.

Below I have documented the current state based on the functions that can be found via the frontend. I

[2020-07-22 14:24] christian-rli commented on #226
with the redesign of the OEP this issue has been solved. column names are always displayed in full and column width is adapted accordingly.

[2020-07-22 14:24] #226 closed

[2020-07-22 14:28] christian-rli commented on #167
The specified unit is visible in the metadata. It could be displayed in a mouseover though.

[2020-07-22 14:45] christian-rli commented on #344
Bulk downloads are possible using the API. Several helper tools are available for this now, for example the [oep-client](https://github.com/wingechr/oep-client), [saio](https://github.com/coroa/saio) and [oem2orm](https://github.com/OpenEnergyPlatform/data-preprocessing/tree/feature/oep-upload-oem2orm/data-import/oep-upload). Download tutorials are collected in the [tutorial repository](https://gi

[2020-07-22 15:01] christian-rli commented on #321
A free filter across all data was considered unfeasible, filtering by tags is possible to implement and being worked on. Details of work with the tags are in issue #614 . This issue will be resolved with #600

[2020-07-22 16:23] christian-rli commented on #332
It is already possible to search for text using the filter options below any given table. The column will have to be specified. However, having free search over all columns is not mentioned in the requirement. Can this issue be closed or is a search across all columns needed first?

[2020-07-22 16:32] christian-rli commented on #117
I just tested this and the filter function works now. The column for the search has to be selected and since it's a very large data set the query takes a little while to process.

[2020-07-22 16:32] #117 closed

[2020-07-22 16:34] christian-rli commented on #294
A global search function is not considered feasible at this time

[2020-07-22 16:36] christian-rli commented on #166
The literature table was excluded from the platform for now. Therefore closing this issue.

[2020-07-22 16:36] #166 closed

[2020-07-22 16:38] christian-rli commented on #350
tool and description are available. closing this issue

[2020-07-22 16:38] #350 closed

[2020-07-28 09:01] MGlauer commented on #248
This issue is obsolete. The maps display the current dataselection. Large quantities of polygons (>1000) are not an issue anymore

[2020-07-28 09:03] MGlauer commented on #125
Users can select and filter data in custom views now. The corresponding results are displayed in the map view. This solves this issue.

[2020-07-28 09:03] #125 closed

[2020-07-28 09:10] MGlauer commented on #163
@christian-rli Could you specify the difference between this issue and #321 ?

[2020-07-29 08:25] christian-rli commented on #163
#321 originally asked for a filter across **all** data, which we deemed unfeasible and decided that (at least for the time being) filtering by _tags_ are the only filters that allow searching across data sets.

This issue concerns filtering data in the data view of single tables.

[2020-07-29 11:11] MGlauer commented on #351
This is covered by metadata v1.4

[2020-07-29 11:11] #351 closed

[2020-07-29 11:18] #332 closed

[2020-07-29 11:21] MGlauer commented on #324
Yes, the API has such functionality, but there is no web interface

[2020-07-29 11:30] MGlauer commented on #346
The API supports csv-upload since 5822f1b12 but there is no web-interface, yet.

[2020-08-03 08:17] han-f commented on #344
Bulk means several tables at once? I.e. a user selects several tables at once and can then download these together at once?
If this does not explicitly need a web-interface, then I assume this issue can be closed as @christian-rli mentions the availability of the tools.
So the main question from my side would be: does the initial comment refer explicitly to a possibility to use the frontend to sel

[2020-08-03 08:19] wingechr commented on #344
I don't think we should have a download button for all tables of a specific tag. That would create a lot of workload (probably accidentally) for very generic tags

[2020-08-03 08:21] han-f commented on #348
We would interpret this as providing in the CSV webinterface a link to an empty CSV file that holds as inspiration a "proper" structure (database friendly)  that users could then use to build their upload file.

[2020-08-03 08:42] han-f commented on #346
@wingechr will look into making a prototype for the webinterface if this helpful as a next step.

[2020-08-03 08:49] han-f commented on #348
Related to
https://github.com/OpenEnergyPlatform/tutorial/issues/21
and to #346

[2020-08-04 06:19] #478 closed

[2020-08-04 06:19] #583 closed

[2020-08-04 13:48] christian-rli commented on #158
@Ludee : also see this related issue: https://github.com/OpenEnergyPlatform/tutorial/issues/87

[2020-08-04 15:48] christian-rli commented on #405
Will it be a pdf? If it's not decided yet: it could just be another jupyter tutorial for which a [template](https://github.com/OpenEnergyPlatform/tutorial/tree/develop/template) exists. Maybe it helps.

[2020-08-05 12:47] christian-rli commented on #344
My interpretation of the initial comment is that the question clearly arose in the front end. Whether or not the solution needs to live in the front end as well, appears to be open, at least the way I read it. There is a technical solution, so I believe you can decide if you want to build a front-end solution that allows table selection, or if you're happy with the status quo. A compromise solutio

[2020-08-05 12:58] christian-rli commented on #348
I'm not sure if it's significantly more work, but I do believe, it would be quite a bit more user-friendly to build something like a file drop-off point, where users can upload their csv-files. If the structure is database compatible, it just uploads to the oedb. A fancy version could let the user select a data format for specific columns, if they can be interpreted in more than one way. If the st

[2020-08-05 13:09] wingechr commented on #348
I am currently working on the simple version: https://github.com/OpenEnergyPlatform/oeplatform/issues/346

[2020-08-05 13:13] wingechr commented on #346
* Step 1: allow api POST for new rows to accept raw csv text: `?form=csv`
* Step 2: Upload form in web interface
* Step 3: More customization options ?

[2020-08-05 13:15] wingechr commented on #346
A simple version of Step 1 is implemented  in https://github.com/OpenEnergyPlatform/oeplatform/tree/feature/csv-upload-346

[2020-08-05 14:31] christian-rli commented on #302
This is no longer an issue. All table creations are done via the api and are visible in dataview (unless they are created in the sandbox schema, which is left invisible on purpose). The reference from the tutorial repository meant to reference https://github.com/OpenEnergyPlatform/tutorial/issues/84

[2020-08-05 14:31] #302 closed

[2020-08-06 13:17] stap-m opened #616 "change mouseover text in model factsheet"
We have an OEO issue https://github.com/OpenEnergyPlatform/ontology/issues/490 that concerns the description of an mouse over helptext in the model fact sheets.
The question is to erase the term "hard code" from the help text.

[2020-08-07 12:39] wingechr commented on #346
I committed the first working version in the branch.

It works completely in the users browser and submits the parsed data via the API, authenticated by the current CSRF-Token.

## FEATURES
* text encoding and separator selection
* basic column value parsing
* column name change
* preview

## TODOS
* disable/hide button if user has no writing permissions on table (this is not a security issue)
* c

[2020-08-10 08:32] han-f commented on #346
We will need to add explanatory text as mouse overs. I also assign myself.

[2020-08-10 08:32] han-f commented on #346
We will need to translate the current version to english.

[2020-08-17 09:29] MGlauer opened #618 "Implement scenario fact sheets"
There has been an agreement regarding the structure of what has been described as scenario fact sheets. A more thorough analysis has shown that a single fact sheet is not sufficient and does not cover the use cases of the community. Therefore, an alternative scheme has been designed in which we distinguish between:

1. A scenario specification:
  * Defines constraints that make up a specific scena

[2020-08-17 13:54] Ludee commented on #424
I will add the projects (LOD-GEOSS, open_MODEX) and missing institutes.

[2020-08-17 14:59] beritRLI commented on #424
O Mann, Sorry – heute war (ist noch) so ein Chaostag, dass ich das Treffen total verpeilt habe!!
Ich wollte wirklich dabei sein, weil ich auch neugierig bin, wie sich iiasa da jetzt einbringt…

Hatte letzte Woche ein Gespräch mit Patrick von IZES, (da hatte ich auch eine Frage an euch weitergeleitet). Er ist mit Karsten (DLR) in einem Projekt, der den Vorschlag gemacht hat in dem Projekt die OEO z

[2020-08-17 15:01] beritRLI commented on #424
Ups, ging aus Versehen an den Verteiler – also an alle ein großes Sorry von mir für die Verpeilte Sitzung heute!!!
@Karsten: bist du auch in dem Verteiler?
Wäre super, wenn du es schaffst das in dem Projekt zu verorten!!!!

Von: Berit Müller
Gesendet: Montag, 17. August 2020 17:00
An: OpenEnergyPlatform/oeplatform <reply@reply.github.com>
Betreff: AW: [OpenEnergyPlatform/oeplatform] "About OEP" si

[2020-08-18 07:57] christian-rli commented on #158
This was closed with OpenEnergyPlatform/tutorial#87

[2020-08-18 07:57] #158 closed

[2020-08-18 08:08] christian-rli commented on #293
Feedback is noted. what is needed to close this issue?

[2020-08-18 08:11] christian-rli commented on #157
Link to the document that describes [recommended and allowed licenses on the OEP](https://github.com/OpenEnergyPlatform/tutorial/blob/develop/other/tutorial_open-data-licenses.ipynb).

[2020-08-24 07:10] wingechr commented on #405
Chapter 1 and 2 of the document are still valid, but chapter 3 (factsheets) needs rework after the chanegs on the platform has been implemented. Currently, his is a little broken.

[2020-08-24 07:54] stap-m opened #620 "Typo on OEP frontpage"
Under "Tutorials", it reads:
_They **ware** available for all levels, and in the form of texts, videos and markdowns._

[2020-08-27 07:29] klarareder commented on #122
This is already implemented and released

[2020-08-27 07:29] #122 closed

[2020-08-27 07:58] klarareder commented on #260
Acutally the eye meant that the table is visible or not. The sandbox can not be seen, while the other can.

[2020-08-27 08:06] klarareder commented on #414
I assume this issue is closed, please reopen if I am mistaken.

[2020-08-27 08:06] #414 closed

[2020-08-27 08:14] han-f opened #621 "Bug: Tables with a name starting with a capital letter can be uploaded"
@Richard-Schmitz  identified a possible bug which we (@han-f  and @wingechr ) previously experienced as well at one point.
Tables starting with a capital letter can be uploaded to the platform. They are displayed without content and the user who uploaded them cannot delete them. This should be fixed.

[2020-08-27 08:17] MGlauer commented on #621
Could you specify, which API call has been used to create the table?

[2020-08-27 08:19] han-f commented on #621
@Richard-Schmitz: can you specify this please?

[2020-08-27 08:35] Richard-Schmitz commented on #621
This is the command use in Python:

API_URL = 'https://openenergy-platform.org/api/v0'

[2020-08-27 08:42] MGlauer commented on #621
Ah, so you are using the `oep-client` package. This helps, thanks!

[2020-08-27 09:13] MGlauer commented on #621
I guess I figured it out and fixed it.

[2020-08-27 09:30] Richard-Schmitz commented on #621
Thanks, I will try it out as soon as possible.

Could you please delete the following tables in the model_draft-section, so that their names can be re-used?
CountryValues1
CountryValues2
CountryValues3
CountryValues4
Fh_IEE_Trafo_FW_viel_dez_Biomasse_hohe_Sanierung_Emissionen
Fh_IEE_Trafo_FW_viel_dez_Biomasse_hohe_Sanierung_Endenergie
Fh_IEE_Trafo_FW_viel_dez_Biomasse_hohe_Sanierung_Speicher
Fh_IE

[2020-08-27 09:33] MGlauer commented on #621
I can do that. I still have to update the live version of the server the next release is scheduled next Tuesday. I will close this ticket as soon as the release is done.

[2020-08-27 11:45] Richard-Schmitz commented on #621
In the meantime, do I have to rename - for example - the table
"Fh_IEE_Trafo_FW_viel_dez_Biomasse_hohe_Sanierung_Emissionen"
into
"fh_iee_trafo_fw_viel_dez_biomasse_hohe_sanierung_emissionen"
or is it possible to upload with capital letters after the bugfix?

[2020-08-27 11:47] han-f commented on #621
As far as I gathered you will rename them as the bugfix will be to prevent uploads with capital letters.

[2020-08-28 09:02] Richard-Schmitz commented on #621
For your interest, the following two points caused errors when I was trying to upload my tables:

- The name of the table must not be longer than 63 characters, otherwise you will get an http error

- The headline of the coulmn "id" must be in lowercase letters, writing "ID" also causes an error

[2020-08-31 15:10] KirannBhavaraju opened #623 "Inconsistent Environment Variable request in "securitysettings.py.default"."
Whilst Setting up the Django Database, Inconsistent naming of the user id ands password.
Environment variable `"OEP_DB_PW"` is requested while the tutorial sets up these environment variables, `"OEP_DJANGO_USER"` and `"OEP_DJANGO_PW"` in Section 1.2.

[2020-08-31 15:24] KirannBhavaraju opened #624 "Missing Instructions to install PostGIS extension in readme.md"
Whilst setting up the primary database,

`create extension postgis;`
`create extension postgis_topology;`

are used but the installation procedure of PostGIS is missing, rendering a failure of the said commands, Once postgis is installed, it needs to be enabled in each individual database thet needs to use it.

[2020-09-02 09:19] MGlauer commented on #621
This should be fixed now

[2020-09-02 09:19] #621 closed

[2020-09-02 09:19] #607 closed

[2020-09-02 12:14] l-emele opened #626 "oeo-shared module missing on OEO webpage"
With the [v1.1.0](https://github.com/OpenEnergyPlatform/ontology/releases/tag/v1.1.0) release of the OEO we introduced a new `oeo-shared` module. This needs to be reflected on the webpage https://openenergy-platform.org/ontology/oeo

[2020-09-03 07:48] #626 closed

[2020-09-03 09:31] jh-RLI opened #627 "tutorials: Sidebar overlaps content"
The sidebar overlaps the content block:

![image](https://user-images.githubusercontent.com/38939526/92097706-aed2f080-edd8-11ea-8fee-ad10fcd50f22.png)

[2020-09-07 13:50] TuPhanRLI opened #629 "where to put the metadatatool (url?)"
pull request at #628

[2020-09-08 11:34] jh-RLI commented on #629
Is the question: how to access the Metadatatool via the oep-homepage?

@Ludee What would you prefer? A new button/menu? Where should we place it?

[2020-09-21 11:12] klarareder commented on #260
I wrote this text to accompany the figure: please correct it for spelling or content:

The OEP has multiple functionalities. Any user can upload data. For first tests, the **sandbox** may be used. The sandbox is not visible, but the upload process is very fast but beware, the sandbox is deleted regularly.  Once accustomed to the sandbox the user may use the **model draft** and upload its real data

[2020-09-21 18:21] l-emele opened #631 "Link on "about" page leads to a 404 page"
When I click on the [about page](https://openenergy-platform.org/about/) on the first picture, the link target is https://openenergy-platform.org/static/.png and I get a 404 error page.

Clicking on the other pictures does work.

[2020-09-23 14:41] MGlauer commented on #618
We should use this issue to manage the work plan. The current plan is as follows:

A. We need to implement a SPARQL endpoint that allows us to query an RDF triple store that contains scenario factsheets as a graph.
B. Implement forms so that users may enter new data to the triple store. The terms used in queries should be based on our OEO.

@VenkateshDas is currently working on B.

We still need a

[2020-09-23 15:56] meisam-booshehri commented on #618
@MGlauer Sure. I'm going to read a paper I got from Till today in order to figure out the next steps.

[2020-09-25 12:26] henhuy commented on #283
Any progress here?
Stumbled upon it yesterday.
As there was no error/warning while creating the table (something like "you must have column "id" with type "bigserial" as primary key), I was very confused when I could not insert data...
I think it would be okay if the _rows/{id}_, _rows/new/_ thing would be working for my custom primary key as well (like autodetect)?!

[2020-09-25 13:17] henhuy opened #633 "Id not returned after successfull insert"
When running insert command from here:
https://oep-data-interface.readthedocs.io/en/latest/api/how_to.html#insert-data
data gets inserted and I get Response Code 201
But I cannot find resulting ID in response?
`results.json()` returns `{'description': [['id', 20, None, 8, None, None, None]], 'rowcount': 1}`
but no key _data_, as shown in example:
[code]

[2020-09-28 11:26] #301 closed

[2020-09-28 11:27] #163 closed

[2020-09-28 11:32] MGlauer commented on #322
Metadata has been includes in the platform-wide search

[2020-09-28 11:32] #322 closed

[2020-09-28 11:33] #279 closed

[2020-09-28 11:34] MGlauer commented on #163
There are functionalities for custom filters for every table

[2020-09-28 11:35] MGlauer commented on #328
This has been fixed in the new map framework

[2020-09-28 11:38] MGlauer commented on #369
This has been implemented during the redesign

[2020-09-28 11:38] #369 closed

[2020-09-28 11:40] MGlauer commented on #336
There is no such thing as a "complete scenario"

[2020-09-28 11:43] MGlauer commented on #335
The API emulates a SQL-interface as implemented by SQLAlchemy. There are no error messages because there are none in these cases. All error messages that occur are passed to the user or caught and handled by the OEP (i.e. HTTP 400).

[2020-09-28 11:46] MGlauer commented on #334
Unit conversions are not supported by the OEP, as units are to heterogeneous - especially different metrics for monetary values.

[2020-09-28 11:48] wingechr commented on #344
* front end solution: we decided against it (too much data, not compliant with REST api specification)
* client side: with the API or the oep-client, multiple tables can easily be downloaded

[2020-09-28 11:48] #344 closed

[2020-09-28 11:48] MGlauer commented on #333
The platform allows only single values per column, unless someone uploads a string or JSON data.

[2020-09-28 11:49] #333 closed

[2020-09-28 11:49] #328 closed

[2020-09-28 12:03] MGlauer commented on #325
Download of a single table is possible. Multiple tables are likely to clog the connection for users as a single table may take way above several GB and - therefore - should be reconsidered.

[2020-09-28 12:05] MGlauer commented on #330
Scenarios are too heterogeneous to implement this. Scenario factsheets are implemented in #618. Two scenarios would need alignment which exceed the current scope.

[2020-09-28 13:50] Ludee opened #634 "Display name of table and title from metadata"
Display name of table and title from metadata.

Some table work (old metadata version).
Check this table:
https://openenergy-platform.org/dataedit/view/model_draft/wn_abw_ego_demand_hv_largescaleconsumer

[2020-09-29 06:58] MGlauer commented on #361
It seems that this error does not occur anymore.

[2020-09-29 06:58] #361 closed

[2020-09-29 09:56] MGlauer commented on #338
Metadata tool is in development and will be integrated into the OEP. The oem2orm tool allows the creation of tables from an existing metadata string. Data packages are not supported by the *OEP frontend* as they conflict with the existing metadata review process.

[2020-09-29 10:02] MGlauer commented on #337
There will be a notice describing the current state. There will be no specific interface to access different versions (yet).

[2020-09-29 10:04] MGlauer commented on #336
We will implement Bundles that cover a complete scenario and tie all the elements of a scenario together. A minimalist version of bundles will be implemented as part of #618

[2020-09-29 10:04] #336 closed

[2020-09-29 10:35] jh-RLI commented on #634
This could be included in #600 .

[2020-09-29 10:43] jh-RLI commented on #325
#617 contains the feature to download data packets which is equivalent to a data ensemble? IMO this can be closed as soon as the PR is merged.

[2020-09-29 11:20] MGlauer commented on #335
Possible HTTP 400 errors should be documented (Tutorials?)

[2020-09-29 11:20] #334 closed

[2020-09-29 11:22] MGlauer commented on #335
A paper on unit conversions has been created

[2020-09-29 11:22] MGlauer commented on #334
A [paper on unit conversion](https://zenodo.org/record/3957445#.X3MYp3ZfjLI) ha been created

[2020-09-29 11:22] Ludee commented on #631
I fixed this error in the feature branch.
Please review and merge into dev. @meisam-booshehri

[2020-09-29 11:23] MGlauer commented on #334
And a [table for unit conversions](https://openenergy-platform.org/dataedit/view/reference/szenariendb_conversion) has been published

[2020-09-29 11:28] #330 closed

[2020-09-29 11:29] han-f opened #635 "Schema reference needs an updated description"
As long as we still have schemas, we may add "helper" tables in the "reference" schema. We need to update the description accordingly.

Suggestion:
Contains, sources, literature and helper tables which can assist with your work.

[2020-09-29 11:34] han-f commented on #635
If possible I would also rename the display name of the schema to
'reference and help'   (and keep the url)

[2020-09-29 11:56] MGlauer commented on #147
There is no edit button

[2020-09-29 12:11] Ludee commented on #635
Contains sources, literature and auxiliary/helper tables that can help you in your work.

[2020-09-29 12:37] christian-rli opened #636 "Missing functionality to upload images in tutorial section"
Insert image button requires a link to the image file. It should be possible to just drag and drop an image there.

[2020-10-05 14:41] TuPhanRLI opened #637 "bug with mview"
Through the API tutorial, I created a table "bkg_vg250_2_lan_mview" in the "boundaries" schema (https://openenergy-platform.org/dataedit/view/boundaries/bkg_vg250_2_lan_mview) which wasn't
listed on the OEP website. But through the API I could still access the table and generate it. Is it supposed to be like that?

[2020-10-06 13:01] MGlauer commented on #634
This requires to reimplement the [read_label](https://github.com/OpenEnergyPlatform/oeplatform/blob/76974529847c39c6fa64f28a7b7d0ea0c3d9e272/dataedit/views.py#L303) function that maps a comment to a new table name (use OMI).

[2020-10-12 13:21] christian-rli opened #638 "Several Display Flaws in Tutorial Area"
This appears to occur with all jupyter notebooks that were imported from github.

The separating line between the tutorial and the sideline information is within the notebook. Therefore the side information overlaps the content. This may be connected to the issue that in the normal view there is a scroll bar at the bottom that allows to scroll just a tiny bit to the side.

![Bildschirmfoto zu 2020

[2020-10-12 13:45] TuPhanRLI commented on #638
The content at the tutorial by "OEP_API_tutorial_part1.html" doesn't display porperly and there are few ones which also doesn't show up @jh-RLI

[2020-10-12 13:59] jh-RLI commented on #638
Already mentioned in #627. I will try to fix this.

[2020-10-13 07:15] han-f opened #639 "Clicking a tag in schema table leads to "edit tags""
When I click a tag listed in a schema table, e.g. 'scenario', I assumed I would then obtain the list boiled down to entries with this tag. Instead, I am transported to the list of tags where I can edit them. Not sure if this is a bug, but definitely not what I as a user expect..

[2020-10-13 12:21] han-f commented on #405
We have updated the document based on @Richard-Schmitz comments - many thanks for these. Apart from chapter 3 this should be thus ready for being added to the tutorials section. @christian-rli - could you please advise what to do? Could you also have a look at chapter 3 (its short) and see whether it is ok to upload it? Many thanks.

[2020-10-14 07:49] christian-rli commented on #331
Closed by #600 . Search for table name content is already possible. Keywords are provided and can be used to filter tables.

[2020-10-15 11:08] wingechr opened #640 "csv upload: select null value for each column"
@klarareder, @Richard-Schmitz

[2020-10-15 11:10] wingechr opened #641 "csv-upload. more prominent status message after upload"
@klarareder

[2020-10-15 11:28] wingechr opened #642 "metadata editor: autofill resource data (name + field names / types )"
@klarareder

[2020-10-15 11:38] wingechr opened #811 ""dialect" and "encoding" should be removed from block "resource""
these are only relevant for uploading/parsing csv files and do not apply to data in the database

[2020-10-15 11:42] wingechr opened #643 "section "review" should be removed from metadata editor"
users should not edit this information themselves

[2020-10-15 11:45] wingechr opened #644 "metadata editor: empty sections should be discarded automatically"

[2020-10-15 11:49] wingechr opened #645 "metadate editor: remove "If not applicable use (null)""
users should not be asked to write "null" in each empty cell

[2020-10-15 11:52] wingechr opened #646 "upload wizard: question mark for tooltip"

[2020-10-15 11:56] wingechr opened #647 "csv upload: add delete table option"

[2020-10-19 10:21] #647 closed

[2020-10-19 10:47] #640 closed

[2020-10-19 11:35] TuPhanRLI opened #650 "this section is not recognizable through read the docs"
https://oep-data-interface.readthedocs.io/en/latest/api/advanced.html?highlight=advanced

[2020-10-19 13:11] wingechr commented on #646
change box like in factcheets

[2020-10-19 13:13] klarareder commented on #161
This is part of the new metadata editor

[2020-10-20 08:55] #646 closed

[2020-10-25 21:15] jh-RLI commented on #645
This could concern the ometadata itself. We require the user to use " null " in fields with an unknown or empty value.

[2020-10-25 21:20] jh-RLI commented on #644
Is this kind of equal to #645  ?

[2020-10-25 21:34] jh-RLI commented on #639
The linked PR (on the right side) contains work that concerns the tags in dataedit, this will be included in the next release. I will include this in the PR.

[2020-10-25 21:40] jh-RLI commented on #636
We need an upload backend for this. I will do some research and make a suggestion here.

[2020-10-26 14:28] christian-rli opened #652 "Missing download button for pdfs in tutorial section"
This was requested within a discussion of the oefamily developers.

[2020-10-27 09:10] MGlauer commented on #149
The manual addition/update of values in the database does not seem to be a frequent use-case. Most tables contain large datasets that can not be maintained manually. All changes in those tables are done via the API anyway. Therefore, we dropped the manual data editing during the redesign.

[2020-10-27 09:10] #149 closed

[2020-10-27 09:10] MGlauer commented on #109
See #149

[2020-10-27 09:10] #109 closed

[2020-10-27 09:11] MGlauer commented on #340
This is done by the webserver and should not be part of the platform code.

[2020-10-27 09:11] #340 closed

[2020-10-27 09:30] christian-rli commented on #627
duplicate issue. use #638 instead

[2020-10-27 09:30] #627 closed

[2020-10-27 09:40] christian-rli commented on #405
I had a look at chapter 3 and it looks good to me @han-f . As we discussed in our call the pdf is based on a word file that can easily be converted to mark-up. It can be copied into the tutorial creator on the OEP once the image upload works (again). So, unfortunately there is no easy publish button for pdfs and there will have to be some manual attention. Hopefully it's not too much of a bother.

[2020-10-27 09:45] christian-rli commented on #643
I agree. With a complete review process overhaul in the future we can think about a convenient functionality for reviewers to do this on the platform. However for now it should only be possible to upload the review info via the api.

[2020-10-27 10:25] christian-rli commented on #645
Yes @TuPhanRLI the interface should automatically return null for an empty field. I think it's a logical convenience feature :) We require `null` in fields in the metadata string where there is an empty value. User on the platform need not care about the technical detail and just leave empty fields empty.

[2020-10-27 10:28] christian-rli commented on #645
For completeness sake: "unknown" would be an information the user can enter. It differs from `null` in that there is the actual information that such information does exist, but it's unknown to the person working on this. In practice though, many users will likely leave the fields empty and that's also fine.

[2020-10-27 13:48] TuPhanRLI opened #654 "Internal Server Error 500 through Matlab"
-through the advanced api i tried a post request with "joining tables and" calling the function "ST_AsText"
and "oder by"
- previous mehods it did work with "forms" and "where" syntax

Some Side Information
url     = 'https://openenergy-platform.org//api/v0/advanced/search';

Options = weboptions('UserAgent','Mozilla/5.0','RequestMethod','post', 'MediaType','application/json');

{ "query":

[2020-10-27 14:22] christian-rli commented on #620
unjustifiable indeed.

[2020-10-27 15:03] wingechr opened #656 "Tutorials from markdown look different in preview then in final version"
Steps to reproduce:

* New tutorial:

[code]

* Preview (is ok)

![preview](https://user-images.githubusercontent.com/4265368/97320154-d04ad880-186d-11eb-9f02-8f51087d72bd.png)

* Submit (no raw html):

![rendered](https://user-images.githubusercontent.com/4265368/97320220-dc369a80-186d-11eb-82ef-227c041b8149.png)

[2020-10-27 16:17] christian-rli commented on #338
There are instructions on how to upload a datapackage (i.e. a csv table plus oemetadata file) here: https://github.com/OpenEnergyPlatform/tutorial/blob/develop/upload/OEP_Upload_Process_Data_and_Metadata_oem2orm.ipynb . A frontend implementation will have to wait for an overhaul of the review process. However it _is_ possible and documented how to upload a datapackage. Therefore closing this issue

[2020-10-27 16:17] #338 closed

[2020-10-28 10:41] wingechr commented on #346
finished with https://github.com/OpenEnergyPlatform/oeplatform/pull/632

[2020-10-28 10:41] #346 closed

[2020-10-28 10:41] wingechr commented on #348
fisnihed with https://github.com/OpenEnergyPlatform/oeplatform/pull/632

[2020-10-28 10:41] #348 closed

[2020-10-28 10:43] wingechr commented on #167
resolved with https://github.com/OpenEnergyPlatform/oeplatform/pull/653

[2020-10-28 10:43] #167 closed

[2020-10-28 10:49] wingechr commented on #134
finished with #167 and #226

[2020-10-28 10:49] #134 closed

[2020-10-28 10:52] wingechr commented on #370
finished with #134, #226 and #167.

[2020-10-28 10:52] #370 closed

[2020-10-28 15:12] MGlauer commented on #385
Shall we use the `.png` versions or are there some other formats?

[2020-10-28 15:51] bmlancien commented on #385
There is a `.svg` version but it's not ready to use, I would have to work on that. I would use the `.png` version for now, if possible:

![Platypus_Mascot](https://user-images.githubusercontent.com/33999424/97461011-99dc8e80-193d-11eb-8624-7cbab5d6ac68.png)

[2020-10-29 09:44] christian-rli opened #658 "Missing integration of review process in platform"
The review process is too complicated, especially if to attract volunteers. Significant parts of it can be automated. All of that should be integrated into the oep. If it's easy and maybe even fun to review, it'll make life easier for reviewers and maybe even attract volunteers.

[2020-10-29 09:45] han-f opened #659 "Filters are case senstitive and do not include searching for tags."
The filters that can be used to search for tables are

a) case-sensitive
b) does not include searching for tags

This makes it non-trivial to search for datasets.

It would be more user-friendly if the filter search would not be case-sensitive AND would include tags, too.
@MGlauer - it would be great if this could be fixed for the next release!

[2020-10-29 09:49] han-f opened #660 "Not all tags are shown"
This is related to #659
There are only a few tags shown that users can choose. Since the Filter search bar seems to only search for table names, there is no chance a user can find tables by tags other than the ones shown.

It would be very helpful to include all tags in some way.

@MGlauer - this would also be very helpful to have fixed for the next release.

[2020-10-29 09:55] han-f commented on #660
See also pull request https://github.com/OpenEnergyPlatform/oeplatform/pull/600

[2020-10-29 09:55] han-f commented on #659
See also pull request https://github.com/OpenEnergyPlatform/oeplatform/pull/600
This is not addressed there but seems related

[2020-10-29 10:40] han-f opened #661 "Front page: explanatory text missing"
The front page has no mouse-over explanatory text that can guide the user. E.g. only a figure with "database"  may not be sufficient for a user to know this is where the data he/she is looking for is at.

Suggestion: provide mouse-overs or very short guidance that explains what to find where.

[2020-10-29 10:43] han-f opened #662 "Front page does not sufficiently guide users"
The front page has no mouse-over explanatory text that can guide the user. E.g. only a figure with "database"  may not be sufficient for a user to know this is where the data he/she is looking for is at.

Suggestion: provide mouse-overs or very short guidance that explains what to find where.

[2020-10-29 11:55] jh-RLI commented on #656
I have provided a hotfix to escape the html that fixes this bug. (see linked PR)

Thereby I came across new bugs:
Some markdown elements are not rendered as expected (elements like checkbox and code blocks).

Why does it behave like this:
It seems that Markdown2 and the preview of the easymde Markdown Editor generate different results.
Easymde does a better job rendering the markdown, but it does

[2020-10-30 08:23] wingechr commented on #161
implemented in [feature/new_meta_editor](https://github.com/OpenEnergyPlatform/oeplatform/tree/feature/new_meta_editor) using "description" from meta data schema

[2020-10-30 08:25] wingechr commented on #642
implemented in [feature/new_meta_editor](https://github.com/OpenEnergyPlatform/oeplatform/tree/feature/new_meta_editor)
* field names
* field types
* resource name = tablename (if empty)
* id = tablename (if empty)

[2020-10-30 08:27] wingechr commented on #643
implemented in [feature/new_meta_editor](https://github.com/OpenEnergyPlatform/oeplatform/tree/feature/new_meta_editor)
hide
* review
* metaMetadata
* resources.encoding
* resources.dialect

[2020-10-30 08:28] wingechr commented on #644
implemented in [feature/new_meta_editor](https://github.com/OpenEnergyPlatform/oeplatform/tree/feature/new_meta_editor)

[2020-10-30 08:28] wingechr commented on #645
implemented in [feature/new_meta_editor](https://github.com/OpenEnergyPlatform/oeplatform/tree/feature/new_meta_editor)

[2020-10-30 09:41] christian-rli opened #664 "Page dataedit should no longer exist"
Dataedit contains a link to the schemas and to the API documentation. The API documentation can be linked to on the frontpage where the link to dataedit sits now. The link to the schemas should replace all existing links to dataedit.

[2020-10-30 09:52] wingechr opened #665 "meta editor: when applying raw json, missing items result in missing form inputs"

[2020-10-30 11:21] MGlauer commented on #634
For this `load_metadata_from_db` has to be split into another function that translates the metadata to version 1.4.

[2020-10-30 14:52] l-emele opened #667 "Feedback from a colleague testing the OEP"
I asked a colleague (who is a modeller) to test a little bit the OEP, find some data, download it an so on. Here is the main feedback:

- [x]  Wording _data_, _database_ and _data view_ is confusing.
- [x] The picture on https://openenergy-platform.org/factsheets/overview/ is hard to read on a smaller screen and it is not obvious that you can click on the different parts of the picture to go to th

[2020-11-02 07:02] han-f commented on #667
I am working on adding 2020, 2030 and 2040 tags to the tables.
While doing so I realised it would be a good added functionality to be able to change tags for multiple tables at once.
-> possible a new issue ...

[2020-11-02 07:09] han-f commented on #667
That written -> as it is now: it would be a significant effort to document in each metadata table the modifications in the tags that were made ... so a bulk edit of fields in metadata tables would also enhance the workflow.

[2020-11-02 08:02] sludig commented on #667
2 short clarifications:

- concerning the colors: the different shades of blue lack contrast which make them hard to distinguish on a screen that is not very bright
- concerning the filters: if you don't know the exact wording used in the tables, it is difficult to filter since you have to enter it correctly (e.g. "power plant" vs "power sector" or if you're not sure of the spelling). That is why

[2020-11-05 08:48] #620 closed

[2020-11-05 10:13] han-f commented on #667
@christian-rli : I have added you to this ticket (not sure of Jonas handle) - I really think @sludig made valid comments about metadata being shown as a sidebar being not ideal. If they could be shown below the data table, this would improve usability.

If we could, at the same time, show tags and downloads above the table (maybe instead of the currently "misunderstandable" tabs), this would also

[2020-11-05 10:14] han-f commented on #667
Done: tags with 2020, 2030, 2040 added to respective KSZ tables.

[2020-11-05 10:27] han-f opened #668 "Tags: "Back to database link leads" to wrong page"
When I click the above mentioned link in /dataedit/tags/ I am not transported back to where I was before but to dataedit -> the page that should cease to exist anyway, see #664

[2020-11-05 10:34] han-f opened #669 "Search: seems to not include metadata"
To test the adjusted search:
I added some information to the metadata to this table on toep: http://toep.iks.cs.ovgu.de/dataedit/view/model_draft/szenarien_db_mmr

I added:
Öko-Institut  under Description and
Monitoring Mechanism Regulation under Title

Going back to schemas and entering those in the search bar and clicking "Apply Filters" leads to empty search results.
This seems to me like metad

[2020-11-05 10:38] jh-RLI commented on #656
I will have a look at how to set anchors in markdown or insert anchors as HTML. Are there any other HTML tags needed? @wingechr

[2020-11-05 10:56] han-f opened #670 "Delete views that do not make sense"
There are some views which do not make sense and whose titles are not helpful.
Can these be deleted?

E.g. for this table: https://openenergy-platform.org/dataedit/view/economy/destatis_gva_per_district
There may be more scattered across tables.

[2020-11-05 12:10] christian-rli commented on #670
I am wondering more generally if there are any views that were created and meant to be shared with others. I think this might be a usecase, but until the average user understands from the interface that this is an option plus when exactly a view is visible to others, the option should be removed. That's the quick solution. Afterwards we can think about how to enable and communicate a view sharing

[2020-11-05 12:10] han-f commented on #662
Today we discussed that some texts will be implemented, not mouse-overs. Not sure when those texts should be made and by whom.
@bmlancien  let me know when it would be useful to write such texts, and whether I should have a go at them.

[2020-11-05 12:12] MGlauer commented on #669
Ah, it does. But new metadata is not added to the search index, yet. I am working on it.

[2020-11-05 12:35] han-f commented on #670
I like your suggestion @christian-rli

[2020-11-05 12:53] han-f opened #671 "Ontology: no desciption / error"
When clicking on a oeo module  here
https://openenergy-platform.org/ontology/oeo
it simply states: " no description found". We should add texts.

Not sure whether toep reflects the correct status there, but on toep http://toep.iks.cs.ovgu.de/ontology/oeo throws a 404 it seems.

[2020-11-05 14:01] #623 closed

[2020-11-05 14:44] bmlancien commented on #662
I think you could ask to write the texts right away. I just don't know who would implement this on the website after that. I was thinking of a solution like below. Quite simple: icon + heading + text + button inside a box for each section.

![OEP_HP_Desktop](https://user-images.githubusercontent.com/33999424/98255121-5b6a5380-1f7d-11eb-818a-ee7ad5aba4ae.png)

[2020-11-05 16:05] bmlancien commented on #260
![OEP_Data_Process_v3](https://user-images.githubusercontent.com/33999424/98265139-06ccd580-1f89-11eb-9241-05948ae02301.png)

[2020-11-05 17:02] #631 closed

[2020-11-06 06:15] han-f commented on #662
Looks great I think.
@MGlauer @christian-rli @wingechr  @klarareder @stap-m @l-emele  here come some suggested texts for each of the boxes, feel free to adjust / implement once ready.
**Database:** You are interested in data? Come, visit the database to explore. Every dataset available is published under an open license, so you can securely download and work with it.
**Factsheets:** If you want to

[2020-11-06 08:06] klarareder commented on #662
It is a nice and informative display. @bmlancien the icons are different from the icons you made with the open circle. E.g. Turorials are like a Screen and here pen and paper. Would it look good to use the same icons? Or even the icon with the open circle?

[2020-11-06 08:14] han-f commented on #662
I think Bryan used the icons we already have on the front page:

![grafik](https://user-images.githubusercontent.com/36844029/98342232-6ae6ac80-2010-11eb-81d0-d46f1b713cc3.png)

[2020-11-06 08:18] klarareder commented on #662
Yes, but I still think we could consider using the other icons to be consistent.

[2020-11-06 08:20] klarareder commented on #662
Some suggestions on the text:
**Database:** Are you interested in data? Visit the database to explore it. All contributors publish datasets under an open license, so you can securely download and work with it. Are you interested in sharing your own data? This is the place to upload it.
**Factsheets**: Do you want to learn more about scenarios and models related to the data this is the right place

[2020-11-06 08:22] klarareder commented on #662
Is there an other wording for 'data annotation' (Ontology)? I think it is the correct term but (at least for me) not a term I can easily understand. I guess many non native speakers will be on the homepage, so I think it would be nice to have it very understandable.

[2020-11-06 08:24] han-f commented on #662
Thanks for the suggestion @klarareder - I did not add information about "this is the place to upload" - since when a user goes to the database he/she sees the schemas, clicks a link and then sees a table. The interaction available is currently the download. Once the Wizard is there also the upload - but only with the wizard and not the API.  How about:

What we still have missing then is the API.

[2020-11-06 08:34] klarareder commented on #260
This is much clearer than the last version. I have the following remarks:
1.) I want to upload data can also be part of A -> I use an API to upload or download data
2.) B should include the upload wizard, I will search for the icon Christian used for the implementation
3.) The arrow from Sandbox to model draft is only for the type of connection not the data itself, hence a different color of arrow

[2020-11-06 08:41] klarareder commented on #260
Here the icon with the wizard:

![grafik](https://user-images.githubusercontent.com/42575569/98344892-32e16880-2014-11eb-9518-167943ce18a1.png)

[2020-11-06 08:48] klarareder commented on #662
Maybe we could have two buttons:
1.) upload data easy  - [Info] without prior knowledge, recommended for a single table -> upload Wizard
2.) upload data convinient - [Info] programming skills required, recommended for multiple tables -> API

[2020-11-06 09:01] han-f opened #672 "Add upload data icons to sidebar"
When looking at the table with schemas (e.g. http://toep.iks.cs.ovgu.de/dataedit/schemas) or a table (e.g. http://toep.iks.cs.ovgu.de/dataedit/view/model_draft/szenarien_db_mmr)  there will be the possibility to upload data with the wizard.

It would be great to also add a link to the API, so both ways to upload data are visible in the same place.

See also  #662

1.) Icon Wizard (explanatory text

[2020-11-06 09:24] bmlancien commented on #662
@klarareder Yes, as @han-f mentioned, I only took the actual ones, but you're right that we should use the new icons to make it consistent with the rest. I don't think it is necessary to add the open circles, but it is also possible. But bear in mind that without circles they look like more icons, and with the circles, more like logos. An icon gives more the impression that we're talking about a f

[2020-11-06 09:30] #585 closed

[2020-11-06 09:30] #591 closed

[2020-11-06 09:30] #570 closed

[2020-11-06 09:30] #321 closed

[2020-11-06 09:30] #331 closed

[2020-11-06 09:30] #373 closed

[2020-11-06 09:30] #525 closed

[2020-11-06 09:30] #586 closed

[2020-11-06 09:30] #592 closed

[2020-11-06 09:30] #593 closed

[2020-11-06 09:30] #639 closed

[2020-11-06 09:47] klarareder commented on #662
Good point - than is without the circle more appropriate.

[2020-11-06 09:55] #624 closed

[2020-11-06 10:41] #664 closed

[2020-11-06 12:28] jh-RLI opened #674 "Tutorials app: activate safe_mode"
Html is not escaped as expected when creating a new tutorial using the markdown editor -> save tutorial.

[2020-11-06 16:38] #659 closed

[2020-11-06 18:01] #565 closed

[2020-11-06 18:01] #608 closed

[2020-11-06 18:03] #674 closed

[2020-11-09 11:09] stap-m commented on #662
I'd extend it as follows: "[...] Create _and publish_ your own _factsheets_ here."

What about: "which helps - for example - with data annotation and _data search_." ?

[2020-11-09 11:18] l-emele commented on #662
Does the ontology currently help with _data search_? I don't think that the OEO currently serves this purpose. So we should not mention this as it else awakens expectations that we currently cannot fulfill.

[2020-11-10 06:54] han-f opened #676 "toep: Upload Wizard placement doesn't look right"
See screenshot below. This is on Firefox and large Desktop monitor.
When scaling the window smaller and all moves below the schema table the placement of the elements for the wizard remain the same, i.e. wizard icon next to the button and text off.

![grafik](https://user-images.githubusercontent.com/36844029/98637966-7d6f2780-2329-11eb-948e-a2c38031cf97.png)

[2020-11-10 07:03] han-f opened #677 "toep: editing metadata pressing 'submit' throws error"
when editing metadata (worked before), clicking the submit button throws a pop-up message which states 'forbidden'.

Suggested improvement: the submit button may also be placed at the top. Now there is only one at the button and the form is really long.

[2020-11-10 07:15] han-f opened #678 "toep: Explanation on how to use Filters and Tags needs update on schema page"
It reads:
_Use the Filters on Tags or try searching for strings that occur in table names. You can combine text and Tags filters to get more precise results. If you filter for multiple Tags, only tables containing all filtered Tags will be displayed._

1) If I filter for tags, the list of schemas is reduced to the schemas that hold this tag. It doesn't show the tables. If I then click a schema I s

[2020-11-10 09:58] han-f commented on #669
Has it been added in the current toep? I wanted to test adding new metadata and then searching for it, but received the "Forbidden" pop-up message (#677)

[2020-11-10 10:02] MGlauer commented on #669
This seems like a bug with the metadata editor. Maybe @wingechr can help.

[2020-11-10 10:30] han-f opened #679 "toep: cannot edit / delete study"
http://toep.iks.cs.ovgu.de/factsheets/studies/1/edit/
Same happens on the live OEP. It would be good to be able to edit/delete scenarios and studies.
This may involve adding a 'delete' button somewhere. Not sure whether this exists already.

[2020-11-10 10:34] han-f opened #680 "OEP: delete test factsheets"
There are several scenario factsheets that are obviously only there for testing purposes. They should be deleted. At the moment users cannot do this, since an error happens when trying to edit the study/scenario. No delete button can be found.
See also #679  and #595

https://openenergy-platform.org/factsheets/scenarios/

[2020-11-10 10:45] han-f opened #681 "toep: Clicking a tag in schema table still leads to 'edit tags'"
Clicking a tag in the list with tables in a schema still leads to 'edit tags' rather than to displaying only those tables that have the tag attached.

see e.g.: http://toep.iks.cs.ovgu.de/dataedit/view/model_draft
see also #639  - which seems to have been addressed and closed already

[2020-11-10 11:36] jh-RLI commented on #681
That's right, as I [mentioned in the PR,](https://github.com/OpenEnergyPlatform/oeplatform/pull/600#issuecomment-719773975) this is not fixed yet. I will create a new PR and link it here.

[2020-11-10 12:10] wingechr commented on #669
@han-f it looks like you do not have permissions to set metadata via api. send me a private message what user you are using

[2020-11-11 14:47] #645 closed

[2020-11-11 14:49] #574 closed

[2020-11-11 14:51] #305 closed

[2020-11-11 14:52] MGlauer commented on #228
Closed due to the new upload wizard

[2020-11-11 14:52] #228 closed

[2020-11-11 14:52] #161 closed

[2020-11-12 08:27] MGlauer commented on #677
@wingechr: I checked the permissions, and they do not seem to be an issue. Maybe the way the queries are sent is an issue. Do they pass the right credentials to the API?

[2020-11-12 08:31] MGlauer commented on #677
PS: If `oeko_testtable` was used in this case.

[2020-11-12 17:27] #677 closed

[2020-11-13 07:56] han-f opened #684 "Name column in schema still shows filenames of tables"
The name column in schemas, e.g. here: https://openenergy-platform.org/dataedit/view/scenario
still shows the names of the tables rather than the title. I thought we had an issue on this already, but cannot find it anymore. I think this is important to fix.

[2020-11-13 09:15] MGlauer commented on #684
Yes, this is a duplicate of #634

[2020-11-13 09:15] #684 closed

[2020-11-16 08:29] MGlauer commented on #661
Related to #662

[2020-11-16 09:00] han-f commented on #662
Text for ontology ( discussed with @MGlauer and @meisam-booshehri ):

Ontology: Come here to learn more about the Open Energy Ontology (OEO), which with data annotation and management.

[2020-11-16 09:04] MGlauer commented on #660
This PR has been already merged

[2020-11-16 09:04] #660 closed

[2020-11-16 09:06] han-f commented on #635
So. let's implement for now: :
Contains sources, literature and auxiliary/helper tables that can help you with your work.

[2020-11-16 09:15] han-f commented on #614
Can I please reopen this because this still is not solved:
Beschreibung: Wenn ein Nutzer Tags auswählt und den Button klickt, dann werden die Schemas,
die Tags enthalten, angezeigt - das ist okay. **Problem ist, dass wenn man ein Schema anklickt
werden alle Tabellen aufgelistet, nicht nur die die das gesuchte Tag/Tags enthalten.**

[2020-11-16 10:26] jh-RLI commented on #614
I have this issue at the top of my todo list ! :)

[2020-11-16 14:35] christian-rli commented on #335
I added a section on http status codes to the API documentation. Once merged this closes the issue.

[2020-11-17 16:10] christian-rli commented on #546
I added a translation of the terms of use. English comes first, with a disclaimer that only the German version further down below is legally binding.

We recently received a new document outlining our new privacy policy. I would volunteer to integrate that text on the website (also with respect to #545 #544 and #157 ), but I am confused now as to what it will replace; the page behind legal? Maybe

[2020-11-20 11:13] christian-rli commented on #545
This page becomes obsolete with the new privacy policy that was created in #544 .

[2020-11-23 15:28] christian-rli commented on #667
@han-f : Jonas' handle is @jh-RLI .
@TuPhanRLI made a similar comment today about the metadata being practically invisible on the side and I agree. Personally I don't think I'm capable of a quick fix to this, especially when having to move all that info away from the sidebar. If I touched this now, It'd probably look weird and would have to be fixed a gain and again. Also, I am trying to focus mor

[2020-11-23 15:31] christian-rli commented on #668
Does this issue persist @han-f ? I cannot reproduce this. I am transported back to the schemas page. Either the page was still in your browser cache, or you tried this before the latest release.

[2020-11-26 08:51] klarareder opened #691 "Tag colurs"
The colours for the same tag are different, but should have the same colour
![grafik](https://user-images.githubusercontent.com/42575569/100328363-b9aeb300-2fcc-11eb-9f5c-870e632ddf9d.png)

[2020-11-26 08:54] klarareder opened #692 "Tags are displayed beside table but not in list"
here the label "scope" is not included
![grafik](https://user-images.githubusercontent.com/42575569/100328828-3f326300-2fcd-11eb-871a-b6e0c6b35f90.png)
but beside the table the label "scope" is correctly displayed
![grafik](https://user-images.githubusercontent.com/42575569/100328922-5709e700-2fcd-11eb-81f4-4c4dd3134aea.png)

[2020-11-26 08:55] klarareder commented on #692
Also the colours of the Tags do not match!

[2020-11-26 09:01] klarareder opened #693 "Search/Filter function not intuitive"
The  filter page is not intuitive:
1.) Apply and Reset filters
    a) are to far at the bottom -> need to be at the top
    b) look very much like the tags themselves. Need to have a different color/form.
2.) Find data resources need to be at the very top, above the filter funcion.

![grafik](https://user-images.githubusercontent.com/42575569/100329326-cda6e480-2fcd-11eb-99db-d2a2c78a46ec.png)

[2020-11-30 07:58] han-f commented on #668
No - it does not persist any longer - yay!

[2020-11-30 07:58] #668 closed

[2020-11-30 12:52] bmlancien commented on #260
![OEP_Data_Process_v4](https://user-images.githubusercontent.com/33999424/100612364-28fd0d80-3313-11eb-8a82-34efc19524b5.png)

[2020-11-30 13:14] klarareder commented on #260
I like this! I will discuss it on thursday in our Jour Fixe.

[2020-12-03 09:55] bmlancien commented on #260
![OEP_Data_Process_v5](https://user-images.githubusercontent.com/33999424/100993664-f98a1300-3555-11eb-8ec1-5efec8dbf9b5.png)

[2020-12-03 10:31] klarareder commented on #260
I created the turorial:
https://openenergy-platform.org/tutorials/8/

[2020-12-03 10:31] #260 closed

[2020-12-04 16:16] KirannBhavaraju commented on #654
**Not reproducible**, on the platform in intitial testing via external sources (Postman).

# Request Type
[code]

# Request and Response Objects:
Please rename with a .json for json.
- Request Json as .txt: [request.txt](https://github.com/OpenEnergyPlatform/oeplatform/files/5643891/request.txt)
- Response Json as .txt: [response.txt](https://github.com/OpenEnergyPlatform/oeplatform/files/5643865/

[2020-12-04 18:47] KirannBhavaraju commented on #654
I am sharing the script i used in matlab to test your scenario with similar ` weboptions `, the same `schema`, `tables`, `joins`.

![image](https://user-images.githubusercontent.com/28805843/101200883-30038300-3667-11eb-86b7-3e17fdaa24c9.png)

However, **have been unsucessful in reproducing your issue**.  @TuPhanRLI

[2020-12-04 18:51] #654 closed

[2020-12-07 10:27] christian-rli opened #694 "Documentation tab on top of page leads to deprecated site"
Link to the same location as box below with same label.

[2020-12-08 16:01] MGlauer opened #696 "Direct dev-version of oeo to github"
A new IRI for development versions has been introduced. For consistency, these URLS should redirect to the actual files that are on the dev-branch on github.

[2020-12-08 16:14] jh-RLI opened #697 "[Factsheets] Bug when editing a framework factsheet"
#### What is the Issue about?
A user edits a framework factsheet and unchecks a checkbox, for example. Then the input is confirmed with "submit all". Up to this point everything runs as expected. If now the same framework factsheet is edited again because another value is to be changed, then a cached page is provided by the browser. The problem is, that the values of the state before the first edi

[2020-12-09 07:43] han-f commented on #405
We have added this to tutorials now, but still need to work a bit on formatting issues (e.g. python code displays correctly in preview, but not in final view).

https://openenergy-platform.org/tutorials/11/

[2020-12-09 07:53] han-f opened #698 "Tutorial form: Markdown for code does not work"
See example tutorial
https://openenergy-platform.org/tutorials/12/

This would be important for our beginners tutorial to work:
https://openenergy-platform.org/tutorials/11/

[2020-12-10 11:19] jh-RLI commented on #698
I noticed this already, I will try to fix this before the next release next week.

[2020-12-12 22:43] jh-RLI commented on #245
functions to add metadata as comment on table are implemented in [oem2orm ](https://pypi.org/project/oem2orm/) and [oep-client](https://pypi.org/project/oep-client/). The api accepts valid oemetadata as HTTP POST at: /api/v0/schema/{schema}/tables/{table}/meta/

You can also add metadata using the metadata form on the oep when viewing a table. Keep in mind you need permission on that table.

[2020-12-12 22:43] #245 closed

[2020-12-12 22:44] #636 closed

[2020-12-12 22:45] #629 closed

[2020-12-12 22:55] #312 closed

[2020-12-13 20:38] KirannBhavaraju commented on #662
# Issue Status:
First Preview Available.

# Changes/Additions:
- Some text for making it more clear, all the points mentioned above.
- Some text for "Documentation"
- Some positional/layout changes to follow with the theme of the application.

# Preview
Below are some previews of the changes in the `index.html`

## Fullscreen
![image](https://user-images.githubusercontent.com/28805843/102023030-04

[2020-12-17 07:34] stap-m opened #704 "change nameing of metadata file when downloading data"
When a data set is downloaded from the OEP, the metadata file is named "datapackage.json". This is contraintuitive.
It should be called smth like "_tablename_ _metadata.json"

[2020-12-17 07:45] stap-m opened #705 "metadata view should be scrollable and table width variable"
Viewing metadata should be made more comfortable.
- Metadata colums should be scrollable: currently it is not possible to scroll down in the metadata colum, only in the browser window. The lower part of the metadata, where the columns are described is below the data table itself, especially with long meta data files. This makes the view uncomfortable.
- The width of the meta data column should be

[2020-12-17 07:50] stap-m opened #706 "map view just shows data selection"
It's not possible to view all data in a dataset in the map. The map view just showns the data selection (10 or 100 rows). Ideally, the number of shown data items in the map should be independently choosable from the data table selection, since the map appears below the table.

[2020-12-18 09:35] #635 closed

[2020-12-18 09:35] #694 closed

[2020-12-18 10:08] #614 closed

[2020-12-18 10:24] #698 closed

[2020-12-18 10:56] #335 closed

[2020-12-18 15:44] #544 closed

[2020-12-18 15:44] #545 closed

[2020-12-18 15:44] #546 closed

[2020-12-18 15:44] #157 closed

[2020-12-21 14:14] #705 closed

[2020-12-21 15:15] #324 closed

[2020-12-23 11:04] wingechr commented on #704
This is not a bug.

The zip file is following the datapackage specifications (https://specs.frictionlessdata.io/data-package/), and the metadata must be named "datapackage.json"

[2020-12-23 11:04] #704 closed

[2020-12-23 11:11] wingechr opened #708 "Download JSON no longer works"
@jh-RLI
merge dd956f5b568999279937dcac1551d361731cc7f6 breaks the "Download JSON" button in the data view, resulting in javascritp error `Uncaught ReferenceError: downloadMetadata is not defined`, because this function was removed from the code.

[2020-12-23 11:15] wingechr commented on #670
Maybe the feature to create views should be disabled until a decision can be made how they should be used.

It only adds to the complexity of the platform and I am not sure is that useful.

[2020-12-23 12:08] #665 closed

[2020-12-23 13:21] wingechr commented on #656
no, but we can also forgo the anchors, if it's too much hassel. it's more of a nice to have

[2020-12-23 13:21] #656 closed

[2020-12-23 13:32] wingechr commented on #708
@jh-RLI sorry, the problem occured in a different commit. I will create a new ticket

[2020-12-23 13:32] #708 closed

[2020-12-23 13:35] wingechr opened #709 "merge breaks JSON Download"
* merge 72c5c98eba076e2b4822bc82ab43a568b9f34434 breaks the "Download JSON" button in the data view, resulting in javascritp error `Uncaught ReferenceError: downloadMetadata is not defined`, because this function was removed from the code.

* The Upload section also has vanished

# Reason
Those lines are deleted in the merge 72c5c98eba076e2b4822bc82ab43a568b9f34434  in file dataedit/templates/data

[2020-12-23 13:44] MGlauer commented on #709
Weird... I am pretty sure I tested both download buttons before merging... I will look into it.

[2020-12-23 13:55] MGlauer commented on #709
Ok, The functionalities should be back now. @wingechr could you test it, please?

[2020-12-23 14:04] wingechr commented on #709
yep, seems fine again, thanks! 👍

[2020-12-23 14:04] #709 closed

[2020-12-23 14:06] #396 closed

[2020-12-23 14:07] #644 closed

[2020-12-23 14:08] #642 closed

[2020-12-23 14:08] #643 closed

[2020-12-23 20:58] jh-RLI commented on #678
This commit didn't make it into production OEP. It contains changes to the filters/tags description text.

https://github.com/OpenEnergyPlatform/oeplatform/pull/688/commits/bbeca95c32dc01c0fd86a06e6ef7c92e6a034750

[2021-01-05 10:02] stap-m commented on #662
Looks good. What else needs to be done here? This issue needs to be fixed an implemented before the Abschlussworkshop!

[2021-01-06 06:20] han-f opened #711 "Datapackage download link has disappeared"
Previously we were able to download the csv of a table and a data package.
Now the possibility to download the data package has disappeared. We would like to demonstrate this functionality on January 20th, so it would be very good to get it back.

Not sure who is the best to assign - please adjust accordingly.

[2021-01-06 06:32] han-f opened #712 "Number of search results in tables does not reflected when searching for tags"
When searching for a keyword in the search field when in https://openenergy-platform.org/dataedit/schemas
leads to the desired results that it reduces the table to the number of schemas were the search is successful and displays for each schema the number of matches.
For example: searching in the search-bar for "KS95" reduces table to schema "scenario" and shows 10 matches

When clicking and apply

[2021-01-06 06:52] han-f commented on #693
Some changes are now visible. Many thanks. The only thing that seems left is that the buttons still look similar to the tags below them.

[2021-01-06 07:07] han-f opened #713 ""no description found" under heading oeo"
On: https://openenergy-platform.org/ontology/oeo/
under the first heading called "oeo" it states "no description found".

We should add a description or remove the text.

[2021-01-06 08:16] han-f commented on #662
Decision from call on 2021-01-06:

- substitute "Documentation" box by "Tutorials" (and its  text)
-  get rid of what currently is in "Documentation" box.

[2021-01-06 08:46] han-f opened #714 "Table title and name should be displayed"
When looking at a table on the top of the page it currently only shows the table name.
Please also add the table title.

[2021-01-06 08:50] han-f opened #715 "Hide box which interacts with table"
Please hide this box behind some dropdown and add a short text above that introduces what users can do with the box.

![grafik](https://user-images.githubusercontent.com/36844029/103748400-5751c500-5004-11eb-9c3d-24999f18fde1.png)

Text suggestion:
You can use this box below to interact with the data table

@stap-m @klarareder : Do you think this short text suffices?

[2021-01-06 09:29] stap-m commented on #715
What about: "Here you can group data or add rules for your view." ?

[2021-01-06 09:55] han-f commented on #715
Thanks @stap-m , this reads better than my suggestion I think.

[2021-01-06 10:37] jh-RLI commented on #711
It seems that the "permissions" button has been confused with the "download datapackage" button. In the linked PR I have fixed this again.

[2021-01-06 11:02] Ludee opened #717 "Model factsheet - Minor Bugs"
I am testing and updating the factsheets and I found some minor bugs and problems in the model fact sheet that needs to be fixed:

- **Software** | External optimizer

When checkbox is _yes_ a text field is displayed. The text is not displayed in the factsheet after submission.
Bug is in _add=model.external_optimizer_yes_text_?
-> Allow multiple entries in form

- **Basic Information** | Link to U

[2021-01-06 12:02] klarareder commented on #715
Sounds good!

[2021-01-06 12:19] han-f commented on #712
Noted in today's meeting that this is a rather delicate issue and better not be a fix before the meeting on 20th Jan.

[2021-01-06 12:20] han-f commented on #711
@jh-RLI: many thanks, this is good news!

[2021-01-06 12:22] han-f commented on #713
In todays meeting it seems all were ok with this not being of priority for the 20th.

[2021-01-07 09:52] Ludee commented on #679
This is quite important since the Scenario Factsheets are essential for SzenarienDB. Is this already fixed for the next release?

[2021-01-07 09:55] Ludee commented on #680
I managed to edit the factsheets and reuse the _tests_.
Since there are several issues regarding the editing I will close this issue.

[2021-01-07 09:55] #680 closed

[2021-01-07 10:08] MGlauer opened #718 "Implement API facilitiy to release tables"
This means to move a table from one schema to another, including the following steps:

1. Update the schema in the table registry (`dataedit.models.Table`)
2. Update schemas in table that binds tags to tables (`dataedit.structures.TableTags`)
3. Move table in the oedb using sqlalchemy

The usual use-case is moving a table from model_draft to any of the other schemas (excluding sandbox).
Only white

[2021-01-07 10:11] KirannBhavaraju commented on #662
So the 4 main blocks would be Database, FactSheets, Ontology, and, Tutorials.
The Documentation will then be where Tutorials is now, with no text and just a button..
Is this correct? @han-f