[2021-01-07 10:11] Ludee commented on #697
The same is observed on the model and scenario factsheet.
While this is a minor bug it has a huge impact on the usability.

Is the proposed solution to disable caching a valid solution?
How can this be implemented in Django?

[2021-01-07 10:19] KirannBhavaraju commented on #680
We can have a PR by the start of next week for a "Delete Factsheet" button in the Scenario factsheets, alongside, "Edit Scenario" and "Edit Study". The functionality wasnt supported by the api itself, but i have added it already. Yes, the EditStudy has many issues though. @Ludee @meisam-booshehri @MGlauer

[2021-01-07 10:52] han-f commented on #662
I understood that the Documentation could go altogether, since the link is included under the API link in the footer.

[2021-01-07 11:27] KirannBhavaraju commented on #662
Oh okay, i was just confirming. Thanks for the clarification.

[2021-01-07 12:40] Ludee commented on #426
This issue is nor solved yet.

[2021-01-07 12:47] Ludee opened #719 "Tag colours do not match"
As already documented, the tag colours have a bug. Not all tags are displayed #692

In addition, in the schema view the colours are changing!

![grafik](https://user-images.githubusercontent.com/14353512/103893985-7fb5ee00-50ee-11eb-86da-aba5fd1057b3.png)

![grafik](https://user-images.githubusercontent.com/14353512/103894049-9fe5ad00-50ee-11eb-8f1e-0c66d24a3c3c.png)

Since the colours are used to

[2021-01-07 12:56] meisam-booshehri commented on #680
@MGlauer I believe you took over deleting the test factsheets in our meeting on Wednesday. Am I right or mistaken?

[2021-01-07 13:38] KirannBhavaraju commented on #662
# Changes
- Removes Documentation
- Repositions Tutorials
- Scales accordingly

# Preview Desktop-Landscape
![image](https://user-images.githubusercontent.com/28805843/103897723-3f596e80-50f4-11eb-8e05-91a578bde587.png)

# Preview Handheld-Portrait
<img src="https://user-images.githubusercontent.com/28805843/103898398-28674c00-50f5-11eb-95c3-1292cb51fafe.png" width="50%" height="50%">

[2021-01-07 15:13] stap-m opened #722 "Use new Open Energy Family and OEP logos"
The new OEF logo shoulde included into the "is about" page and the new OEP logo (No 5) should be used in the header.

[2021-01-07 21:29] jh-RLI commented on #717
Added padding and border to the section headings:
![image](https://user-images.githubusercontent.com/38939526/103946879-8452c480-5137-11eb-8d98-be22d43da9df.png)

Do you think the frame is good or should I just add spacing in between (padding)?

[2021-01-07 21:33] jh-RLI commented on #717
See the PR above^

[2021-01-07 22:02] jh-RLI commented on #717
Fixed all except the Software | External optimizer and Basic Information | Link to User Documentation. Will work on it in the next few days.

[2021-01-08 07:15] klarareder commented on #662
It looks good! I noticed that you seem to work with an old verion of the layout, on the current OEP Website the section "Research Data Management" is called "API". Please make sure, that we keep the current status with API.
![grafik](https://user-images.githubusercontent.com/42575569/103985534-6746e180-5189-11eb-81ac-8471f8411a99.png)

[2021-01-08 07:38] han-f commented on #717
Just came across this and think padding would be nice. Also the border seems black which quite jumps at you - have it more in the dark blue theme instead?

[2021-01-08 09:44] han-f commented on #719
I can confirm this, see for example https://openenergy-platform.org/dataedit/view/scenario?query=&tags=185
And: In schema view, most of the times only a certain number of tags is showing (in our case mostly 8), but on occasions it is more than that.

![grafik](https://user-images.githubusercontent.com/36844029/104000126-142b5980-519e-11eb-9aea-b4c049041132.png)

[2021-01-08 09:56] han-f commented on #719
#691

[2021-01-08 11:00] han-f commented on #719
I found a weird behaviour with the tags (maybe this should become a new issue):
When I use the search via tags functionality (example given: _SzenarienDB_) - the schemas view is reduced correctly and when I click the schema I want to visit the tables with the tag are shown (e.g. schema climate) BUT it seems the search only shows those tables in the schema that have this tag also displayed in the o

[2021-01-08 15:30] KirannBhavaraju commented on #662
The initial PR was createrd a month ago. Thanks for the heads up. 👍

# Preview
![image](https://user-images.githubusercontent.com/28805843/104032557-9c295780-51ce-11eb-80df-2297e65fe050.png)

[2021-01-08 15:42] KirannBhavaraju commented on #715
Cool. but, I have a 2 questions @han-f .
1. Should we hide this entire box behind a dropdown? I assume user interaction with the text opens this dialogue somehow: Am i mistaken?
![image](https://user-images.githubusercontent.com/28805843/104033660-1c03f180-51d0-11eb-9b35-05ebd9aaaa18.png)
2. Everytime the user exits the "dropdown thingie" the entire selection has to be made again, wouldnt that mak

[2021-01-08 15:46] stap-m commented on #662
@KirannBhavaraju I think there were more changes beside the renaming to "API" on the front page, espcially new links behind the diverse buttons. Can you also pls check if they match the current version? Thanks. The rest looks pretty.

[2021-01-08 15:54] KirannBhavaraju commented on #662
yes @stap-m you are right. the links from the previous homepage have changed recently, but all the new html does is reorganize these blocks `Databases`, `Factsheets`, `Ontology`, `Tutorials`, and Removes the `Documentation` block. Everything else is the same with what is currently on develop. : ) So the links are the same.

[2021-01-08 18:37] MGlauer commented on #715
This has already been 366019a89

[2021-01-11 06:42] han-f commented on #715
Thanks @MGlauer - and apologies for not having the right terms e.g. "collapsible" at hand.

[2021-01-11 11:23] Ludee commented on #722
I'm sorting and licensing the logos right now.
I will push them to the oeplatform repo and link it in the organisation repo https://github.com/OpenEnergyPlatform/organisation/issues/37.
Then we can use them!

[2021-01-11 15:32] SharanyaMohan-30 commented on #714
Hello @han-f I am currently working on the issue could you please redirect me to the page with a link.

[2021-01-11 16:28] stap-m commented on #714
This occurs with any table view on the platform, e.g. [this one](https://openenergy-platform.org/dataedit/view/scenario/abbb_emob). The table and schema name "scenario.abbb_emob" is shown but not the title of the table "emobility in Berlin and Brandenburg" (see meta data), which usually is more readble to humans.

[2021-01-11 18:16] Ludee commented on #722
Since all logos in SVG and PNG are big (10 MB) I will not push them to the oeplatform but add them to the [organisation repo](https://github.com/OpenEnergyPlatform/organisation).
We decided to grant a CC0 license to all icons to allow unlimited use and adaption.

[2021-01-12 09:46] Ludee commented on #722
I also updated the icons on the welcome page.

[2021-01-12 16:01] jh-RLI commented on #717
I have removed the border again, because this does not look good on the different screen sizes (responsive). But I have added a little more padding so that the distance between the words is larger.

[2021-01-12 18:16] jh-RLI commented on #717
I have noticed that some fields are not displayed in the framework factsheets view. The fields are only visible when you are in edit mode. I have added the fields again.

Fields added to openness:
- user_documentation
- installation_guide
- link_to_code_documentation
- skills_basic
- skills_advanced

[2021-01-12 18:55] jh-RLI commented on #717
Fixed the issue in "Software | External optimizer" and "Basic Information | Link to User Documentation". This issue is solved with the next release.

[2021-01-12 21:37] #662 closed

[2021-01-13 09:29] han-f commented on #662
I think the front page looks way better now. I overlooked in the previous screenshots  that it suddenly read "Databases" instead of "Database".

Could we fix this in a next release, or is "Databases" more precise @MGlauer ?

[2021-01-13 16:58] SharanyaMohan-30 commented on #714
Hello @han-f could you please confirm by viewing the below image if this is the requirement?

![Title](https://user-images.githubusercontent.com/50305000/104483585-936ac400-55c8-11eb-9bbb-1a051dbc314e.PNG)

[2021-01-14 06:55] han-f commented on #714
Thanks @SharanyaMohan-30 . I think what would be preferable is to have the more human readable title in the first row and the table name in the second, e.g.:

emobility in Berlin and Brandenburg
scenario.abb_emob

Would that work?

[2021-01-14 09:07] Ludee commented on #722
The tutorial icon is missing. I will create a branch and PR.

[2021-01-15 11:32] han-f commented on #681
Clicking a tag in the newest release reduces the schema view to the tables that include the tag, but when clicking the table name to open the corresponding schema no tables are shown at all.

Also - when in a schema and selecting a tag, nothing is shown even if there are plenty tables with this tag
See example below for scenario schema. There are actually 10 tables tagged KS95.

This was working i

[2021-01-15 11:39] han-f commented on #681
Not sure whether this is the correct issue though.

[2021-01-15 11:47] MGlauer commented on #681
It seems this happens if and only if the search bar is empty. This messes with the url parser.

[2021-01-15 11:55] han-f commented on #681
With me it happens also with searchbar filled:
![grafik](https://user-images.githubusercontent.com/36844029/104724457-fe370f00-5730-11eb-8008-dd3bd25c52b9.png)

[2021-01-15 12:01] han-f commented on #681
This F5 functionality confuses me. I clicked F5 many times before, now it seems to work again.  Is there a general rule how many times one needs to hit F5 before things show up as they should?

[2021-01-15 12:03] #681 closed

[2021-01-18 09:47] Ludee opened #813 "Connect keywords/tags in OEM with OEP tags"
This should be solved in another project.

[2021-01-20 10:48] euronion opened #728 "[tutorials] Links pointing to same UML tutorial"
The 3 links ["Tutorials"](https://openenergy-platform.org/tutorials/) related to UML

* "UML - Description and Plotting"
* "UML - Plotting a Germany Model"
* "UML- Plotting a Scenario for Brandenburg and Berlin"

All point to the same document. Probably not intended?

[2021-01-20 10:59] tbanze opened #729 "SSL verification error / max retries"
@MGlauer
Since a pair of days I get failures when requesting any data via API (Python). The following errors appears during a request:

**SSLCertVerificationError:** [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1123)

**MaxRetryError:** HTTPSConnectionPool(host='openenergy-platform.org', port=443): Max retries exceeded with url: /api/v0

[2021-01-21 08:30] MGlauer commented on #462
@johannwagner The list of tutorials needs to be improved according to the [mockup](https://github.com/OpenEnergyPlatform/oeplatform/issues/462#issuecomment-553813460)

[2021-01-21 09:36] tbanze commented on #729
**Update:** Today (after ca. three days) the problems are gone and it works fine.

[2021-01-21 09:42] MGlauer commented on #729
It seems to work again, now. As far as I can tell this was not a failure of the OEP, but of a server within the certification chain. This is something I actually never heard of happening - and am positive optimistic that it will not happen again.

Sorry for any inconvenience that was caused by this issue.

[2021-01-21 10:06] tbanze commented on #729
Okay great. Thanks for your fast support.

[2021-01-21 10:06] #729 closed

[2021-02-01 07:53] #711 closed

[2021-02-02 14:51] meisam-booshehri commented on #661
I think this issue should be closed as this is related to issue #662, which is closed now. right?

[2021-02-02 14:54] MGlauer commented on #661
Seems right

[2021-02-02 14:54] #661 closed

[2021-02-08 16:13] christian-rli opened #730 "Deal with trademark"
Figure out what this is all about:

- https://openep.ch/en/
- https://osduforum.org/
- us trademark holder: https://solutions.powermarket.io/platform.html

[2021-02-12 10:12] SharanyaMohan-30 commented on #714
Hello, @han-f I have modified as per the requested changes and checked in under the branch name feature/Display_title.

[2021-02-15 15:56] jh-RLI commented on #722
@Ludee to me it looks like this can be closed?

[2021-02-16 14:20] KirannBhavaraju commented on #650
@TuPhanRLI @meisam-booshehri @MGlauer  When i run `.\make.bat html` which uses `sphinx-build` in directory `oeplatform\docs` this is what is rendered. I would guess this is a problem with a missing step to build the html from the latest develop or that something is exiting/failing silently while deploying. Also the below screen shots show different versions of the docs.

P.S. Grab the latest build

[2021-02-23 11:13] #722 closed

[2021-02-23 11:14] Ludee opened #732 "Uploaded logos of factsheets are not displayed"
It is possible to upload logos to (model) factsheets, but they are not displayed correctly.

[2021-02-24 08:09] christian-rli opened #733 "OEO-SC members list needs update"
The members of FZJ have changed.

[2021-02-26 10:59] jh-RLI opened #735 "Improving the implementation of OEM with regard to data models with multiple tables / improve datapackage support"
In the course of the development of the oedatamodel and also e.g. in the current review of the oemof_b3 dataset it becomes apparent that there is no good solution on how to append the same metadata to several related tables (as far as i know). This results, among other things, in the problem that, for example, C(R)UD methods are difficult to use from the user's point of view. In this case, each ta

[2021-03-01 09:23] Ludee commented on #735
This means metadata will not be stored as a comment anymore but will be moved to a central "metadata table". This will be a major rebuilt of the metadata structure and will cause many changes in different modules!?

[2021-03-01 09:41] jh-RLI commented on #735
This could be the case. But it is also possible to keep the metadata as comment on table and update it when changes occur. The table with the metadata serves here only as a central resource in which changes are detected and then distributed (as comment on table).

[2021-03-04 12:07] han-f opened #736 "There is no "back to tutorials" button"
When I am viewing a specific tutorial there is no "back to tutorials" button or similar. I think this would be helpful to have.

[2021-03-05 13:41] #424 closed

[2021-03-05 14:02] stap-m opened #737 ""About OEP" update"
I suugest to add this basic information missing on the "About" page:

What? Energy System Modelling **and Data**
**Openly licenced energy data of any kind can be published and accessed here. Especially energy system modelling data and scenarios can be found, along with further information on the underlying models, frameworks and studies.**
Energy system models are used to explore...

[2021-03-05 14:03] stap-m commented on #737
@han-f what do you think? Is "openly licenced energy data of any kind" too broad?

[2021-03-07 22:13] jh-RLI commented on #736
That is not quite right. I introduced such buttons with the last release. The implementation is just not quite flawless yet. So far, the buttons only appear when you are logged in and only for tutorials that are created via the editor. In addition, the button is not very visible. I will improve this in the near future.

![image](https://user-images.githubusercontent.com/38939526/110256726-b4cda800

[2021-03-07 22:25] jh-RLI commented on #732
hint: :)
https://github.com/OpenEnergyPlatform/oeplatform/blob/5078e67b674093233e5333ab0f0697213b3940a7/modelview/templates/modelview/model.html#L50

[2021-03-09 00:14] SharanyaMohan-30 commented on #154
Hello @MGlauer / @meisam-booshehri ,
Based on the previous feedbacks and comments could you let me know how to proceed further on this requirement.

[2021-03-10 08:13] han-f commented on #737
I think openly licensed ... of any kind is fine, as we want to be inclusive! But we go beyond energy data, for example we have climate related data, too (ghg emissions, global warming potentials etc...). How about: _Openly licenced  data relevant in the field of climate and energy research_ ?

[2021-03-14 14:29] wingechr opened #739 "I get error "column id does not exist" on insert only"
This seems to be intended behaviour, but it is not consistent.

* If tables need an id column, the create table request should already fail if the column does not exist
* Furthermore, the insert fails only via the API request. It is still possible to do it via the advanced api insert call.
* This is also not well documented

We need to decide if this should be the intended behaviour or not

* if n

[2021-03-14 15:12] wingechr commented on #739
## Example
[code]

[2021-03-15 12:04] #733 closed

[2021-03-16 10:00] christian-rli opened #755 "Displaying Jupyter Notebook Subsection Links"
Have a look at this tutorial: https://openenergy-platform.org/tutorials/jupyter/tutorial_open-data-licenses/

Having all those ¶ symbols doesn't look nice. As @stap-m has pointed out in OpenEnergyPlatform/tutorial#140 they should be replaced, ideally with this symbol 🔗.

[2021-03-25 15:15] christian-rli opened #740 "Tags and metadata keywords should be connected"
Tags on the OEP and keywords in the metadata are conceptually the same thing. Connecting tags that can be controlled via OEP interface and keywords that can be updated via the API would remove a redundancy and add value to both filling out metadata and the OEP filter function.

@MGlauer please comment if there is a technical reason that would prevent connecting the two.

[2021-03-31 08:09] stap-m commented on #737
I just saw, that the Open Energy Family Logo on the same page needs an update: The old OEP design in still in the centre of the logo... @christian-rli can you also take care of it?

[2021-04-01 11:39] jh-RLI opened #741 "Model Factsheets list overlap sidebar content"
On smaller screens:
![image](https://user-images.githubusercontent.com/38939526/113288458-4c4ebe00-92ef-11eb-9466-3b057db7fd53.png)

[2021-04-01 15:17] #717 closed

[2021-04-13 14:44] SharanyaMohan-30 commented on #154
Hello all, adding the prototype snippet to discuss further related to the comment section requirement. The list of actions included by this functionality are:
source: https://pypi.org/project/django-comments-dab/

1. Post a new comment. (v2.0.0 authenticated and anonymous users)
2. Reply to an existing comment. (v2.0.0 authenticated and anonymous users)
3. Edit a comment. (authenticated user comme

[2021-04-21 10:22] SachaHq opened #742 "Contact form failing"
Dear OEP developers,

I had a question regarding factsheets and when trying to send the contact form, I got the error message :

*Sorry, something went wrong!*

*It looks as though we have unexpectedly broken something on our system, while processing your request.
An e-mail has already been sent to the admin, thus the admin will be informed about this incident. The admin will fix this problem as s

[2021-04-26 10:17] jh-RLI opened #743 "Decouple MetadataCreator from upload wizard and make it available as an independent feature."
At the moment we have the very helpful upload feature. Here you can create tables, create OEMeta data and upload data from csv files. However, it is often necessary to create only the OE metadata, e.g. to initiate and complete the [data review/publication process](https://github.com/OpenEnergyPlatform/data-preprocessing/issues/new/choose). Therefore, I would like to separate the metadata creator f

[2021-04-26 10:40] MGlauer commented on #742
Looks like this is a bug in the mail backend and apparently not related to the OEP itself. I will check whether the mail server is functioning.

[2021-04-26 11:02] jh-RLI opened #744 "How about an OEP news feed on the homepage?"
In a (very) small research on similar data platforms, I have seen that a news feed is often displayed on the starting page. It is clear to me that the content must be maintainable with little time input (like 5-10 min.).
That's why I see the main potential here to make users aware of the various OEP processes(review and upload/publishing), tools(OEP website upload feature, oem2orm, oep-client, oem

[2021-04-26 11:52] wingechr commented on #743
The meta data editor is already an independent module.

If you go to any table that where you havw writing permissions, click on `Edit` in the metadata section:

![grafik](https://user-images.githubusercontent.com/4265368/116078235-a5173980-a696-11eb-998e-1e5391912a9d.png)

[2021-04-26 12:09] jh-RLI commented on #743
Thanks! I never had permission on a table to test that :) Now I have :+1: . I'll talk to @christian-rli, but it seems to me that this will work, we just want an easy way to get the oemetadata.json file, since every user has to submit it when initiating the github-based review process.

[2021-04-26 12:37] jh-RLI commented on #743
Maybe we should also list a raw json file upload [there](https://github.com/OpenEnergyPlatform/oeplatform/issues/743#issuecomment-826773802). As the result of the review process is the file, therefore it would be good to enable the user to update the metadata straightforward without looking up the changes in the file manually. OFC we have `oem2orm` and the `oep-client` to do so as developers, but

[2021-04-29 09:24] MGlauer opened #745 "Username checks are case-sensitive"
This is unusual and will lead to confusion. The current login management uses the built-in login protection. There may be some parameters to change this.

[2021-05-04 13:50] SachaHq commented on #742
Dear OEP developers,

After retrying today, it now seems to work properly.

Kind regards,

Sacha

[2021-05-06 08:12] stap-m commented on #616
Please implement this issue. Then we can close the respective OEO issue. Thanks.

[2021-05-11 12:00] han-f opened #746 "Explanatory text under 'Schemas' is missing"
I received feedback from a potential user of the OEP that it would be helpful to have a short text under 'Schemas' for explanation as otherwise this title is not self-explanatory for "Quantitists" and "Qualitists".
![grafik](https://user-images.githubusercontent.com/36844029/117811058-6c638c80-b260-11eb-9d00-c50e91bd8f9e.png)

Suggestion: _Schemas organise the available data according to specific

[2021-05-12 09:10] jh-RLI commented on #746
I would vote to leave out "Schemas" and use something like "Data Catalog", but adding a description as you suggested is definitely good to have.

[2021-05-12 09:49] han-f commented on #746
Yes that would even be better, I somehow thought the heading was fix :-)

[2021-05-12 09:50] han-f commented on #746
New suggestion:
Heading: _Data Catalogue_
Explanation: _Data on the Open Energy Platform are organised according to specific topics. The topics are shown and described in the table below._

[2021-05-19 06:58] wingechr opened #747 "upload wizard: when deleting table: reload columns"

[2021-05-19 06:59] wingechr opened #748 "upload wizard: allow empty id columns"
currently, the code sends `"id": null` in the record. should be ommited, so that the database can autogenerate bigserial id

[2021-05-19 09:29] johannamay opened #749 "automatic interface for citation tools like zotero, citavi, jabref, etc."
As it seems, at the moment, for citing a dataset from OEP in a paper, one has to copy all the information manually (names, link, etc.). This is different when there is a DOI available which can be read automatically (most of the time) by zotero, etc. and then citing is much less time consuming. So my request is to create some kind of interface that will allow automatic citing of datasets based on

[2021-05-20 06:02] han-f opened #750 "Ontology text needs updating"
On https://openenergy-platform.org/ontology/, it still reads:
_Here, the Open Energy Ontology OEO is being created as a domain ontology within the field of energy system modelling. The first release of the OEO is planned for summer 2020._

Since there is a regular release cylce now, we could update the text, so it does not need constant updating.
How about:
_The Open Energy Ontology OEO is created

[2021-05-20 06:39] l-emele commented on #750
As we have a [VERSION file](url) maybe it is possible to automatically include the version number of the latest release. Then we could add a sentence like: _The latest OEO version is x.y.z._

[2021-05-20 06:45] han-f commented on #750
I like this idea @l-emele
Extended suggestion:
_The Open Energy Ontology OEO is created as a domain ontology within the field of energy system modelling. It is growing constantly and under a regular release cycle. The latest OEO version is x.y.z._

[2021-05-20 07:00] stap-m commented on #750
Also a link to the ontology files could be included at that point.
The actual link is kind of "hidden" at the bottom of the page.

[2021-05-20 07:28] han-f commented on #750
New suggestion:
_The Open Energy Ontology (OEO) is created as a domain ontology within the field of energy system modelling. It is growing constantly and under a regular release cycle. The latest OEO version is x.y.z. and its files can be assessed [here](https://openenergy-platform.org/ontology/oeo)._

[2021-05-20 07:31] stap-m commented on #750
Nice! "accessed" instead of assessed?

[2021-05-20 07:34] han-f commented on #750
Yes,  thanks freudscher Verschreiber - while in principle people can assess the files too  ;-)

Current suggestion:
_The Open Energy Ontology (OEO) is created as a domain ontology within the field of energy system modelling. It is growing constantly and under a regular release cycle. The latest OEO version is x.y.z. and its files can be accessed here._

[2021-05-25 13:52] stap-m opened #751 "add title as headline for study factsheets"
At the study factsheet [overview page](https://openenergy-platform.org/factsheets/rdf/study/) I can see a list with study name to click on.
When entering a study factsheet page, the headline is "Factsheet:" but the name of the study is shown nowhere.
E.g. [here](https://openenergy-platform.org/factsheets/rdf/study/TrafoFW_study/)

ToDo: include study name into the headline of the study factsheet p

[2021-05-25 17:08] jh-RLI commented on #751
Good Catch! I will fix this soon.

[2021-05-28 09:59] han-f opened #752 "Correct spelling mistake in API Tutorial 1 title"
There is a spelling mistake in the title: _Introduction to the OEP-API and basic table op**p**erations_
Todo: change to: _Introduction to the OEP-API and basic table operations_

https://openenergy-platform.org/tutorials/jupyter/OEP_API_tutorial_part1/

[2021-05-28 10:16] han-f opened #753 "Update API documentation on readthedocs?"
The documentation on readthedocs does not provide an indication on whether it is up to date and when it was last updated, the copyright states 2016 which may lead users to think it is outdated.
![grafik](https://user-images.githubusercontent.com/36844029/119968462-c88f1600-bfad-11eb-9291-e12b85d41012.png)

Thus I think it would be useful to add such an indicator as the main OEP page links prominen

[2021-05-28 10:21] han-f commented on #752
I close it and move it to the tutorial repo

[2021-05-28 10:21] #752 closed

[2021-05-28 11:42] henhuy opened #754 "Advanced API: Selecting specific fields not working with joined tables"
Cannot filter fields from joined tables.

Minimal example:
[code]

[2021-06-04 15:51] #718 closed

[2021-06-07 11:10] wingechr commented on #753
I think the readthedocs should be removed

* It's incosistent with the tutorials on the platform / github
* It's out of date

[2021-06-07 11:16] han-f commented on #753
It's incosistent with the tutorials on the platform / github
    It's out of date
I would be in favor of this, but how can we best make that decision - discuss it at a general jour-fixe @stap-m ?

[2021-06-07 11:30] han-f opened #757 "Add (free text) search function on landing page"
Use-case: I want to learn about whether institution X contributed something to the OEP, or whether there is anything related to data Y on the OEP.

Then I think it would be useful for me to find a free-text search bar right on the landing page where I can search without having to navigate to https://openenergy-platform.org/dataedit first.

I would then also like the search results to include links

[2021-06-07 11:32] han-f commented on #757
layout-wise this search bar could be placed quite prominently under / over the four boxes.

[2021-06-09 09:03] christian-rli commented on #753
MG: This is meant as a developer documentation and very much out of date.
This needs to be discussed in a developer meeting.

[2021-06-09 10:12] han-f commented on #753
Another helpful remark came:
if we keep some part of readthedocs: there is no license information available right now - add suitable open license information

cc @l-emele @stap-m

[2021-06-10 11:45] jh-RLI commented on #751
This will take a bit more time than expected as I have to improve my dev setup to test this properly.

[2021-06-10 12:00] jh-RLI commented on #742
I assume this is fixed? @MGlauer

[2021-06-10 14:47] MGlauer commented on #742
Yes, should be fixed

[2021-06-10 14:47] #742 closed

[2021-06-15 13:28] jh-RLI commented on #741
This is where I get the problem as described in the screenshot:
https://openenergy-platform.org/factsheets/models/

[2021-06-16 05:16] wingechr commented on #753
As discussed in the last meeting:

* I am going to move tutorial like parts abuot the advanced API into a github tutorial
* we remove link from the platform website
* we keep the page, but only for actual development docs

[2021-06-16 06:28] Anne-Oeko commented on #751
Additionally it would be good to better sort the factsheets. Alphabetically, according to date or other issues, but the current listing seems a bit arbitrary, e.g. https://openenergy-platform.org/factsheets/scenarios/

[2021-06-16 06:30] Anne-Oeko opened #762 "Better structure Tutorials page"
I think it is really hard to get an overview about tutorials here: https://openenergy-platform.org/tutorials/. It would be much better to cluster the tutorials, e.g. according to user group or topic and add short descriptions on each tutorial.

[2021-06-16 07:27] han-f commented on #762
I agree and I think this is related to #462 and #738

[2021-06-16 08:52] jh-RLI commented on #762
The issue describes an idea that I wanted to discuss anyway.  Unfortunately, my time has been very limited in recent months.
I think we should implement this and group the tutorials further into categories or levels (according to new tutorial [metadata](https://github.com/OpenEnergyPlatform/tutorial/issues/135#issuecomment-826691597). You would then first see an overview page with the grouping nam

[2021-06-16 09:00] jh-RLI commented on #638
@johannwagner can you confirmed that this is fixed?

[2021-06-16 09:04] johannwagner commented on #762
@jh-RLI I think, we want to do this in two steps. The PR is quite big and should be merged soon.

[2021-06-16 09:40] johannwagner commented on #638
This is definitely fixed due to the redesign.

[2021-06-16 10:28] han-f commented on #762
From a user perspective I like the idea to have a small excerpt that lets you get a feel for what is inside the tutorial. So I would be in favor of having a description field with a (very) short summary of what can be expected.
I think this is helpful for all users that are not your traditional "APInists", and for those such a short summary won't hurt either I assume, since you can also simply ign

[2021-06-16 12:03] #638 closed

[2021-06-16 13:20] Anne-Oeko commented on #762
Dear all - I agree that descriptions would be very helpful for many people and for those who don't need them, they won't harm. I would not know where to start when accessing the tutorials' page at the moment and I think the idea is to spread the OEP further.

[2021-06-17 09:51] l-emele opened #763 "Serving OEO classes: Readable by humans and machines"
Via the OEO DEV mailing list we got the following feedback for the OEO:

So it basically this asks that the class IRIs resolve to some kind of webpages for the specific pages and not just serving the content of http://openenergy-platform.org/ontology/oeo/

We discussed that today in the OEO DEV meeting. This is not a problem of the ontology itself, but if we want to have the functionality of servi

[2021-06-17 11:54] l-emele commented on #763
@christian-rli : I assigned this issue to you are both the bridge between the OEO and OEP and the bridge between SIROP and LOD_GEOSS.

[2021-06-18 15:00] jh-RLI opened #764 "[Framework (Factsheets, Model, Scenario)] Various bugs in Factsheet app"
There are several bugs regarding the OEP Factsheets. The code can be found in the (django)"modelview" app. I added an Excel file to this issue where you can find more detailed information. Unfortunately, it's written in German (get back to me if this is a problem).  The Excel does not cover all existing factsheets but reviews some of them. It also just covers bugs within the Framework Factsheet. B

[2021-06-19 20:51] SharanyaMohan-30 commented on #754
Hello @henhuy  could you please help me in explaining the expected response for joining the above-mentioned tables?

[2021-06-21 06:57] henhuy commented on #754
The query above works, if you comment-out the `"fields": fields` line (thus, not selecting specific columns).
But I want to select just the fields mentioned above...
Does this help?

[2021-06-21 11:33] jh-RLI commented on #764
@Adel-Memariani This is the issue we talked about in the oep-dev meeting.

[2021-06-23 09:57] SharanyaMohan-30 commented on #754
@henhuy thank you but currently what is the output which is being displayed and what are the expected results? could you help me with that?

[2021-06-28 15:39] johannwagner commented on #561
@christian-rli This needs to be discussed.

[2021-06-28 15:40] johannwagner commented on #462
@christian-rli I assigned you this ticket in order to find a good point in time for fixing up the designs.

[2021-06-29 13:15] wingechr opened #768 "dependencies should be fixed"
@MGlauer please provide a list of the current versions in production (pip freeze)

[2021-06-29 13:38] johannwagner opened #769 "Introducing Docker builds for oeplatform"
We want to introduce Docker builds for this repository for every release.

[2021-06-29 13:46] johannwagner opened #770 "Fixing CI feat. Switching to GitHub Actions"
We want to fix our CI integration and want to switch to GitHub Actions for this.

[2021-06-29 14:02] wingechr commented on #739
discussed in dev meeting: probably enforce existance of id column (numerical, primary key)

[2021-06-29 14:04] johannwagner commented on #764
I already fixed some "old" bugs in this PR: https://github.com/OpenEnergyPlatform/oeplatform/pull/767

They also have tickets in this repository, you may want to skip those in the sheet.

[2021-06-29 14:27] christian-rli commented on #763
@Adel-Mem this is the issue we talked about in the OEP-DEV meeting. See how far you can get and we'll talk about it in the next meeting. Thank you for volunteering :)

[2021-06-30 21:11] #736 closed

[2021-07-05 09:23] SharanyaMohan-30 commented on #754
@henhuy  thank you again for providing the details. In order to resolve the issue could you help me in knowing is there any error being displayed while providing the fields in the request do we get empty results ? or any exception?

Along with it can you help me in understanding on steps in replicating the issue in the platform ?

[2021-07-05 09:35] jh-RLI commented on #764
@Adel-Mem could you give me an update on the current status of this issue? Is there any progress or a pull request?

[2021-07-05 09:39] jh-RLI commented on #697
@johannwagner can you advise on the best way to tackle the issue? Is my suggested solution for such problems (disable cacheing) applicable? Or do you see another reason for the problem. If you don't know how something like this happens either, I'll do some research.

[2021-07-05 09:40] jh-RLI commented on #764
There is also this major bug when editing factsheets: https://github.com/OpenEnergyPlatform/oeplatform/issues/697
Any help is appreciated :)

[2021-07-05 09:43] henhuy commented on #754
The code above is working in python and does not need any privileges - should work on your machine too!

[2021-07-07 10:50] #770 closed

[2021-07-13 09:34] SharanyaMohan-30 commented on #754
@henhuy  I was able to replicate the issue thank you for all the support ,as you suspected issue is due to the select field region which is present in both the tables which we are joining. In order to resolve this in the field section we need to provide type , columname and tablename (which will be alias)  for all the fields which are need to be selected such that query will be specific to the fie

[2021-07-13 20:08] jh-RLI commented on #764
@adelmemariani are there any updates on this issue? Would appreciate your feedback, as this problem should have been solved by now.

[2021-07-20 16:00] adelmemariani commented on #763
I added the functionality to display sub/super classes for a given class. I think we should add the names for the classes. Also if it is needed, I can work on a new user interface to show the classes in a tree or graph view.

[2021-07-21 08:50] l-emele commented on #763
A tree or graph view would be imho great!

[2021-07-21 19:28] adelmemariani commented on #764
I am working on the issues. macOS configuration took some time :)

[2021-07-22 06:53] han-f commented on #763
I agree with @l-emele, a tree or graph view would be a great value added!

[2021-07-22 09:54] jh-RLI commented on #764
Sounds good, thanks for the feedback :)

[2021-07-29 06:00] han-f commented on #763
Is this the correct issue to post the ideas we had in yesterdays (28/07/21) SIROP Jour Fixe when @adelmemariani showed us the progress that he has made on displaying OEOs terms on the OEP  (great value added!)?
Here are the ideas from yesterday:

- For each term its definition should be displayed
- Further items that should be displayed best to be discussed in an upcoming oeo-dev meeting.

[2021-07-29 06:54] han-f opened #774 "Ontology page: Better navigation for potential contributers"
I think we can improve guiding new users to how they can access and contribute to the OEO.

Currently the text under _Where and how can I contribute?_ reads:
_The OEO development was initiated in the project “SzenarienDB” and is augmented in the project “LOD_GEOSS”. The development is community based and takes place on GitHub.
A OEO steering committee was created in autumn 2019._

I think this inc

[2021-07-29 07:21] l-emele commented on #774
Suggestion, mention also the wiki: _We have some [helpful guidelines](https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUTING.md) on the workflow and a [wiki](https://github.com/OpenEnergyPlatform/ontology/wiki) providing detailed information._

[2021-07-29 07:51] han-f commented on #774
Add-on suggestion: also link directly to the how to participate entry in the wiki:
_We have some [helpful guidelines ](https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUTING.md) on the workflow and a [wiki ](https://github.com/OpenEnergyPlatform/ontology/wiki) providing detailed information.
That said: [Welcome! We invite you to participate ](https://github.com/OpenEnergyPlatform/ont

[2021-08-02 08:03] henhuy commented on #754
Ah okay! Thanks for the investigation. I will check.
Is this documented somewhere?

[2021-08-02 09:24] SharanyaMohan-30 commented on #754
No there is no such documentation but we are providing a fix to display appropriate error for such cases.

[2021-08-02 09:43] henhuy commented on #754
Just checked - fields are working with your suggested method. Thx!

[2021-08-02 11:20] han-f opened #775 "Add a FAQ link to top navigation pane"
@Anne-Oeko and I are developing a FAQ tutorial that will grow with time and short-answer some key questions linking to relevant documents and examples. Like this we can systematically bring together various helpful documents in a concise way, targeted at specific questions.

We think it would increase user-friendliness of the OEP if a link to this FAQ Tutorial could be added to the navigation pane

[2021-08-03 07:49] han-f opened #776 "About OEP lacks BMWi information"
https://openenergy-platform.org/about/
lacks this information, I think this needs to be added there, or somewhere else in a prominent way, or would that be complicated because potentially not all projects contributing to the development of the OEP are funded by BMWi?

![BMWi_Fz_2017_Office_Farbe_de](https://user-images.githubusercontent.com/36844029/127977710-2c954e18-a155-4f60-bbcf-e52dd3ead97e.p

[2021-08-04 09:36] han-f commented on #774
Based on all that was discussed, I think the current, complete suggestion would be as follows:

**_Where and how can I contribute?_**
_Anyone is invited to contribute to OEO development as this is a community-driven process.
OEO development takes place on [GitHub](https://github.com/OpenEnergyPlatform/ontology).
_We have some [helpful guidelines ](https://github.com/OpenEnergyPlatform/ontology/blo

[2021-08-04 12:34] han-f opened #777 "Tutorial editor: Formatting a blockquote doesn't render"
I am working on a FAQ Tutorial (https://openenergy-platform.org/tutorials/17) and want to format the questions in blockquote as shown here: https://www.markdownguide.org/basic-syntax/#blockquotes-1

Neither manually using the ">" nor the corresponding symbol (") from the editor menu does yields the text to be formatted as a blockquote.

Can this be fixed?

[2021-08-05 06:10] wingechr opened #778 "Sections in tutorials can not be linked to"
## problem

* it would be really helpful for the tutorials to be able to link to anchors in the text
* but, related to #657:  we cannot/will not allow raw html in markdown for security reasons

## proposed solution

after the markdown -> html parser has finished, add code that creates automatic textanchors for all headers so that tehy can be linked to

@han-f, @Anne-Oeko

[2021-08-05 06:46] johannwagner commented on #778
I actually fixed this in some of the tutorial rework branches. There is a permalink link next to each heading, that can be linked.

[2021-08-05 07:18] wingechr commented on #778
That's great, I did not realize that, my bad.

[2021-08-05 08:26] wingechr commented on #778
Sorry, i closed this too early.

The permalinks only work for the tutorials coming from github jupyter notebooks, not from the markdown tutorials.
Also, maybe fix #777 in the process

[2021-08-11 11:03] mjazimm opened #781 "Uploaded CSV table only shows one row."
I created a table, using the upload wizard. The preview recognized all 14 rows. However, the final table only shows one. I repeated the upload several times but it wont work.
Does someone know an answer?

[2021_08_10_Tabelle1.zip](https://github.com/OpenEnergyPlatform/oeplatform/files/6967872/2021_08_10_Tabelle1.zip)
https://openenergy-platform.org/dataedit/view/model_draft/nep_2035_verteilung_ins

[2021-08-11 11:45] mjazimm commented on #781
Problem solved. The title was too long. It worked with a shorter one.

[2021-08-11 11:56] christian-rli commented on #781
I recreated the upload and this was in fact due to the table name. I used the browsercache to make sure all tables were created equally (🧘🏽‍♀️). Do you have any idea why this occurs @wingechr or @MGlauer ?

The initial table name is exactly 63 characters in length, the new working one 58. We used the csv-upload wizard, if that is relevant.

[2021-08-18 09:33] christian-rli opened #783 "Missing Impressum page"
The impressum page is missing. We believe there used to be one also including the funding information. Could you have a look where this ended up @johannwagner ?

[2021-08-18 10:00] sfluegel05 opened #784 "The factsheet overview text is out of date"
The last paragraph on the page https://openenergy-platform.org/factsheets/overview/ says:

This should be updated.

[2021-08-20 06:02] han-f commented on #784
This is a good idea. While doing so, maybe we can update the whole text on this page to read easier and guide users better. I can give the textual update a try and post it here, if someone can then implement on the OEP once we have a publishable version that would be great.

cc @stap-m, @l-emele

[2021-08-23 12:31] pajot commented on #768
I see this on pip install -r requirements.txt

`ERROR: oedialect 0.0.10 has requirement geoalchemy2<0.7.0, but you'll have geoalchemy2 0.9.3 which is incompatible.`

Can I expect OEP to work despite this?

[2021-08-23 13:18] MGlauer commented on #768
It looks like you try to install oedialect and the oep within the same environment. I would discourage that. The oedialect is temporarly depends on an older version of sqlalchemy because sqlalchemy changed its dialect interface. This is generally not an issue because it uses a custom dialect.

The OEP on the other hand is communicating with your database using sqlalchemy's build-in dialects. For s

[2021-08-23 13:45] pajot commented on #768
Thanks for the feedback, Martin.

If that is so, then the documentation should be updated. There is no mention anywhere of a need to use two separate environments. When do I use one environment, and when the other? What is oedialect for?

I see this error message after creating a virtual environment using the python native venv module and activating it, then running the 'pip install -r requirement

[2021-08-23 14:00] MGlauer commented on #768
In short: OEDialect is a client that simplifies communication with the OEP. It seems that one of our dependencies has itself a oedialect dependency - this is why above warning shows up. This is indeed an issue we should adress. I will open a separate issue for that. The dependency in question should not interfere with the functionality of the OEP, however.

Regarding the tests: Our automated tests

[2021-08-23 14:02] MGlauer opened #785 "Deprecate literature app"
The literature app is not used anymore. It includes the egoio-module for its schema descriptions. The latter has recently caused some issues (#768). I would argue that we should scrap the whole literature app.

[2021-08-23 14:07] MGlauer opened #786 "Meta-schemas are not created properly"
It seems that a fresh installation of the most recent version does not create the meta-schemas anymore.

[2021-08-28 08:36] #560 closed

[2021-08-28 08:36] #564 closed

[2021-08-28 08:36] #741 closed

[2021-08-28 08:36] #559 closed

[2021-08-31 15:31] #786 closed

[2021-09-01 16:51] adelmemariani commented on #763
Based on the new [oeo_viewer](https://github.com/OpenEnergyPlatform/oeo-viewer) project and the above commits, I think we can have two views: 1- Text-based folding menus. 2- Graph and tree views.  As it is shown in the following image, if we use the class ID in the URL, the viewers specifically, show the requested class. In case some classes do not have enough description or editor notes, the user

[2021-09-06 15:19] christian-rli opened #794 "RELEASE_PROCEDURE.md needs several fixes"
Specifically it was noted by @johannwagner that

- [x] step 3 and
- [x] step 6

are incorrect. Could you please elaborate what's wrong or propose alterations? Also, I would like to note that

- [x] step 9 doesn't seem to make any sense, at least to me. Can it be deleted?
- [x] Step 11 is an information and not an executable task. It should either be removed or part of another item that is executab

[2021-09-06 15:23] johannwagner commented on #794
Step 3 and 6 are duplicate. Tags should be immutable and it does not make any sense to create a tag two times at two different commits.

I also want to add, that Step 1 or some disclaimer should say, that we checked out `develop` before starting this prodecure. Otherwise, the `release/vx.x.x branch may come from some other, not suitable branch.

[2021-09-06 15:23] christian-rli commented on #794
- [ ] Update Mailing list information: oep_dev-request@lists.riseup.net

[2021-09-07 06:55] johannwagner commented on #783
We had an issue #544, where you did some commits by rephrasing this entire legal construct. This commit https://github.com/OpenEnergyPlatform/oeplatform/commit/bb87fa5 removes the Impressum.

What is your advice?

[2021-09-07 07:00] johannwagner commented on #755
This is fixed in since v0.9.3, I guess. It is not deployed on `openenergy-platform.org` but will be in the near future.

[2021-09-07 07:00] #755 closed

[2021-09-07 07:03] johannwagner commented on #588
This is not an issue anymore since the redesign reworked this whole page. The display name or the table name is displayed next to the description, which solves this issue.

[2021-09-07 07:07] johannwagner commented on #584
This was solved during the redesign. We moved it into the middle of the page.

[2021-09-07 07:07] #584 closed

[2021-09-08 09:05] stap-m commented on #774
The OEO is also described in a peer reviewed paper, published in Energy & AI, see: [https://doi.org/10.1016/j.egyai.2021.100074]()

[2021-09-13 15:26] christian-rli commented on #774
closed with #795

[2021-09-13 15:26] #774 closed

[2021-09-13 15:52] #775 closed

[2021-09-13 16:07] #794 closed

[2021-09-14 07:41] christian-rli commented on #769
Closed with #780

[2021-09-14 07:41] #769 closed

[2021-09-14 19:38] jh-RLI opened #799 "Add user identifier to tutorials"
To make transparent who is the author of a tutorial, we could store an user identifier with each tutorial.

[2021-09-14 19:41] jh-RLI opened #800 "Add comment section to tutorials"
To make it easier for an user to give feedback or ask questions about a tutorial we can add a comment section to each tutorial.

[2021-09-15 05:51] han-f opened #801 "Update text on factsheet page (Overview)"
I suggest to update the text on the factsheet overview page to make it easier to understand and have a more neutral language (example to adjust: _to avoid repeated and long explications of the used tools as well as senseless printing_).

I can draft a new text for this.
But before doing this it would be good to have answers to the following questions:

1. will the study factsheets (alpha) make the

[2021-09-15 09:25] han-f opened #802 "Datapackage download should include foreign key tables"
I think it would be helpful to users of the OEP that when they download the "datapackage" they do receive the foreign key tables too.

[2021-09-15 09:32] jh-RLI commented on #802
I think we should generally display data consisting of several tables as a single data set and make it available for downloading.

[2021-09-20 05:37] han-f opened #805 "Implement filter functionality for tutorials"
I recall that we talked (@christian-rli  and @johannwagner) about filtering the tutorial list according to preferences of users to only see a subset of tutorials (helpful when the list has grown further). I can't find or recall the issue that was made for it and was surprised the new release came live without this functionality.
Thus, I would strongly suggest to add this feature in the next releas

[2021-09-20 05:43] han-f opened #806 "Add legend to tutorial page"
The tutorials now have some indication of level and type which is great.
For some users a legend that explains the symbols and levels may be helpful to understand what can be expected behind the tutorial.

[2021-09-20 07:27] wingechr opened #807 "when moving non existing table between scenarios, (broken) table entry is created in django database"

[2021-09-21 08:00] christian-rli commented on #2
The things asked for in this issue originally have been implemented. Therefore closing this now.

[2021-09-21 08:00] #2 closed

[2021-09-21 08:08] christian-rli commented on #26
This is already fixed within the model factsheets.

[2021-09-21 08:08] #26 closed

[2021-09-21 08:56] christian-rli commented on #107
There is no more literature page. Until we implement something like this again, this is no longer an issue.

[2021-09-21 08:56] #107 closed

[2021-09-21 08:59] christian-rli commented on #119
Literature view is no longer linked to anymore and not officially supported. Should we stop serving these sites completely?

[2021-09-21 09:58] christian-rli commented on #130
user groups and handling  permissions on the website are implemented. Allowing editing options in schemas other than model_draft should be dealt with in a separate issue.

[2021-09-22 07:32] christian-rli commented on #145
group permissions are implemented already

[2021-09-22 07:32] #145 closed

[2021-09-22 07:35] christian-rli commented on #148
Issue no longer relevant.

[2021-09-22 07:35] #148 closed

[2021-09-22 09:19] christian-rli commented on #299
This was implemented with the last release :)

[2021-09-22 09:19] #299 closed

[2021-09-22 09:20] christian-rli commented on #300
The footer was dropped entirely during redesign. The goal has been overachieved :)

[2021-09-22 09:20] #300 closed

[2021-09-29 11:38] stap-m commented on #763
It would be great if `alternative terms` would also be shown under the defitition and would be searchable in the search bar. Is that doable @adelmemariani ?

[2021-09-30 08:39] adelmemariani commented on #763
Yes, it is doable. Basically, everything can be searchable :)
Also, `example usage` should be there.
I will work on it after I finish my current tasks. So it would not be available for the next release in October...

[2021-10-05 09:09] christian-rli commented on #811
This should be implemented with the next release. When uploading the oep/omi should discard dialect and encoding and when downloading a datapackage these should be added again.

[2021-10-07 13:44] jh-RLI opened #812 "Duplicate column description in metadata widget"
The metadata that is rendered below a table shows a duplicate column description.

First columns are described as fields within the resources section of the metadata. Below that section there is another section called "columns".  IMO the "columns" section renders the information nicely, I would vote to keep it and remove the "fields"?
![image](https://user-images.githubusercontent.com/38939526/136

[2021-10-18 17:43] wingechr opened #814 "BUG: cannot insert values in text column that look like a number IF unique constraint exist"
e.g. inserting the string "1000" in a varchar column that has unique constraint leads to an error.

Reason is here:

https://github.com/OpenEnergyPlatform/oeplatform/blob/a236172d13a98afae7c0c79855d5fee1734facf8/api/actions.py#L1158

the `_load_value` function converts string that look like numbers to numbers (why?)

[2021-10-19 11:51] christian-rli commented on #309
On the OEP we now have dataset owners and user management to allow editing for other users. This can be seen as a dataset maintainer. I am therefore closing this issue. If a new, different or clearer definition of a role comes up, it can be discussed in a new issue.

[2021-10-19 11:51] #309 closed

[2021-10-19 11:58] christian-rli opened #815 "Missing implementation of oemetadata 1.5"
Check if the following things work with the new version and make the necessary updates, if not:

- [x] display of all (new) keys. make references to the oeo link to their definition on the oep
- [x] wizard allows creating metadata in new standard
- [ ] update tutorials

[2021-10-19 12:52] christian-rli commented on #676
This view was updated and the issue solved. Although I am missing the pretty hat :´)

[2021-10-19 12:52] #676 closed

[2021-10-20 09:35] han-f opened #816 "Missing "add study factsheet" button"
Study factsheets (alpha) do not yet have a button, so users cannot add new factsheets.
Its relevant already now: We added new scenario data and it would thus be helpful to be able to do add these via the new study factsheets, so as to not duplicate work.

[2021-10-23 12:39] wingechr opened #817 "Filtering a table on the platform using non-numeric columns fails"
## Example:

* Table: `https://openenergy-platform.org/dataedit/view/economy/destatis_gva_per_district`
* Filter: `district`, operator=`contains`, value=`land`

## Expected behaviour
* Show rows with for instance `district` = `Deutschland`

## Behaviour
* no visible change
* javascript error:

[code]

[2021-10-27 09:31] MGlauer opened #820 "IRIs in RDF-Factsheets are not displayed"
One example would be [this factsheet](https://openenergy-platform.org/factsheets/rdf/study/KSz_2050/). The field
`Model Calculations` -> `Inputs` -> `URL` is displaying "undefined". It should instead display a clickable link to the data table that is refered.

[2021-10-27 09:33] han-f opened #821 "Factsheet links at data table views"
From 2021-10-27

To link factsheets to data the following would be needed:

- Introduce (make visible) button in study factsheets to be able to work with them
- Introduce functionality to add link to data in the form and make that link clickable
- Introduce info alongside data tables which factsheets include the data

[2021-11-01 10:11] christian-rli commented on #51
Help texts are working. Please specify why a change is actually needed. Closing, because cannot reproduce a bug. Feel free to reopen if you think it's necessary.

[2021-11-01 10:11] #51 closed

[2021-11-01 10:17] christian-rli commented on #130
Rereading this issue. It seems the original issue has been solved. Handling permissions in different schemas will become an issue after dissolving schemas. This should be newly phrased in a new issue.

[2021-11-01 10:17] #130 closed

[2021-11-01 10:24] christian-rli commented on #61
There is documentation on printing UML here: https://openenergy-platform.org/tutorials/jupyter/UML_Workshop/

[2021-11-01 10:24] #61 closed

[2021-11-01 10:26] christian-rli commented on #27
After revision this is now a duplicate of #70

[2021-11-01 10:26] #27 closed

[2021-11-01 10:33] christian-rli commented on #80
This task is no longer relevant. The OEO is preferred over the glossary. Help texts should be reworked when refactoring factsheets.

[2021-11-01 10:33] #80 closed

[2021-11-01 10:33] christian-rli commented on #81
This task is no longer relevant. The OEO is preferred over the glossary. Help texts should be reworked when refactoring factsheets.

[2021-11-01 10:33] #81 closed

[2021-11-01 10:39] christian-rli commented on #86
#78 was solved. Refactoring of the factsheets is done via terms of the ontology. This issue doesn't seem relevant anymore. Do feel free to reopen, in case it is.

[2021-11-01 10:39] #86 closed

[2021-11-01 10:49] chrwm opened #823 "Include badges in the documentation"
This repository could benefit from displaying `badges` to signal the standard of the code to other developers and improve the quality of the repository's documentation.

[2021-11-01 11:23] christian-rli commented on #821
When working on this issue, also consider the comments in #138

[2021-11-01 11:30] christian-rli commented on #98
After a successful change the old page is also still in the browser cache (at least for me), leading the user to think that the update didn't work. So when implementing, make sure there is a green success info and something like a forced cache refresh.

[2021-11-01 11:34] christian-rli commented on #101
This seems to be a duplicate of #99

[2021-11-01 11:34] #101 closed

[2021-11-01 11:35] christian-rli commented on #133
The literature pages are no longer supported.

[2021-11-01 11:35] #133 closed

[2021-11-01 11:39] christian-rli commented on #136
A functional factsheet search has been implemented at some point.

[2021-11-01 11:39] #136 closed

[2021-11-19 11:36] l-emele opened #824 "Display of OEO individuals"
There are some issues showing OEO individuals:

* In the [Viewer](https://openenergy-platform.org/viewer/oeo/), OEO individuals don't show up at all.
* In the page that an OEO IRI resolves to (I don't know the correct word), e.g. https://openenergy-platform.org/ontology/oeo/OEO_00010131, an individual gets falsely labeled as "class".
![grafik](https://user-images.githubusercontent.com/36884905/142

[2021-11-30 07:55] christian-rli commented on #147
Is this still active? Uploads work with the new csv upload function. There is no edit button other than the one for the metadata. Therefore closing this issue. We should however consider reintroducing the functionality of editing in table.

[2021-11-30 07:55] #147 closed

[2021-11-30 07:58] christian-rli commented on #740
If this is dealt with @jh-RLI you may also close #160

[2021-11-30 08:41] christian-rli commented on #201
There is a search field that addresses parts of this issue already. A full-fledged filter view might be a lot of work and difficult to include in the current projects, but maybe we can include some of the comments in the scenario comparison @han-f ?

[2021-11-30 12:05] christian-rli commented on #204
It was previously unclear how to close this issue. Check the current version of postgres and postgis installed. If an update is advisable, go ahead with it. If not, close this issue.

[2021-11-30 12:47] christian-rli commented on #298
Currently both options are displayed, so while it's not exactly the solution described here, I think the spirit of the issue has been addressed.

[2021-11-30 12:47] #298 closed

[2021-11-30 12:54] christian-rli commented on #293
Not sure when this was done, both currently have the status "open source: ✓". Therefore closing this issue.

[2021-11-30 12:54] #293 closed

[2021-11-30 13:05] christian-rli commented on #230
Have you discussed this @Ludee ?

[2021-11-30 13:08] han-f commented on #201
Hm. I think this is a difficult issue as this seems to relate to factsheets, and not to data tables, right? May we want to address this together with all @OpenEnergyPlatform/oep-developer  as part of a larger search/filter functionality issue that may include more than one part of the website? And discuss user and platform view together?
cc @adelmemariani @l-emele @stap-m @wingechr

[2021-11-30 13:14] christian-rli commented on #262
This seems either outdated or out of scope, because the corresponding project is long over.

[2021-11-30 13:14] #262 closed

[2021-11-30 13:27] christian-rli commented on #284
`panel-collapse` is no longer there. There are still collapse-able items on the page, but after the redesign, it doesn't look atrocious anymore (in my opinion). Not sure about opintions, but the headline of the issue has been addressed :)

[2021-11-30 13:27] #284 closed

[2021-11-30 13:31] christian-rli commented on #285
appears to be solved in #771

[2021-11-30 13:31] #285 closed

[2021-11-30 13:35] christian-rli commented on #513
A metadata generator has been implemented for the csv upload wizard. Unfortunately it cannot really be used standalone. Changed the title of this issue accordingly.

[2021-12-01 12:21] christian-rli commented on #362
This issue seems outdated and no longer relevant.

[2021-12-01 12:21] #362 closed

[2021-12-01 12:27] christian-rli commented on #367
I approve of CC0 and suggest displaying the CC0 license specifically for factsheets  on the right hand side when displaying any factsheets or the factsheet overview.

[2021-12-01 12:30] christian-rli commented on #385
I think we successfully created a mascot. Can this issue be closed or should some files be moved to the repository?

[2021-12-01 12:32] christian-rli commented on #388
sending verification mails was fixed at some point by @MGlauer

[2021-12-01 12:32] #388 closed

[2021-12-01 12:41] christian-rli commented on #398
Issue has been addressed. This specific search in model_draft doesn't produce any results, because there are no such tables. However, search is functional. Searching in all schemas or in the specific schema scenario will both yield the wanted results.

![Screenshot 2021-12-01 at 13-36-44 OEP - scenario](https://user-images.githubusercontent.com/42000429/144235613-ffc26da4-c5d2-4e21-abad-b2172f8b86

[2021-12-01 12:47] christian-rli commented on #402
Seems like we're jointly working on an answer to this in the following weeks. I'm adding you @adelmemariani because you're likely to be in charge for the implementation.

[2021-12-01 12:50] christian-rli commented on #405
Formatting should be a separate issue. The topic of this one has been addressed in my opinion :)

[2021-12-01 12:50] #405 closed

[2021-12-01 12:55] christian-rli commented on #406
Cannot reproduce the original error, probably due to the redesign. At any rate, filtering does currently work
![Bildschirmfoto zu 2021-12-01 13-54-08](https://user-images.githubusercontent.com/42000429/144238121-4d52d55f-2b54-4d63-abb1-aafd26508777.png)
.

[2021-12-01 12:56] christian-rli commented on #406
Geometry view is functional as wel
![Bildschirmfoto zu 2021-12-01 13-56-05](https://user-images.githubusercontent.com/42000429/144238318-ef014d46-a00c-4c16-aca7-fadfd14a38b0.png)
l:

[2021-12-01 12:56] #406 closed

[2021-12-01 13:00] #426 closed

[2021-12-01 13:02] christian-rli commented on #325
PR has been merged, so I consider this issue addressed :)

[2021-12-01 13:02] #325 closed

[2021-12-01 13:07] christian-rli commented on #182
Is the old PR still of any use? Also, is the idea still viable or should we abandon the issue altogether?

[2021-12-01 13:09] christian-rli commented on #413
I looked through all issues with the tag and closed a few and marked them `is_active` on other occasions. No `?can be closed?` remain :)

[2021-12-01 13:09] #413 closed

[2021-12-01 13:20] christian-rli commented on #435
The search for `ksz2050_r2_` yields 31 tables in the scenario schema. BMU finds a lot of tables in scenario and model_draft.

... I checked and all of the searches above return reasonable results now. This was either fixed, a temporary bug or there are several tags with the same name - for which a separate issue exists. At any rate, this seems to no longer be an issue.

[2021-12-01 13:20] #435 closed

[2021-12-01 13:22] christian-rli commented on #444
I believe the display is now without the error you created a screenshot of @l-emele . At least I am unable to reproduce. Can you confirm this? If so, you may close the issue :)

[2021-12-01 13:24] christian-rli commented on #446
The readme now states: "The installation steps have been proofed on linux and windows for python 3.6 and 3.7. Be aware that some of the required packages present installation's difficulties on windows." I believe the issue has been addressed.

[2021-12-01 13:24] #446 closed

[2021-12-01 13:39] christian-rli commented on #512
Is this issue still relevant @Ludee ?

[2021-12-01 13:41] christian-rli commented on #517
has been merged

[2021-12-01 13:41] #517 closed

[2021-12-01 13:44] christian-rli commented on #523
Has been merged.

[2021-12-01 13:44] #523 closed

[2021-12-01 13:45] christian-rli commented on #524
Closed in #529

[2021-12-01 13:45] #524 closed

[2021-12-01 13:46] christian-rli commented on #526
Is this issue still relevant or has it been addressed?

[2021-12-01 13:48] #528 closed

[2021-12-01 14:17] christian-rli commented on #575
The frontpage changed to a more intuitive design.

[2021-12-01 14:17] #575 closed

[2021-12-01 14:22] christian-rli commented on #602
I deleted the old milestones.

[2021-12-01 14:22] #602 closed

[2021-12-01 14:30] christian-rli commented on #637
The table is listed in the boundary schema. I believe it wasn't displayed in you browser due to your caching of that page.

[2021-12-01 14:30] #637 closed

[2021-12-01 14:51] christian-rli commented on #679
duplicate of #595

[2021-12-01 14:51] #679 closed

[2021-12-01 14:58] christian-rli commented on #713
There is a description now. The modules still lack descriptions, but are called for in another issue already (#671 ).

[2021-12-01 14:58] #713 closed

[2021-12-01 15:06] christian-rli commented on #715
Has been implemented, as mentioned above.

[2021-12-01 15:06] #715 closed

[2021-12-01 15:13] christian-rli commented on #732
Cannot reproduce. Please provide an example or clearer descripion @Ludee

[2021-12-01 15:32] christian-rli commented on #757
Building this should probably also close #294

[2021-12-01 16:42] christian-rli commented on #801
Also solves #784

[2021-12-01 16:44] christian-rli commented on #802
Also see #735

[2021-12-01 16:57] christian-rli commented on #753
Also see #303

[2021-12-03 10:03] Ludee commented on #823
I will move this issue to the [organisation](https://github.com/OpenEnergyPlatform/organisation/issues) repo, since this should be done for all repos.

[2021-12-07 06:31] han-f opened #825 "allow raw html in markdown editor for tutorials"
We discussed at the SIROP project meeting Dec 2/3 2021, that it would be helpful to allow for raw html in the markdown editor. this would allow better structuring, specifically of the [FAQ tutorial](https://openenergy-platform.org/tutorials/17/) that may be overwhelming if we add further questions and answers.

This is related to #778 which deals with improving markdown capabilities, but which als

[2021-12-07 07:07] han-f opened #826 "Restructuring tutorial page to hold capacity building packages separately"
We discussed at the SIROP project meeting Dec 2/3 2021, that it may be a good idea to integrate capacity building packages using the (improved) markdown capabilities and add them to the [tutorial section](https://openenergy-platform.org/tutorials/). As they provide more context than tutorials they (and the FAQ) should stand out from the tutorials. I attach a first scribble on how this could look l

[2021-12-08 15:26] christian-rli opened #827 "Missing Documentation metadata API"
It's possible to download datapackages and metadata json files via the API. However that function was no findable to test users. Decide on a good place to document.

[2021-12-08 15:30] christian-rli opened #828 "API should require license"
API should require setting a license, so that only (openly) licensed data is uploaded. That would require an extra field with e.g. with a link to the license and an updated documentation/tutorials.

[2021-12-08 15:33] christian-rli opened #829 "Lacking functionality to use data from several scenarios in oedatamodel"
This is currently not possible, but I believe @henhuy mentioned once that it can be implemented.

[2021-12-08 15:35] christian-rli opened #830 "Missing Download Funcionality for Bundles"
This was requested in a user test. Bundles here can broadly be described as collections of several datasets including their metadata.

[2021-12-08 15:38] christian-rli opened #831 "Missing Scenario Comparisons Concept"
What is necessary for scenario comparisons? Collect requirements here before creating several issues for the implementation.

[2021-12-08 15:44] christian-rli opened #832 "Tag Filter should return instant results (asynchronous requests/response)"
Users expect that tables will directly be filted upon a klick on the tags in the side. The Apply Filter button is overlooked. Make and implement a concept for fixing this and while at it, maybe also create a cleaner display of the tags on the side (as called for in #857 ).

[2021-12-08 15:46] christian-rli opened #833 "Gray buttons in safari"
Check if bug is still valid and fix if so.

[2021-12-08 15:50] christian-rli opened #834 "First Login leads to "create account page""
There should either be a proper welcoming page or users should at least be brought to the profile page.It's confusing when new users are made to think they still need to create an account after they have just done so.

[2021-12-08 15:51] christian-rli opened #835 "Login User after account creation"
Users expect to be logged in after receiving the successful account creation mail. Make the process more self-explanaotory or straight forward.

[2021-12-08 15:55] christian-rli opened #836 "Missing account creation success alert"
After account creation users expect a success alert. There should be a welcome page or at least an alert with a message like "Welcome to the OEP Community". See #834

[2021-12-08 15:58] christian-rli opened #837 "Allow Login with Email Address"
Users expect to be able to login with their email addresses as well as their user names. Allow such a login.

[2021-12-08 16:03] christian-rli opened #838 "Missing Link to Tutorials in fitting locations"
In user tests, users got lost in several occasions. The information they needed was available in some tutorials, but not anywhere the users would look for them. A help, if available, should be linked to at the location described in the tutorial, but also related content - e.g. the API tutorial can be linked in the csv upload section.

[2021-12-08 16:06] christian-rli opened #839 ""Show entries" overlooked"
Test users pointed out they wanted to see more of a table and overlooked the appropriate button. "Entries" and "Show entries" should be places in one line. Else create another intuitive solution.

[2021-12-08 16:12] christian-rli opened #840 "Tables in schema views hard to interpret"
The content of tables in the schema views is not transported very well. Clicking through tables creates a considerable workload. A solution could be showing the description (if available) from the metadata in a mouseover.

Sidenote: opening tables in new tabs should be supported. Neither does a right click show a foldout menu, nor does a middle mouse click open a new tab.

[2021-12-08 16:16] christian-rli opened #841 "Newly created table not visible"
After creating a table it is sometimes not findable or visible.The website doesn't provide any help in that case. The solution is usually a refresh of the page. Sometimes refreshing and deleting the cache for the page is necessary. This could be described in a FAQ or even better the refresh happens automatically.

[2021-12-08 16:20] christian-rli opened #842 "Search functionality confusing"
Using the search to find tables was confusing to test users. It was unclear what the search could do, because it was places unter a "Filters" headline. There should be a self explanatory solution.

[2021-12-08 16:23] christian-rli opened #843 "Maps, Graphs and Filter functions found only via accident"
Test users weren't aware of those functionalities and only stumbled upon them when they didn't actually look for them. The OEP could picture those kinds of capabilities on the front page. The functions themselves could also be iconized where they are available.

[2021-12-08 16:27] christian-rli opened #844 "Mismatching top bar and Main page elements "documentation""
The Top bar links to the documentation on readthedocs. That element is not found among the Main page elements. That's inconsistent as well as confusing. The readthedocs page needs an update, but more crucially, test users have clicked there when what they were lookng for is something like the tutorials. Turn readthedocs into a developers documentation and remove it from the front page.

[2021-12-08 16:33] christian-rli opened #845 "Finding tutorials s difficult"
Test users had a hard time figuring out what was behind some of the tutorials. That was prior to the redesign and the names were made more descriptive. There is probably still some room for improvement there, but a filter function in the current view might be very helpful already.

[2021-12-08 16:41] christian-rli opened #846 "[Topics page] Missing info on topics page"
Add info on what data there is, how to open/use it or add that as an info section in the FAQ. This was requested by test users. Also see #737

[2021-12-08 16:48] christian-rli opened #847 "Metadata, Review, licensing elusive topics"
Several suggestions to make them more straight forward:

- [ ] create dedicated tutorials
- [ ] link them in related locations (like upload wizard, metadata edit, license field)
- [ ] quick help info behind mouse-over question marks. more than just a couple words

[2021-12-08 16:51] christian-rli opened #848 "Missing Languages"
In user tests an German version of the OEP was asked for. Consider workload and benefit in this issue and go for an implementation if feasible.

[2021-12-08 16:54] christian-rli opened #849 "Download datapackage not self explanatory"
Test users suggested supplying extra information, like "Standardised format with csv file with and metadata as json" as mouse-over.

[2021-12-08 16:56] christian-rli opened #850 "Missing link to tutorials in database"
It is not clear what tools, knowledge is necessary to work with data or what options are available. This should be linked to in the database view(s).

[2021-12-08 16:59] christian-rli opened #851 "Missing default licenses"
Set a license on uploaded data automatically and inform the user of this step at all possible upload locations, while registering and when describing the upload process. Decide on a default license.

[2021-12-09 10:44] Ludee opened #852 "Database table cannot be opened in a new tab"
In the schema view I want to open several tables.
I cannot open them in a new tab using `ctrl` or `open in new tab`.
This would increase usability a lot.

[2021-12-09 13:19] christian-rli commented on #840
Opening tables in a new tab now has a separate issue: #852 Remaining for this issue is putting the description into a mouseover.

[2021-12-09 13:28] christian-rli opened #853 "Missing info in Factsheet overview pages"
In usability tests, users found that documentation on factsheets was missing. Why are they there, how are they created and what's their relation to the data. Some, if not most of that information is available in the [overview](https://openenergy-platform.org/factsheets/overview/) page. However people don't realize that's the place to find that information. It could be renamed to "About Factsheets"

[2021-12-09 13:50] christian-rli opened #854 "Embargo Area"
There should be an embargo area for data sets going through a teared publishing process. This can be the case when data is only in formation or when a period of time has to run out for the data to go public for project- or license reasons.

There needs to be a concept how and where data are stored and how they are made public to a limited group with access. There should be a timed limit on publica

[2021-12-09 13:54] christian-rli opened #855 "Award, track and display badges"
Badges should be visible to a new user, otherwise it's only a theoretical concept. Since reviews should be carried out by anyone at some point, tracking who awarded badges will come in handy in case there is something to discuss.

[2021-12-09 13:59] christian-rli opened #856 "Missing a test dataset for the review process"
There should be a test dataset to practice the review on. This would be helpful for both the process on github, as well as on the olatform, once it is implemented.

[2021-12-09 14:32] christian-rli opened #857 "Users are overwhelmed with tags"
There are just too many tags to show on the right hand side. It's good to have many, but the display shouldn't be as frustrating. Suggestions for improvement: combine them in groups, create foldout options, quick search, scrollable list with sorting options. Anything, really :)

Having them first in order of usage, then alphabetically and on top of all that arranged in line with line breaks is inc

[2021-12-09 14:39] christian-rli opened #858 "Tagging is too much scroll work"
As described in #857 the current display of tags is frustrating. That issue focusses reworking the filter/search functionality. Similar things are true for tagging a table. There is a lot of scrolling up and down going on and finding the apply button. Rework the concept, ideally in sync with #857 so the solutions match

[2021-12-09 14:59] henhuy commented on #829
We implemented such a solution with our oedatamodel API.
See Readme and code here:
https://github.com/open-modex/oedatamodel_api

In short:
A "source" can be defined, which loads joined data from OEP via advanced api.
Afterwards JSON data can be transformed into desired output format.
All by a simple request to the API

[2021-12-09 15:09] christian-rli opened #859 "Wizard column type needs better explanation"
The data types in the column correspond to PostgreSQL data types. A dropdown list appears, but isn't explained. A simple table view with an explanation per data type for use would be immensely helpful or a link to a concise(!) explained list of options. Matching data types is difficult for new users.

[2021-12-09 15:21] christian-rli opened #860 "CSV upload process isn't self explanatory"
Add a Documentation/Tutorial. Else, after fixing the the next (by number) thirteen issues, which improve several aspects about the process, reevaluate if the process is self explanatory.

[2021-12-09 15:24] christian-rli opened #861 "Users skip create table section trying to upload"
Rearrange layout so that it becomes clear, that this has to be done first, or craft super nifty feature that guesses column types directly from csv.

[2021-12-09 15:27] christian-rli opened #862 "Wizard field 'ecoding' isn't self explanatory"
encoding should just be automated to utf8.

[2021-12-09 15:38] christian-rli opened #863 "Nullable checkbox often skipped"
It's also a lot of clickwork. Maybe set it as default option or think of something more clever.

[2021-12-09 15:40] christian-rli opened #864 "Space in column name leads to error"
While technically correct, it's better to auto-suggest and option with underscores replacing tables and eliminating spaces at the end of any inputs right away.

[2021-12-09 15:45] christian-rli opened #865 "Users cannot find newly created table"
Show the link to the table, maybe next to a message "successfully created table - look at it here". Same after an upload.

[2021-12-09 15:47] christian-rli opened #866 "User don't know if table was created or not"
Same with updates. Show a "Successfully created/updated table. Look at it here". This is also the solution for #865

[2021-12-09 15:50] christian-rli opened #867 "Conflict with identical table names upon creation"
User don't know whether they have already created a table or not. There is a conflict if a table already exists, but there is no explanation. Add one for that situation :)

[2021-12-09 15:53] christian-rli opened #868 "No review or metadata prompt"
After users have successfully uploaded their data, they assume that they are done. They aren't lead to triggering a review process or start filling out metadata.

[2021-12-09 15:55] christian-rli opened #869 "Language element used inconsistently"
take care of consistent use. Add a drop-down list in metadata section.

[2021-12-09 15:59] christian-rli opened #870 "Users are overwhelmed by the metadata string"
Create a foldout view. Hide empty fields by default, but do show that there is an option to add fields (when possible).

[2021-12-09 16:01] christian-rli opened #871 "Users think they have to fill out all metadata and resign"
The submit button shouldn't be at the very bottom. It could be bigger/bolder and maybe follow the user on the right hand side when scrolling down.

[2021-12-09 16:04] christian-rli opened #872 "Unclear importance when filling out metadata"
It's not clear what's more relevant. Create a concise list of more important fields and highlight those. Pro solution: prompt the user in descending order of importance.

[2021-12-09 16:09] christian-rli opened #873 "Unclear what content is missing in empty fields"
When filling out metadata it's sometimes not clear what's required in a field. Mouse-over texts are helpful, but an additional help would be example values that appear in grey to give the user an idea.

[2021-12-13 07:50] han-f commented on #860
There is a tutorial here: https://openenergy-platform.org/tutorials/15/

[2021-12-13 11:55] han-f opened #874 "Better navigation for 'textual' oeo viewer"
I would like to suggest to add some simple navigational elements to the "textual" oeo viewer. Like this it can be navigated easier and usability will increase. I made a scribble below on how it could look like when viewing a specific entity. Of course it would be great if the search bar would already be visible when landing here: https://openenergy-platform.org/ontology/oeo/

- _search bar_ lets u

[2021-12-13 11:59] han-f commented on #853
Also related to https://github.com/OpenEnergyPlatform/tutorial/issues/147

[2021-12-13 12:01] han-f commented on #846
I think it would be great to add a short intro text under the heading "Schemas" (or whatever the page will be called once the schemas are resolved) instead of adding an FAQ section on this. Adding context directly on the page in question does not require extra effort of users to find answers...

[2021-12-13 12:02] han-f commented on #846
And of course we could additionally add an FAQ section in parallel, but I think the FAQ should not be the only source of this information.

[2021-12-13 12:03] han-f commented on #845
I think at one point we suggested to add small excerpts to the tutorials, and still think these will come in handy, as a heading can only provide so much information without getting to long.
Suggestion see: #762

[2021-12-15 09:26] christian-rli opened #875 "Requirement Specification SIROP"
Die Anforderungsanalyse innerhalb des Projektes SIROP sammelt gestellte Anforderungen an die OEP und bildet ein Gesamtkonzept zu deren Weiterentwicklung. Die identifizierten Anforderungen werden gelistet, in Issues geschrieben und in GitHub-Projekte einsortiert. Abhängigkeiten, strukturelle Enscheidungen, Bearbeitende, sowie Priorisierung sind innerhalb von GitHub u.a. mit Labels dokumentiert. Die

[2021-12-15 10:52] han-f commented on #874
While the back button on the top of the browser can be used, or the super class can be clicked, I think it may be helpful to have a back button where indicated.

Or create a context information that super class should be clicked to "move back".

I think the search bar will bring a great value added to external users.

[2021-12-20 06:41] han-f opened #876 "Some tags are duplicates"
At least one tag with the same name exists twice:

parameters:
https://openenergy-platform.org/dataedit/tags/178
https://openenergy-platform.org/dataedit/tags/180
Can these please be merged into one tag?

Maybe a good idea to also check for other potential duplicates that may be merged?

[2022-01-12 12:20] jh-RLI commented on #813
https://github.com/OpenEnergyPlatform/oeplatform/issues/740

[2022-01-12 12:43] wingechr commented on #813
* [] identify tables in django
* [] identify entry points for changing tags and metadata

[2022-01-13 12:43] jh-RLI commented on #813
Currently known definitions of tag related tables in the dataedit app:
[models.py](https://github.com/OpenEnergyPlatform/oeplatform/blob/2662689752cb3a1c00a8c585220b895c4c5da545/dataedit/models.py#L30-L43)
[structures.py](https://github.com/OpenEnergyPlatform/oeplatform/blob/2662689752cb3a1c00a8c585220b895c4c5da545/dataedit/structures.py#L21-L42)

[2022-01-17 14:11] Ludee commented on #876
I downloaded the list of all tags from the database and found some more issues:

- tag with no name (230)
- assumptions (179 / 181)
- Electrical / Electricity (199 / 136)
- emission projection (239 / 272)
- FlexMex (285 / 173)
- Gas (138 / 253)
- input data (237 / 219)
- MODEX-EnSAVes (284 / 287)
- Netzentwicklungsplan / NEP (276 / 277)
- notation-keys ( 269 / 290)
- parameters (178 / 180)

[2022-01-18 08:22] wingechr commented on #813
I checked on the database side, the tags are stored in the oedb, not the django database

* table `public.tags` has the tags and usage stats
* table `public.table_tags` has the n-n-relation between tags and tables

[2022-01-18 08:53] wingechr opened #879 "all values in csv download are quoted, even numerical columns"

[2022-01-20 12:56] jh-RLI commented on #813
Dublicated tags: https://github.com/OpenEnergyPlatform/oeplatform/issues/876

[2022-01-20 13:33] jh-RLI commented on #876
I´m not sure what the numbers are indicating? Is this the tag id? @Ludee

[2022-01-20 14:24] jh-RLI commented on #813
This[ function](https://github.com/OpenEnergyPlatform/oeplatform/blob/2662689752cb3a1c00a8c585220b895c4c5da545/dataedit/views.py#L37) can be used to read the metadata.

In general, here are some helpful functions: [/dataedit/metadata/__init__.py](https://github.com/OpenEnergyPlatform/oeplatform/blob/develop/dataedit/metadata/__init__.py)

[2022-01-20 14:33] jh-RLI opened #880 "update dataedit metadata implementation with new OEM latest version"
The metadata widget that is displayed when viewing a table cannot correctly display the latest metadata version. Since we are currently updating OMI by adding a new dialect for OEM v1.5.0 and all upcoming Versions, we need to update the metadata widget afterwards.

https://github.com/OpenEnergyPlatform/oeplatform/tree/develop/dataedit/metadata

additionally, the MetaEdit component must be updated

[2022-01-20 14:34] jh-RLI commented on #815
https://github.com/OpenEnergyPlatform/oeplatform/issues/880

[2022-01-20 14:40] jh-RLI commented on #815
[First we need to finish updating omi with the new dialect for oem v1.5.0.](https://github.com/OpenEnergyPlatform/omi/pull/45)

Since we have changed the structure of the metadata, we need to figure out how to maintain the OMI functionality with which older versions of the metadata are processed.

[2022-01-20 14:58] jh-RLI commented on #813
In case we transfer tags from the database to the metadata "keywords". How do we store the ID and the color value? There are no fields for this in the metadata.

[2022-01-25 11:02] Ludee commented on #875
Die übergeordnete Liste findet sich unter den [GitHub-Projekten](https://github.com/OpenEnergyPlatform/oeplatform/projects).

[2022-01-25 13:29] Ludee commented on #876
Yes, the numbers are the ids.

[2022-01-26 12:30] Ludee commented on #813
Option 1: Delete in the backend (LH)
    remove entries from table_tags
    remove from tags table

    Option 2: Prevent new errors (CH)
    write as alembic scripts
    new unique name as addition constraint
    preventing new double entry

[2022-01-26 12:41] wingechr commented on #813
furthermore: remove feature to rename tag

[2022-01-26 13:27] wingechr commented on #813
i set up branch [feature/improve-tags-813](https://github.com/OpenEnergyPlatform/oeplatform/tree/feature/improve-tags-813)

[2022-01-26 13:56] #411 closed

[2022-01-27 19:11] wingechr commented on #813
@Ludee I commited a migration script for the tags. the sql query to remove duplicates is a little long, definitely requires a second look & backups in production :-)

[code]

[2022-01-28 09:05] adelmemariani opened #884 "Show column metadata for tables"
The column names of the tables in OEP, have (abbreviated) names that are specific for each dataset. We then show the meta-data of these tables under the table which provides more information about the columns.

For example, [here](https://openenergy-platform.org/dataedit/view/boundaries/bkg_vg250_1_sta), the column 'geom' means 'Geometry' or the 'gf' means 'Geofaktor'. I think to have a more clear

[2022-01-31 06:39] han-f opened #886 "Implement download functionality for factsheets"
For some users of the OEP (e.g. quantitists and qualitists) it may be helpful to be able to download factsheets and read offline. Please implement a download functionality if this is possible.

For example, could a study factsheet be rendered into a PDF file?

[2022-01-31 10:18] han-f commented on #825
As we are progressing with WP3 it would be great to hear about how this is coming along?

[2022-01-31 10:18] han-f commented on #778
As we are progressing with WP3 it would be great to hear about how this is coming along?

[2022-01-31 10:19] han-f commented on #826
As we are progressing with WP3 it would be great to hear about how this is coming along?

[2022-01-31 10:20] han-f commented on #805
As we are progressing with WP3 it would be great to hear about how this is coming along?

[2022-02-07 11:40] wingechr commented on #879
also: remove trailing comma

[2022-02-07 11:40] wingechr commented on #879
work on branch: `bugfix/csv_export_879`

[2022-02-08 21:36] jh-RLI opened #894 "The metadata editor does not show the correct ID of the table"
The metaedit form should fill the "id" key with the correct value for the ID of the Table (full URL of the table).

### Example
Expected vlaue:
https://openenergy-platform.org/dataedit/view/model_draft/example_api_table_test

Current:
![image](https://user-images.githubusercontent.com/38939526/153079649-95127966-f25e-47df-a607-0b88ed1cb4e6.png)

[2022-02-09 10:45] Ludee commented on #886
The "old" factsheets can be downloaded in total as CSV.
It makes sense to add the function to generate a formatted document from a single factsheet!

[2022-02-09 10:47] Ludee commented on #884
This has been done in the latest version of the OEM.
Please see the [documentation](https://github.com/OpenEnergyPlatform/oemetadata/blob/develop/metadata/latest/metadata_key_description.md):

15.6.1.4 | is_about | Ontology URI to describe the column header |  
-- | -- | -- | --
15.6.1.5 | value_reference | Ontology URI for an extended description of the values in the column

[2022-02-09 10:58] Ludee commented on #884
This is also covered here: https://github.com/OpenEnergyPlatform/oemetadata/issues/58

[2022-02-09 12:56] Ludee commented on #858
My idea is to group the tags by categories. This has been already partly integrated in the backend.
The tags can be shown separately for each group as known from CKAN systems.
Then the colours can also be taken by the group as default.

I will add a list of the categories here:

[2022-02-10 09:40] Ludee opened #895 "Edit of data in schema model_draft not possible"
There used to be a function to edit data in model_draft on the OEP when permissions are granted.
I couldn't find this function any more. Is this a bug or a feature?

[2022-02-14 11:54] jh-RLI commented on #895
@Ludee  Could you provide more information about the function you mentioned? Do you mean a functionality on the OEP website or an API function? I am not aware of such a functionality on the website, apart from the wizard that allows you to create a or delete a table but not edit it.

[2022-02-16 21:05] jh-RLI commented on #813
@wingechr I added the functionality to add oemetadata keywords to 1. new Tags 2. Tabletags and add current TableTags to metadata. Please test this :) . I will test the migration script next.

[2022-02-18 22:28] robbiemorrison opened #896 "Outdated links: openmod forum URL on landing page"
The openmod forum URL should really be updated.  Old version:
- https://forum.openmod-initiative.org

And new version:
- https://forum.openmod.org

Not urgent, but still worth fixing, I believe.

[2022-02-22 22:20] jh-RLI commented on #813
@wingechr I reviewed the result of your migration script with the actual OEP tags data. I had to clean the data from an additional column called "category" (correct me if the column name is wrong, @Ludee), which was manually created (via SQL) directly in the database backend some time ago. This column is not managed by django or alembic. As I learned, this column should be used to group tags and i

[2022-02-23 11:13] Ludee opened #898 "Navigation bar needs to be updated"
The navigation bar needs some updates:

- [x] Create documentation
- [x] Add "Tutorials" section
- [x] Add "OEO-Viewer"
- [x] Move "Documentation" under "About OEP"
- [x] Move "FAQ" under "About OEP"

Structure:

| Database | Factsheets | Ontology | Tutorials | About |
| -------- | -------- | -------- | -------- | -------- |
|  | Overview | Overview | | Overview |
|  | Framework Factsheet | OEO Mo

[2022-02-23 15:03] #444 closed

[2022-02-23 15:51] adelmemariani opened #899 "Study factsheets (alpha) redesign."
I am currently working on a new version of the study factsheets. These factsheets are based on Open Energy Knowledge Graph (OEKG) that are intended to enable interoperability among energy studies. I will discuss the problems and will ask my question on this issue. I push my changes in the 'feature/factsheets_bugfix' branch. The following is a list of updates regarding the new version of factsheets

[2022-02-23 16:33] jh-RLI commented on #813
The migration script now works as intended 👍 @wingechr

[2022-02-23 16:48] jh-RLI commented on #832
also concerns #858

[2022-02-24 11:09] jh-RLI commented on #813
@wingechr @Ludee As I noted yesterday, I thought that in case the metadata as comment on table is empty, metadata must be appended. Now, I noticed that the function load_metadata_from_db() automatically appends version 1.4.0 to the table if the metadata is empty.  Unfortunately, this does not explain why in some cases the metadata is left empty and tags are not added to the keywords. So I can't re

[2022-02-24 11:19] Ludee commented on #898
The navigation bar is done in `base/templates/base`:
- `base.html`
- `base-wide.html`
Could not find any documentation.

[2022-02-24 12:04] han-f opened #900 "Tutorials: editing interface improvements"
The editing interface requires some information via drop-downs. I think there is room for improvement:

- **License drop-down**: only holds CC0, No, AGPL - but users need to choose something. So if my tutorial has a different type of license I have no possibility to choose the correct answer
- **Level**: I would allow for "any", too. Some tutorials may be easy to read for beginners but still relev

[2022-02-24 12:31] jh-RLI commented on #900
I agree with your suggestions. If we agree on a complete list for what should be included in the dropdowns, I can easily extend them. But I am not sure how fast I will get to it.

We are currently working through the issues that were bundled in the [GitHub projects](https://github.com/OpenEnergyPlatform/oeplatform/projects) by @christian-rli . We plan to complete most of the work for the Project n

[2022-02-24 13:07] han-f commented on #900
Thanks @jh-RLI - I know there is no bundle yet, but the improvements in the tutorial section are crucial for our capacity building modules to be developed. I gathered, that most of the changes are not very complicated - could these potentially be addressed by a minor release relatively shortly after the major one that is planned for March? @wingechr

@jh-RLI if you let me know how to "bundle" thes

[2022-02-24 13:46] han-f opened #901 "Tutorials: improvement ideas for markdown editor capabilities"
While working on WP 3 an adding tutorials, I ran across some limitations from which I think solving those can help make (text) tutorials look better, I'll list them here for consideration. I also learned there are different "flavours" of markdown that have different functionalities. Which "flavour" do we currently use?

- Possibility to scale images (maybe just me, but didn't figure it out and sin

[2022-02-24 21:30] Ludee commented on #719
Will be fixed with #876

[2022-02-24 21:37] Ludee commented on #678
Are all issues addressed in the current version? @han-f

[2022-02-25 06:39] han-f commented on #678
1) the filtering part has been solved - i.e. when the schemas are reduced and I click the schema only the tables with the selected tag are shown.

1) the filter explanation on the schema page still reads: _Use the Filters on Tags or try searching for strings that occur in table names. You can combine text and Tags filters to get more precise results. If you filter for multiple Tags, only tables co

[2022-02-25 08:13] wingechr commented on #858
Grouping is good, by i think it does not solve the problem if there is hundreds of tags.
What about a textbox/dropdown with autosuggest? (like https://jqueryui.com/autocomplete/#default)

[2022-02-25 08:17] wingechr commented on #813
The `TEMPLATE_V1_4` in https://github.com/OpenEnergyPlatform/oeplatform/blob/develop/dataedit/metadata/v1_4.py
is not correct.

I am also suprised that omi apparently does not use the json schema files at all.

[2022-02-25 08:23] han-f commented on #678
I checked on the live version of OEP now.

[2022-02-25 09:25] han-f opened #904 "Tutorials: Scaling browser window makes images in tutorial section overflow"
When I created a tutorial and added an image (800px) wide this looks OK a large resolution. When I scale the screen the image overflows and does not stay in the tutorial window, see screenshot below.
Example: https://openenergy-platform.org/tutorials/18/

![grafik](https://user-images.githubusercontent.com/36844029/155689559-042dc18e-8107-41e6-b599-751b20ecc431.png)

[2022-02-25 13:48] jh-RLI commented on #900
Hi @han-f , from my side you can create the project. That would be very helpful. As you can see in the other projects there is also always an end date given "Due in ...". We should discuss with @Ludee  when we can accommodate the Tutorials/capacity building modules in the schedule? The schedule until september 2022 seems very strict.

[2022-02-25 14:03] jh-RLI commented on #858
I also think that categories do not completely fix the problem. +1 for @wingechr suggestion, because a search is much more intuitive and can for instance already deliver results if only a part of the tag name is given.

[2022-02-25 14:10] jh-RLI commented on #898
@Ludee  I agreed with your changes, I thought at first that maybe items like FAQ are a bit hidden, but I think this is the most organized way. As for the documentation, I can't say if it will be accepted by RTD exactly, but it looks good in general and definitely better than what was there before.

[2022-02-28 07:10] han-f commented on #900
Thanks @jh-RLI. @wingechr  what is your impression? Are these improvements something that may be addressed in a minor update rather soon despite the workload planned already?
These improvements are crucial to proceed with our capacity buildung workpackage and hopefully most of these are not so complicated to implement?

[2022-02-28 07:39] han-f commented on #900
[Added a project](https://github.com/OpenEnergyPlatform/oeplatform/projects/16#card-78338659) and put the corresponding issues in there. There are some overlaps with another project, but I guess this won't matter:

[2022-02-28 08:49] Ludee commented on #896
I will update the links on the landing page (index.html) and update the documentation.

[2022-02-28 12:19] Ludee opened #907 "New project logo is missing on about"
- [x] Add project logo SIROP

[2022-02-28 12:37] #896 closed

[2022-02-28 12:38] #898 closed

[2022-02-28 12:39] robbiemorrison commented on #896
thanks team!

[2022-02-28 12:40] #719 closed

[2022-02-28 12:40] #813 closed

[2022-02-28 12:40] #876 closed

[2022-02-28 12:40] #894 closed

[2022-02-28 13:40] steull opened #910 "Updates of the Content-Pages on the OEP Website"
We want to collect minor changes (i.e. spelling mistakes, broken links, ...) that need to be taken care of until the next release.

1. Factsheets-Overview
3. OEO-Overview
3. About OEP

[2022-02-28 13:44] jh-RLI opened #911 "Read the docs build fails for oep-v0.9.4"
https://readthedocs.org/projects/oep-data-interface/builds/13030714/

[2022-02-28 14:15] jh-RLI commented on #911
Seems like rtd can build the docs but because there is an exception in the code that raises if the securitysettings file is missing, the docs build returns "failed".

@wingechr There is already a try except block present in the [settings.py.](https://github.com/OpenEnergyPlatform/oeplatform/blob/63e5c29b177afb97df49616c6b07dc0a9174ffb9/oeplatform/settings.py#L15-L18) It seems read the docs don't l

[2022-02-28 15:02] Ludee opened #912 "Partner logos update in about page"
- [x] Add fortis logo @FlorianK13
- [x] Update logo HZG -> hereon
- [x] Fix project logo SIROP
- [x] Open Energy Family - Group Foto

[2022-02-28 15:16] Ludee commented on #907
I added the file to the wrong logo folder. Should be hotfixed with #907.

[2022-02-28 20:01] MGlauer opened #916 "Alembic up- and down grade do not match"
The latest changes to the alembic datamodel introduce some manual changes during upgrade, that are not reverted on downgrade. This will cause errors on repeated up- and downgrade.

[2022-03-01 07:03] wingechr commented on #916
which step?

[2022-03-01 07:20] wingechr commented on #916
in  `6b59560b879b_.py`

upgrade:
   * add column
   * add constraint

downgrade:
   * drop constraint
   * drop column

the execute part that removes the duplicate content is irreversible by necessity, but not structural.

[2022-03-01 08:26] wingechr commented on #911
why not change
[code]
into
[code]

?

[2022-03-01 12:35] MGlauer commented on #916
Ok, as long as the execute statement is idempotent, this may not cause an error.

[2022-03-01 12:49] wingechr commented on #916
it is (or should be :-) )

[2022-03-01 12:53] chrwm opened #918 "Delete table in OEP model draft fails using Wizard"
The deletion of tables using the Wizard on the OEP seems to fail.

Concerning [table](https://openenergy-platform.org/dataedit/view/model_draft/modex_openmodex_load)

Error screenshot:
![grafik](https://user-images.githubusercontent.com/54852694/156171955-7987cac3-461b-4c03-b527-f885e8e28404.png)

[2022-03-01 13:48] #916 closed

[2022-03-01 15:49] jh-RLI commented on #911
Some other errors have appeared. I was able to fix them, but I'm not sure if this is the best solution.
@wingechr

I had to add a try except block to each import of the securitysetting module in several files and then set some of the environment variables. RTD allows environment variables to be set in their backend and I was able to import them into settings.py.

[code]
RTD env on https://readthed

[2022-03-01 16:15] jh-RLI commented on #918
@chrwm the table seems to be deleted. Did you delete it using the API? Otherwise, it may take some time before the deletion of the table with the wizzards is recognized by the OEP:

[2022-03-03 13:49] pajot commented on #918
@jh-RLI I have a situation in which a table I deleted via API is still appearing in the `model_draft` schema, but when I click on it I get a 404.

This looks like a bug to me.

[2022-03-04 14:24] l-emele opened #933 "Download view produces wrong filename extension using Firefox"
I just filtered something in the table https://openenergy-platform.org/dataedit/view/scenario/ksz2050_r2_ks95_primary_and_final_energy_consumption and then tried the "download view". I got an CSV file with the filename `Partial_scenario_ksz2050_r2_ks95_primary_and_final_energy_consumption.csv.txt`. As it is a valid CSV file, it the filename extension should be imho only `.csv` and not `.csv.txt`.

[2022-03-04 15:01] chrwm commented on #918
@jh-RLI Thanks for the info. I just clicked the button.

[2022-03-07 14:33] FlorianK13 commented on #912
Should I add the fortiss logo to static/logos @Ludee?

[2022-03-09 09:58] Ludee commented on #390
Link to the OEO: https://github.com/OpenEnergyPlatform/ontology/issues/33

[2022-03-09 11:50] jh-RLI commented on #933
Hi @l-emele, can you please provide a screenshot of your filter settings. I was not able to reproduce your error.

[2022-03-10 07:32] l-emele commented on #933
It is independent of the filter settings. However, here is an example:
![grafik](https://user-images.githubusercontent.com/36884905/157608719-f0f06742-a83f-4d86-9a2c-27bbddfb4bf3.png)

But maybe, my browser (Firefox 91.7.0esr (64-Bit)) adds this additional extension while downloading?

When clicking on the "Download CSV" button, Firefox seems to see this file as valid CSV and shows to open in MS E

[2022-03-10 12:52] jh-RLI commented on #933
Thanks for this detailed comment. I think your guess is correct, and the ".txt" is appended by Firefox. With Chrome the problem does not exist (at least on my end).
![image](https://user-images.githubusercontent.com/38939526/157665034-d327e912-46e0-4996-b1b9-d3bbca2544bc.png)

The second point is also a good catch :) . I will create another issue for this.

[2022-03-10 12:59] jh-RLI opened #935 ""Download CSV" and "Download View" return slightly different results."
As @l-emele noted in #933, the download functions download CSV and download view (after filtering data from a table) return slightly different results:

[2022-03-11 08:23] han-f opened #936 "Filter functionality under schema shows wrong results"
When filtering under https://openenergy-platform.org/dataedit, clicking a light blue tag (scenario name it seems) and filtering shows 196 tables in scenario and 776 in model draft (in case there are some in model draft). This also holds when clicking two tags.
Two examples pasted in below. These numbers seem the total number of tables in the corresponding schemas.
This seems a bug and I think at o

[2022-03-16 14:44] jh-RLI commented on #160
As @christian-rli mentioned tags are represented as keywords in the OEMetadata JSON string. The metadata can be added via the API to the table. If the user appends metadata to a table using the API the keywords are not automatically added as tags. The tags from the metadata keywords will be added as soon as the user is adding any tag via the OEP website. It might be worth updating the API function

[2022-03-16 14:45] jh-RLI commented on #160
I will close this issue since a basic functionality is given. Further issues can be added as new issues.

[2022-03-16 14:45] #160 closed

[2022-03-16 14:47] #740 closed

[2022-03-29 05:41] allysonlister opened #938 "FAIRsharing query - new record for OEP database"
Dear OEP Team,

I’m contacting you on behalf of FAIRsharing[1], the online registry of scientific data standards, databases and policies. Our aim is to make your resource as visible as possible to as large an audience as possible.

We have a FAIRsharing record for your resource[2]. To ensure our information is as correct and up to date as possible, would you or someone from your team quickly scan

[2022-03-30 09:30] chrwm opened #939 "The user is not informed when keywords are automatically added to table tags"
When confirming that a selection of tags should be added to a table the user-selected choice of tags is expanded by the table's keywords as tags.

Example:
Table had no tags. Add tags `MODEX` and `open_MODEX`.

![grafik](https://user-images.githubusercontent.com/54852694/160797771-37e75023-b7bc-4fd7-846e-2dca80487a91.png)

Result: Tables Keywords were added as tags as well.

![grafik](https://user

[2022-03-30 11:42] jh-RLI commented on #939
Hi @chrwm , this feature was introduced with the latest OEP version. The keywords are the metadata representation of the OEP table tags. This is the reason why we decided to synchronize them.  Currently, this "synchronization" is only triggered when the user adds new tags to the table via the OEP website.
The behavior you observed is to be expected. The main problem is that we are currently in a t

[2022-03-30 11:48] jh-RLI commented on #939
The user should at least be informed about the action performed. I will display an info that notifies the user when new tags are automatically added from the keywords.

[2022-03-30 11:56] jh-RLI commented on #936
From my point of view, the filter functionality needs a general revision. Since I did not help develop the current functionality, I need to evaluate the status quo first. If anyone can help me with this, please let me know.

[2022-03-30 12:11] jh-RLI opened #941 "[CI-fails]: ModuleNotFoundError: No module named 'ipython_genutils'"
Currently we expreince a issue with the automated testing. After the deprecation waring at the beginning (this should already be fixed by https://github.com/OpenEnergyPlatform/oeplatform/pull/885/commits/e666e3bb2f02d7dc33f2387c48ee9038a1038883) the report suggests that there is the module `python_genutils` missing. This module is called by the module `nbconvert` wich is part of the tutorials djan

[2022-03-30 12:23] chrwm commented on #939
Thanks for the clarification @jh-RLI. I agree that there should be at least a status message about what actually happened, e.g. _"New tags were automatically added to the table from the metadata keywords"_

[2022-03-30 14:15] Ludee commented on #938
Dear @allysonlister, thank you for the initiative and the record for the OEP.

We are going to get access and make some suggestions.
I will move this issue to the [organisation](https://github.com/OpenEnergyPlatform/organisation) repo.

[2022-03-30 14:47] jh-RLI commented on #941
Seems like this issue is known and fixed already.
https://github.com/jupyter/nbconvert/issues/1725

[2022-04-01 15:26] adelmemariani commented on #763
A new clickable layout for the sub-class relations in the OEO:

![Screenshot 2022-04-01 at 17 16 52](https://user-images.githubusercontent.com/7637364/161294132-4ebab219-ea1b-4bae-9c8d-49ef588535ec.png)
![Screenshot 2022-04-01 at 17 17 11](https://user-images.githubusercontent.com/7637364/161294151-e4b4b455-7aaf-4ea6-b32b-85a2b2fab1ef.png)
![Screenshot 2022-04-01 at 17 17 55](https://user-images.g

[2022-04-04 07:37] l-emele commented on #763
I cannot imagine how such a radar will look, once also the inferred classes will be shown and the structure is not mono-hierarchically any more.

[2022-04-04 12:44] adelmemariani commented on #763
@l-emele you are right. That was also my concern. The layout only works for hierarchical relations i.e., sub-classes. I am still thinking about a new layout for relations that are not hierarchical.

[2022-04-05 10:26] Ludee commented on #912
I just added it

[2022-04-05 12:23] chrwm opened #943 "Improve usability upload Wizzard"
The upload Wizzard on the OEP is a great feature to upload single/few tables. However, having used it recently, I want to propose some improvement suggestions regarding the workflow.

1. Introduce option to upload one vs many tables (from csv) (after each table and finished metadata -> create table)
2.  Switch the workflow order and make "Upload csv" the first step
4. Then transfer the table heade

[2022-04-07 06:33] l-emele opened #944 "Filters "contains" and "doesn't contain" do not work"
I just noticed that the filters "contains" and "doesn't contain" do not work.

In the table https://openenergy-platform.org/dataedit/view/climate/szenariendb_gwp I tried to filter entries that contain the word "methane":
![grafik](https://user-images.githubusercontent.com/36884905/162134733-b5682d9d-c4d9-44b6-9e60-1d2907d2f1be.png)

But the filter does not do anything, the whole original table is

[2022-04-07 07:41] Ludee opened #945 "Permissions: Renaming a permission group is not possible"
Existing groups cannot be renamed.

[2022-04-08 06:31] han-f commented on #900
@jh-RLI we discussed at the project meeting that there are some issues for WP 3 where it would be great if you could get in touch with me before starting implementation, so we can ensure the implementation follows without doubt along the exact line of thought of the initial issue. That way we can also avoid potential double work. I will flag this and the other such  issues with
Get in touch with @

[2022-04-08 06:31] han-f commented on #825
Get in touch with @han-f

[2022-04-08 06:32] han-f commented on #805
Get in touch with @han-f

[2022-04-08 06:32] han-f commented on #904
Get in touch with @han-f

[2022-04-08 06:32] han-f commented on #778
Get in touch with @han-f

[2022-04-08 06:32] han-f commented on #777
Get in touch with @han-f

[2022-04-08 06:33] han-f commented on #901
Get in touch with @han-f

[2022-04-08 06:33] han-f commented on #826
Get in touch with @han-f
(high-priority issues to start implementation in WP3.2)

[2022-04-08 12:18] #941 closed

[2022-04-08 13:17] jh-RLI commented on #944
This might be solved by #818 @wingechr do you agree?

[2022-04-13 14:09] jh-RLI commented on #939
I have added an infobox that is displayed after the user clicks on the "Apply" button to add new tags.

Is this message clear to you @chrwm ?
![image](https://user-images.githubusercontent.com/38939526/163199424-40a83735-8fe7-4913-99a4-caa5f61a61a1.png)

[2022-04-19 08:20] chrwm commented on #939
I think overall, it's good. I would change it to:
"Please note that OEMetadata keywords and table tags are synchronized. When submitting the table, you may notice automatic changes to the table tags on the OEP and/or the keywords in the metadata."

[2022-04-20 06:09] wingechr commented on #935
duplicate of https://github.com/OpenEnergyPlatform/oeplatform/issues/879, so i close it here :-)

[2022-04-20 06:09] #935 closed

[2022-04-20 06:11] wingechr commented on #944
yes

[2022-04-20 09:26] wingechr commented on #895
@Ludee are you SURE this was ever possible??

From what I can see, this would have to be in `oeplatform/dataedit/static/dataedit/backend.js`, with some api call bound to events in the jquery.DataTable instance.

In the file's history, I can see no such thing.

[2022-04-20 09:59] wingechr commented on #879
solved by #949

[2022-04-21 12:34] wingechr commented on #399
incorrect text no longer shows

[2022-04-21 12:39] wingechr commented on #918
@chrwm: could you please enumerate steps to reproduce the problem? seems to work for me without a problem.

[2022-04-22 09:13] wingechr commented on #918
awesome :-)

[2022-04-22 09:13] #918 closed

[2022-04-22 09:48] pajot commented on #918
It looks like my e-mailed reply was not taken up by github.

My question: Did you test this with a bare repo, or on the production system?

[2022-04-22 15:26] wingechr opened #952 "insert data in tables with names > 60 chars fails without error"
* checked with wizard and API
* table can be created (postgres limit is 63)
* insert does not raise error
* data does not end up in DB!

this is a follow up to #781

[2022-04-22 19:48] wingechr commented on #952
@adelmemariani  @Ludee @MGlauer

The problem is that internally, it creates meta tables like so:

* `table_name = '_' + table + '_delete'`
* `table_name = '_' + table + '_insert'`

if `table` is already close to 63 char (postgres max), the meta table name is too long.

Here is the weird part: the meta tables are still created, but the names are silently truncated (maybe that's sql alchemy?)

But t

[2022-04-22 20:14] wingechr commented on #952
i created a test and fix, but I accidentally committed directly to develop instead of the branch https://github.com/OpenEnergyPlatform/oeplatform/tree/bugfix/table-name-length-952 i wanted to (2 commits)

[2022-04-26 11:23] jh-RLI commented on #801
I am also interested in how the framework, scenario and model factsheets will be proceeded with. I am not sure to what extent the study factsheets will replace the other factsheets? Should work continue to be invested there or will they be obsolete in the near future? @han-f @Ludee @adelmemariani @wingechr

[2022-04-26 12:23] jh-RLI opened #957 "GitHub Dependabot alerts"
@adelmemariani
I just noticed that github shows this:
https://github.com/OpenEnergyPlatform/oeplatform/security/dependabot

Do you see any problems here? Could you run a NPM audit?

[2022-04-26 14:10] #879 closed

[2022-04-26 14:10] #939 closed

[2022-04-26 14:22] #777 closed

[2022-04-26 14:22] #778 closed

[2022-04-26 14:22] #825 closed

[2022-04-26 14:22] #901 closed

[2022-04-26 14:32] #817 closed, assigned to wingechr

[2022-04-26 14:32] #944 closed

[2022-04-26 14:57] jh-RLI commented on #918
@wingechr can you say something about how you did it?

[2022-04-26 15:07] wingechr commented on #918
I closed the ticket because for me, deletion of tables worked and the error could not be reproduced.

[2022-04-27 08:55] wingechr opened #964 "auto correct unclosed tags in markdown2html from raw html"

[2022-04-27 09:28] wingechr commented on #964
maybe like this:

[code]

[2022-04-27 10:10] #907 closed

[2022-04-27 10:10] #912 closed

[2022-04-27 10:48] jh-RLI opened #965 "Improve usability of tags when using the data filters"
- Show the currently selected Tags (regarding data filters):
I think it would be useful to show the currently selected tags in addition to the checkmark that is shown in the "big" tag list:
![image](https://user-images.githubusercontent.com/38939526/165496694-61e5da76-eae5-4bf5-9659-e93077c2d14b.png)

- We should consider changing the presentation of tags.
  - @Ludee suggested introducing categori

[2022-04-27 10:56] jh-RLI opened #966 "Discussion how data filters using tags should work?"
Would it be good if the user always gets all tables displayed that contain the selected tag(s). So no "and" but an "or" filter for tags. This would allow searching for multiple tags at once, but also return many more results. The tags search could then be explicit again via the combination with the text search. (Just an idea, in general it makes sense that the user gets the result that is expected

[2022-04-27 11:14] jh-RLI opened #967 "The readme does not mention docker to install/run the OEP-DB and OEP-Website"

[2022-04-29 08:13] han-f commented on #966
I think it would be great if the user could choose whether to combine the tags as "and" or "or".
I had one search the other day where I needed "or" but wasn't able to get it. On another day I may prefer to have tags combined with "and".

[2022-04-29 08:19] wingechr commented on #965
* I agree. even with categories, it does not scale well with many tags.
* dropdowns are the way to go. i have some experience with bootstrap-select and can recommend it. especially because it has a simple but powerful builtin search box.

[2022-04-29 08:23] han-f commented on #900
Hi @jh-RLI  - many thanks and I think lots is already on the way thanks to @wingechr that may be included in the May release. So we can work it out as we go along and as the implementation proceeds. Happy to see things are moving forward.

[2022-04-29 08:40] han-f commented on #966
I think I recall a situation where I tried free text and tags to filter for something and it did not work the way I expected it to. Using only the tags did also not work as I needed free text.
Maybe the AND for tags is fine, but the free text may need to be adjusted or explained?

Here is my example (free text for 2021 or 2019 combined with tag: emission-projection, not visible, as on the bottom o

[2022-04-29 14:09] wingechr opened #969 "keywords in metadata editor do not generate tags"

[2022-04-29 23:17] pajot commented on #918
Thanks for the reply, but you still haven't really answered my question. Did you do this on the OEP in a bare repo, or on the production server?

[2022-05-01 10:43] wingechr commented on #918
not the production server, i have no access to that

[2022-05-04 11:38] wingechr opened #970 "remove unused code"
@Ludee @jh-RLI @adelmemariani: please comment/add

* [ ] scenario factsheets (disable)
* [x] literature
* [x] tags table in django database
* [ ] right box with "If you find bugs or if you have ..."
* [ ] remove outdated meta editor widget from dataview

[2022-05-06 09:07] Ludee opened #971 "Create subpages for all reseach projects"
- [ ] Create empty pages for each project (template?) @
- [ ] Fill pages with content and images @mjazimm
- [ ] Review and publish pages @Ludee

[2022-05-09 10:24] jh-RLI commented on #971
I can start implementing the template structure and the other necessary steps. Can you @Ludee  tell me a little more about how the user gets to these pages? Link on the landing page?

[2022-05-09 12:20] Ludee commented on #971
The seven `project pages` will be linked on the "about overview" page.
I would not add them to the navigation bar.

[2022-05-09 13:06] Ludee commented on #971
Each project page should have the following structure:

* **General** project description
* **Tasks** on the OEP development
* **Partners**
* **Funding**

+ logo
+ full title + acronym

[2022-05-11 11:13] wingechr opened #972 "adding tags with umlauts end up with truncated keywords"
i.e. adding `Öko-Institute` adds keyword `ko_institute`

[2022-05-18 09:56] Ludee commented on #910
We can discuss and draft the updates in this issue @han-f

[2022-05-18 09:57] han-f commented on #801
From SIROP Jour Fixe 2022-05-18: I will start drafting a new overview text now based on our current status and share it here for review.

@Ludee - when would you need this to be done to be included not in the upcoming but the release thereafter?

cc @stap-m, @l-emele

[2022-05-18 10:00] han-f commented on #801
related also to #853

[2022-05-18 12:34] jh-RLI commented on #972
also noticed this: i think in the first place it is related to the [regex when normalizing the tag name](https://github.com/OpenEnergyPlatform/oeplatform/blob/dd22a23dc061eeea8d280b82274d04854bb341f3/dataedit/structures.py#L54), and also it  might be that I mixed something up and now a new tag is created using the normalized name as tag name.

[2022-05-20 06:39] han-f commented on #801
Here is a suggested updated text for the overview page. Also I support the suggestion from #853 to rename the link in the drop-down to: _About Factsheets_

Please note: when this text is put online, the current Study Factsheet alpha link in the drop-down should already have been removed.

Text draft for overview page:

The Open Energy Platform hosts a series of factsheets – currently we offer [mod

[2022-05-20 06:45] han-f opened #973 "Introductory texts on overview pages"
In  #853 and #801 we identified the need to have some introductory text also on the factsheet pages themselves, I will draft text here that can be implemented once agreed.

cc @stap-m , @l-emele

Page list:
- [ ] Factsheets Overview #801 #853
- [ ] MFS #853
- [x] FFS #853
- [ ] SFS #853
- [ ] Schemas Page #746  #846 #850
- [x] Tutorials
- [x] 404 #385

[2022-05-20 07:00] stap-m commented on #801
Reads good!

[2022-05-20 08:00] wingechr commented on #972
yea, the keyword are the normalized names, which they should not

[2022-05-20 08:57] jh-RLI commented on #972
I will fix this soon.

[2022-05-20 08:59] jh-RLI commented on #971
I have implemented this using a JSON That contains the fields you suggested. Projects can be added by adding a new json file to the static folder in the base App. Django then generates a page for each project using the json content.  I will add a more detailed documentation to the read the docs and link it here.

[2022-05-20 13:39] l-emele commented on #801
Reads already good. Some suggestion for improvement, as from an outside view it is not clear whether _their format_ means the format of the scenario factsheets or the projection data.

Specifically, our current [scenario factsheets](https://openenergy-platform.org/factsheets/scenarios/) provide some dedicated information about specific scenarios for which [projection data](https://openenergy-platf

[2022-05-20 15:04] jh-RLI commented on #972
@wingechr  The problem is that through the regex the normalized name of the tags with umlauts can occur twice e.g. `Öko `becomes `ko `and `Üko` also becomes `ko`. Im not suer what the best solution for this would be, we could check for [these ](https://stackoverflow.com/questions/22017723/regex-for-umlaut) at least and try to make umlauts lowercase. Generally, the problem is fixed by d80d64df6a5b2

[2022-05-20 15:26] jh-RLI commented on #971
the JSON for example would look like this:
[code]

i think i have to change the partners field to list.

[2022-05-23 06:15] han-f commented on #910
See the issue we already had open specifically on the factsheet overview: #801
Please check the draft text there.

[2022-05-23 08:22] han-f commented on #801
Thanks for the feedback @l-emele. I ilke your adjustment wrt to the format.

The updated text could thus read:

The Open Energy Platform hosts a series of factsheets – currently we offer [model factsheets](https://openenergy-platform.org/factsheets/models/), [framework factsheets](https://openenergy-platform.org/factsheets/frameworks/) and [scenario factsheets](https://openenergy-platform.org/fact

[2022-05-23 12:03] pajot commented on #943
This is an excellent idea. Having to define a table first without any helper tools is a show-stopper for most users.

What do we have to do to make this happen?

[2022-05-23 13:46] jh-RLI commented on #970
Also the metadata widget (display metadata under the table - in dataedit) has some deprecated lines of code. For example, since we have the new metaedit, [the "old" metadata editing](https://github.com/OpenEnergyPlatform/oeplatform/blob/dd22a23dc061eeea8d280b82274d04854bb341f3/dataedit/metadata/widget.py#L171-L306) implemented in the widget is no longer used.

[2022-05-24 15:16] jh-RLI opened #977 "Logos in base/static/logos should be more organized"
Currently, all logos (partner+project logos) are stored together in the `static/logos` directory. Introduce two sub-dirs. called `partern` and `project` .

[2022-05-24 16:23] jh-RLI commented on #899
@adelmemariani Can this issue be closed it looks like you finished your work regarding this?

[2022-05-31 10:08] jh-RLI commented on #832
To fix this the filter must be implemented via AXAJ call to the django backend. This way a request can already be sent to the backend during the input, which in turn can already return a result. This way the page does not have to be reloaded (click on the apply filter button).  So far, I implemented a search dropdown plugin that solves the problem that there are to many tags rendered in the sideba

[2022-06-01 11:22] jh-RLI commented on #977
@adelmemariani include `python manage.py collectstatic` command in release pipeline

[2022-06-01 11:38] jh-RLI opened #981 "Exclude link to Study Factsheets from navigation bar"
Remove the link to the `Study Factsheets (alpha)`.
They can be found in the text #801 with a description.

[2022-06-01 11:38] han-f commented on #737
@jh-RLI, thanks - I think it would read like this:

Openly licensed data relevant in the field of climate and energy research can be published and accessed here. Especially energy system modelling data and scenarios can be found, along with further information on the underlying models, frameworks and studies.

[2022-06-01 21:00] Ludee commented on #737
I also fixed some broken links and added some text for the OEO.
In addition I moved the images.
Feel free to comment and improve.

[2022-06-01 21:52] Ludee commented on #801
While grouping it in paragraphs I did some editing to the text.
Thanks for the great work @han-f
This is a great improvement to the page!

[2022-06-02 07:37] wingechr commented on #837
I created a branch to show how this can be done (188cabe27bb3ba4bee14985624162ce8a130ee6a)

Not sure, if this will be merged in the main platform, will have to discuss in dev meeting

[2022-06-02 07:56] wingechr commented on #834
mh.. that did not happen to me. @pajot could you please note the exact steps to reproduce?

[2022-06-02 09:43] Ludee commented on #971
You did not use the issue number in the commit message so the changes are not shown here. What is the status @mjazimm ?

[2022-06-03 11:13] jh-RLI opened #989 "Preparation for upcoming patch(hotfix) release 0.10.1"
- run `python manage,py collectstatic` on production @adelmemariani
- omi package version was updated -> reinstall requirements in production environment @adelmemariani
- resolve possible merge conflicts in #982 and #974
- Check if correct OEF logo is displayed on the about page (https://github.com/OpenEnergyPlatform/oeplatform/issues/737#issuecomment-810868874 )
- ....

**Post Release:** Check if

[2022-06-03 13:00] jh-RLI commented on #815
The metadata widget now shows the new timeseries list:
![image](https://user-images.githubusercontent.com/38939526/171858549-577b26da-90c8-4807-8c46-b49d71bb68ba.png)

It can also show the is_about and value_reference as well as "@context" "@id" fields at the very bottom of the widget:
![image](https://user-images.githubusercontent.com/38939526/171858834-d048658f-d9b7-4cea-8922-12c5e8369e4f.png)

[2022-06-03 13:03] jh-RLI commented on #815
@Ludee are you okay with the widget as it is now? If you want any changes let me now here I will try to implement them. Regarding the order of the keys, I will not be able to change this within this release.

[2022-06-03 14:17] jh-RLI opened #990 "Partner logos missing"
@Ludee  I was not able to find the partner logos for
- RWTH Aachen
- Technical University of Denmark
- TU Berlin
- TU München

[2022-06-07 08:57] #801 closed

[2022-06-07 10:20] #981 closed

[2022-06-07 10:38] #945 closed

[2022-06-07 11:19] Ludee commented on #971
I did some changes in the content and added `start` and `end`.
The side looks good for a first version. We will update and enhance in the future.
Please only remove the acronym from the title, since it is already included in the beginning.

[2022-06-07 11:25] Ludee commented on #990
They are all from the **open_MODEX** project. I will have a look at the project folder and add the missing logos.

[2022-06-07 12:43] #972 closed

[2022-06-07 12:55] #857 closed

[2022-06-07 12:55] #965 closed

[2022-06-07 14:24] #989 closed, assigned to wingechr, adelmemariani, Ludee, jh-RLI

[2022-06-07 14:33] jh-RLI commented on #858
This was not closed by the linked PR (the PR was linked because it implements related code). The table tagging will be improved with the next release

[2022-06-07 16:31] adelmemariani commented on #886
Yes, the factsheets can be downloadable as JSON and PDF files (or CSV if needed). However, the full functionality of factsheets belongs to the future work packages - according to our updated timeline. I will keep this requirement in mind. Also, the new (not finished yet) RDF-based factsheets are not only downloadable but also 'shareable' in the sense that we can export a factsheet, send it by emai

[2022-06-07 16:46] wingechr commented on #904
should be fixed now with the new  tutorial markdown features

[2022-06-07 16:46] #904 closed

[2022-06-09 13:11] wingechr opened #996 "replace DBTable.objects.get_or_create with DBTable.objects.get"
@MGlauer Is there a reason we use `DBTable.objects.get_or_create()` (and `Table.objects.get_or_create()`) in almost all occasions  instead of just `get()`?
I think this is the cause for the creation of table artefacts in the django database when non existing tables are referenced.
I would like to change it but I am sure there was a reason that I haven't figured out yet :-)

[2022-06-10 20:10] #964 closed

[2022-06-10 21:00] #996 closed

[2022-06-11 10:13] wingechr commented on #807
closed with 9a22ceb5074a0bb0ab71852d20fe31d6cfac2e95

[2022-06-11 10:13] #807 closed

[2022-06-13 15:16] jh-RLI commented on #812
I agree with you. The column description widget also looks better. But we would also need to show the OEO related keys "is_about" and "value_reference" provided for each column. We could add them to the column description widget.

[2022-06-13 18:06] Ludee commented on #858
I tested the new feature and it is a great improvement! Thanks for the brilliant idea and implementation.
Now it would be cool to use the colors/grouping with this. Is it possible?

[2022-06-13 18:12] Ludee commented on #973
Thanks for pointing out this very important issue!
I scanned the older issues and there are more pages that need an introduction text.
I will extend this issue and set links.

[2022-06-13 18:17] Ludee commented on #784
This has been fixed with #983

[2022-06-13 18:17] #784 closed

[2022-06-13 18:33] Ludee commented on #912
It's finally live @FlorianK13

[2022-06-13 18:36] Ludee opened #997 "Broken link in `About OEP` page"
The link on the first image is not closed.

[2022-06-13 19:07] wingechr commented on #858
groups should be easy: https://developer.snapappointments.com/bootstrap-select/examples/

![grafik](https://user-images.githubusercontent.com/4265368/173426431-3d83e2ae-edfa-4aab-a69e-f2b1d0a0e65d.png)

colors are a bit more tricky:

* you can't really but colored boxes inside an<option>tag
* using styles to color the entire background/text looks very ugly and confusing (but MAYBE can be done with

[2022-06-13 22:00] jh-RLI commented on #858
Regarding the colors, we can try to simply display a dot or another small indicator with the color next to the text.

[2022-06-14 08:40] Ludee opened #1000 "Major restructuring of backend features"
At the project meeting we discussed some major developments to keep up with the growing use of the platform.

- [ ] Remove schemas in database backend
- [x] Move metadata from `comment on table` to a dedicated `metadata table`.
- [ ] Implement versioning with revisions

[2022-06-15 12:44] jh-RLI opened #1001 "Outdated link to developer documentation (read the docs)"
The developer documentation linked in the header bar "About"->"Developer Documentation" is outdated as we decided to rename the ReadTheDcos Project to oeplatform.

- [ ] Update the link to RTD

[2022-06-15 13:42] jh-RLI opened #1002 "MetaEdit does not provide a meaningful error message if the submit operation fails"
When creating or editing metadata on the OEP website, we use the metaEdit. The metadata is then sent to the OEDB via the API. On the server side, omi is used to validate the metadata. Currently, we support metadata validation for versions 1.4 - 1.5.1. When an error occurs, the metaedit only displays a modal window with "Bad request", which does not help the user to fix the error.

Omi provides rea

[2022-06-15 13:45] jh-RLI commented on #1002
If you want to check your metadata using omi.
test oemetadata by using the omi cli for example:
[code]

[2022-06-15 15:35] #997 closed

[2022-06-15 18:35] jh-RLI commented on #858
@wingechr I just found out about the Custom Content option.
[code]

https://developer.snapappointments.com/bootstrap-select/examples/#customize-options

[2022-06-15 20:49] jh-RLI commented on #880
The Column description widget needs some extra configuration to be able to show the column description generated from the oem v1.5.1 resources field.

[2022-06-15 21:39] #880 closed

[2022-06-15 21:40] jh-RLI commented on #815
I move the update tutorials issue to the tutorials repo.

[2022-06-15 21:41] #815 closed

[2022-06-16 14:40] jh-RLI commented on #858
The solution I described above seems to work very well. Please test this with more tags. I linked the PR.
![image](https://user-images.githubusercontent.com/38939526/174095092-777ae97c-5bda-4f00-a615-220aac997a9e.png)

[2022-06-20 08:43] jh-RLI opened #1005 "New project pages linked in "About" need a better/responsive layout"
We introduced the new project pages feature in the latest release. The feature was release with a very basic UI whitch needs some improvements. The main goal is to keep the elements for Title and Logo in place when using different screen size. Also the paratner logos should be aligned horizontal.

[2022-06-20 09:07] jh-RLI commented on #496
@wingechr @Ludee @chrwm @steull
We should create dummy data that can be added to the fresh OEDB install. I would also like to integrate this into the docker container.

Lets collect some usefull data together.
- [ ] timeseries
- [ ] scalars
- [ ] text
- [ ] geo data

I have already created [some test data](https://github.com/OpenEnergyPlatform/oedatamodel/tree/develop/examples) for the oedatamodel

[2022-06-20 09:35] chrwm commented on #496
I could add some additional rows with additional technological parameters (to not only have installed capacity). The same goes for timeseries.csv. Let me know if you think it's not necessary.

[2022-06-20 09:54] jh-RLI commented on #496
Very nice :) I can create a script to create the tables via the API on the local development version of the OEP and then upload the data. I will also help with creating the test data. Perhaps @steull can also help create the test data and create the metadata once the test datasets are available? This data/tables could also be used to test the review process (I think).

I think it is enough to crea

[2022-06-20 10:48] jh-RLI commented on #496
To complete this for our use case, we should try to add data that matches the schemas/data categories on the OEP (which could result in different data sets for each schema). This is also helpful when we use the data to test the review process, and provides good examples of what data to expect (for developers).

[2022-06-20 19:08] Ludee commented on #496
These are suitable for testing:

- [model_draft.oep_metadata_table_example_v151](https://openenergy-platform.org/dataedit/view/model_draft/oep_metadata_table_example_v151)
- [boundaries.bkg_vg250_1_sta](https://openenergy-platform.org/dataedit/view/boundaries/bkg_vg250_1_sta)

[2022-06-24 12:29] jh-RLI commented on #858
@Ludee
The tag color feature is now implemented along with some other improvements. We should now add the grouping.
Do we already have a complete list of categorized tags? Or at least a list of categories?
We will need to create another migration script that adds the categories to the current tags. And we need to add the category column to the table model and to the tag creation/editing form.

[2022-06-27 10:19] jh-RLI commented on #693
This was reworked in the latest release v0.10.1.

[2022-06-27 10:19] #693 closed

[2022-06-27 11:39] jh-RLI commented on #678
I included the suggested text from above a long time ago. Somehow the changes didn't make it into the production OEP. Now I've done so again, along with some other user interface improvements. The section heading is now "Search & Filter" instead of "Filter". There are also different descriptions displayed in the new popover for the schema and table list views.
![image](https://user-images.githubus

[2022-06-27 14:33] jh-RLI commented on #884
@Ludee I think this is also about making the human readable field/column names from the metadata visible in the displayed table on the OEP "close" to the actual "technical" column names. I imagine that I'm looking at a table and when I look at a column heading, I can directly see the associated column description without scrolling down to the metadata part. This would improve the user experience.

[2022-06-27 15:32] jh-RLI commented on #678
To make it clearer, I have added another sentence that is only displayed on the schema list page. It reads:
_To see all available schemas and tables again use the reset filter button._
Not sure if this will make a big difference but i feel like it should be mentioned. @han-f

[2022-06-27 15:49] jh-RLI commented on #678
We will have to change this text again once we decide how to name the renaming schemes (data catalog ...). I will create another issue to keep this in mind.

[2022-06-28 09:47] han-f opened #1009 "Change first heading in tutorial section"
Each tutorial header starts with: _Tutorial: ###_ (example below)
As I am already in the tutorial section this may not be necessary and we can display only the title of the tutorial itself.

![grafik](https://user-images.githubusercontent.com/36844029/176148651-d56eb7d0-abac-4968-baa1-91922d85834c.png)

[2022-06-28 09:49] han-f commented on #1009
and some of the tutorials have permalinks (like the one above) and some do not. Should we harmonise this? Is it only the jupyter notebook tutorials that have this permalink?

cc @jh-RLI

[2022-06-28 11:06] han-f opened #1010 "Add "capacity building module" to drop-down menu in tutorials"
We want to add this specific category to the drop-down menu in the tutorial editor, so all capacity building modules can be displayed on a separate section on the tutorial page (#826).

cc @jh-RLI

[2022-06-28 19:40] jh-RLI commented on #1009
Yes, we should harmonize this. Also, your guess is correct, this was implemented only for the Jupyter-based tutorials.

[2022-06-30 09:24] Ludee opened #1011 "Use the contact form as a first contact point for all family members"
Since the GitHub teams are not visible to people who are not part of the organisation.
This issue has been opened in the OEO, see #https://github.com/OpenEnergyPlatform/ontology/issues/1229

My suggestion is to add a new **Category** to the form named: _Join development_
It should include a template of needed information:

- Provide the GitHub Handle
- What family member you want to develop (OEP,

[2022-06-30 10:20] l-emele opened #1012 "Add OEO in the contact form"
In the OEO-DEV-40 we decided to use the [**contact form**](https://openenergy-platform.org/contact/) of the OEP for people to join the community.

_Originally posted by @Ludee in https://github.com/OpenEnergyPlatform/ontology/issues/1229#issuecomment-1170981178_

[2022-06-30 10:21] l-emele commented on #1012
Sorry, duplicate issue to #1011 and I thus will close this.

[2022-06-30 10:21] #1012 closed

[2022-06-30 12:17] #858 closed

[2022-06-30 12:42] #842 closed

[2022-06-30 12:52] jh-RLI opened #1013 "Update info text that mention schemas as soon as schemas are renamed"
This topic is not relevant ATM. It is to remind developers to change this later, after other changes are implemented.
- Updating the popver content currently in the sidebar of the schema and table list (Search&Filter i ) -> could be moved over the schema list or the table list soon.

[2022-06-30 13:00] #957 closed

[2022-06-30 14:41] wingechr commented on #641
the wizard will be redesigned

[2022-06-30 14:41] #641 closed

[2022-06-30 15:11] #296 closed

[2022-06-30 15:26] jh-RLI commented on #149
@Ludee @wingechr I just found out that manual editing of table fields has been discontinued in favor of existing api functionality. Now it's also clear why the feature is no longer available :)

[2022-06-30 15:32] jh-RLI commented on #456
@Ludee @wingechr Interesting issue, the linked issues also provide a good idea of what happened to the "edit table" function. My understanding is that editing is possible via the API and it was not entirely clear how to proceed with the UI to edit a table. So it was removed and suggested to implement it again later. What do you think about this?

[2022-07-04 08:42] Ludee opened #1014 "Displaying of special characters in tables"
Looking at [this table](https://openenergy-platform.org/dataedit/view/reference/rli_lodgeoss_energy_database_review) it looks like the OEP cannot display certain special characters.

It includes
- ²
- °
- apostrophes (è, É ....)

[2022-07-05 06:58] wingechr commented on #1014
I don't think that this is true. if you look at the data directly as json (https://openenergy-platform.org/api/v0/schema/reference/tables/rli_lodgeoss_energy_database_review/rows/), it shows that the invalid characters are in the data itself, i.e. the uploader messed up with character encoding.

I also tested it locally and inserted unicode, and is displays properly:

![grafik](https://user-images

[2022-07-05 07:22] wingechr commented on #456
it is possible with the API, **BUT...**

there is a very big underlying problem:

updating rows only works if the table has a numerical  `id` column as primary key.
But this is not being enforced (you can create tables without that), see also #739

This should be addressed first before we enable anything on the UI, because it will just cause more confusion and problems.

[2022-07-05 07:35] wingechr commented on #503
i hope with the planned changes to the main pages, we can fix most problems for small screens/mobile. but this issue can be closed IMO.

[2022-07-05 10:58] jh-RLI opened #1016 "Move the search and filter sidebar on top of schema/table listings"
@wingechr @Ludee
As we discussed in a recent project meeting, we want to change the layout of the schema and table list pages. I am currently working on revising the table list in this branch: `feature/Improve_data_table_ui`. The screenshot below shows the current progress and how we might move the sidebar. I would advocate making the table cards scrollable within the blue box. The red box is wher

[2022-07-05 11:26] #503 closed

[2022-07-13 06:13] #814 closed

[2022-07-13 06:19] wingechr commented on #1010
@han-f Maybe we should not call them "capacity building" on the OPE, but instead maybe "Introduction" or "Overview"?
Seems like the term "capacity building" might need more explanation or could be confusing on it's own.

[2022-07-13 07:28] han-f commented on #1010
@wingechr  - I am also fine with another term. I think this drop-down would only be visible in the tutorial editor, to guide the choice and be indicator that tutorials with this category will be shown on top of the page.
How about "Training Course"? If we do not want to use the term "capacity building", we would also need to consider a new header title for that separate section, as the use of the

[2022-07-18 14:16] jh-RLI opened #1017 "Automated ontological annotation in metadata"
A new feature that extends the MetaEdit. It should be possible to enter the OEO values into the metadata fields is_about and value_refenece in a user-friendly way. Often the same information has to be re-entered in different tables or columns.
So it should be possible to search the OEO terms in the metaeditor and then enter the result into a field. In addition, recurring terms should be entered au

[2022-07-20 11:48] chrwm commented on #1002
I ran into the same issue that the metaedit only showed me "Bad request" when trying to update some metadata. Your second comment helped to fix it. Thank you!

[2022-07-23 14:21] areleu opened #1018 "Datapackage and frictionless-py"
Hello,

I wanted to point out that currently the datapackages one gets from the "Download Datapackage" are not easily parsed out of the box. I don't know if using something like frictionless to read them is intended but if that is the case I think some changes have to be made to the metadata in order for it to work out of the box.

I use the following file as an example: [wind_turbine_domestic_lod

[2022-07-25 06:40] wingechr commented on #1018
Yea, good point. Currently, this was just a basic way to get data + metadata, but yes, eventually it should be fully compatible with frictionless.

I assign myself for now, but it might take a while, because there are other things with higher priority.

[2022-07-28 14:16] jh-RLI opened #1021 "Documentation on how to use conversion is missing in RTD and Readme"
The new conversion feature has to be documented.

[2022-07-28 14:16] #1021 closed

[2022-08-01 11:46] jh-RLI commented on #1016
in #942 I implemented this. It currently looks like this:
![image](https://user-images.githubusercontent.com/38939526/182141160-14f8ecc7-6c39-4ef0-b1a4-dba70424967c.png)

[2022-08-03 09:24] Ludee commented on #1014
Thanks @wingechr for testing and solving!
Since I was the uploader I need to check at which point the error occurred.
I will keep this issue open since this information needs to be documented somewhere.

[2022-08-03 13:16] jh-RLI commented on #1017
The dbpedia has already published a tool that is able to query the OEO and provide results. It is based on Java and fully containerized with Docker:[ see the architecture for more details.](https://github.com/dbpedia/dbpedia-lookup#architecture)

[2022-08-04 11:20] jh-RLI commented on #852
This is fixed by ea270f485a6db28ae5913164bb0ca3720ee24f7c . The Update will be available with Release v0.10.2.

[2022-08-04 11:20] #852 closed

[2022-08-04 12:43] jh-RLI commented on #1000
### Save metadata in a separate table:

I would be in favor of keeping the comment on table as the entry point for adding/editing/deleting the tables metadata. From there, the metadata will always be saved/updated/deleted as JSONB in the new metadata table on add/edit/delete actions when using the MetaEdit.
This would have the advantage that we don't have to touch the previous functionality and th

[2022-08-05 12:38] wingechr commented on #1000
I don't mind doing it this way (add it as comment first). reduces the chance of breaking things

[2022-08-10 12:02] wingechr commented on #670
I am closing this issue. it's old and there was no consensus on the issue if the feature should be removed or not.

re-open if needed

[2022-08-10 12:02] #670 closed

[2022-08-10 12:05] #747 closed

[2022-08-10 12:07] wingechr commented on #748
wizard will be overhauled

[2022-08-10 12:07] #748 closed

[2022-08-11 12:20] jh-RLI opened #1027 "Update to bootstrap 5"
It would be nice to update from bootstrap 4 to 5.

We would have to upgrade the PyPi package `django-bootstrap4` to https://pypi.org/project/django-bootstrap5/
and also review all bootstrap related code and files: https://github.com/OpenEnergyPlatform/oeplatform/search?q=bootstrap

[2022-08-11 13:55] wingechr commented on #1027
I would be careful with that. there is a lot of breaking changes between 4 and 5, so that would mean a lot of changes in the templates

[2022-08-11 15:40] jh-RLI commented on #1027
Okay good to know. @bmlancien asked if this would be possible.

[2022-08-11 16:07] bmlancien commented on #1027
If it is too difficult to update to the new version, we can also leave it that way, no problem. I will work with that version.

[2022-08-12 05:40] wingechr commented on #1027
I mean I am not against it (and having the latest version is a good idea).
If we check with https://getbootstrap.com/docs/5.0/migration/ and go through all the items marked *breaking* and then look for all occurrances in the templates, do you guys think it's worth it?

[2022-08-12 07:48] wingechr opened #1028 "overview tutorials: improve navigation"
* auto correct duplicate ids in raw html
* add to top navigation

[2022-08-12 11:53] wingechr commented on #1028
fixed in dfa6edf4

[2022-08-12 11:53] #1028 closed

[2022-08-12 15:01] wingechr commented on #832
I thought some more about his. in principle, it would not be so difficult.

However, the downside would be, that tag filters are no longer part of the URL (because you cannot change the URL without reloading the page).

Being able to have an URL that filters tables via tags is a nice feature (for instance to share with other people) and I think it would be nice to keep it.

Any thoughts?

[2022-08-15 05:59] han-f commented on #832
From a users point of you I am very much in favor to keep the tags as part of the URL. I have already used that feature, for example [here](https://www.oeko.de/publikationen/p-details/klimaschutzszenario-2050-2-endbericht )

I also used a c[ombination of tags](https://openenergy-platform.org/dataedit/view/scenario?query=&tags=271&tags=272) in URLs to share. When revisiting this, I see it is now br

[2022-08-15 18:02] bmlancien commented on #1027
I think it is always worth migrating to the newest version because that helps keeping it up-to-date with the current state of Bootstrap. It will be some work to do but also I don't think it's something impossible. I can open a new branch and start working on that. Obviously, something important would be to check and test everything at the end of the migration.

[2022-08-16 09:32] bmlancien opened #1036 "Update home page layout"
There are a few things that could make the page more readable:

- Increase main title font-size
- Increase body font-size (now it might be too small for some readers)
- Increase DB, FS, Ontology and tutorials boxes as well as features sizes

It shouldn't take too much time to do it. Since it's the main door to the website, I think it's important to keep it visually understandable.

_Optional:_ Mak

[2022-08-18 06:27] wingechr commented on #1027
ok, then let's do it.

[2022-08-19 09:52] steull commented on #873
Hover over the 'i' on each field, a description and two to three examples might also be helpful. For this, divide the 'i' in these two aspects is an addition to the example values which appear in grey.

[2022-08-19 15:17] jh-RLI commented on #844
The documentation was renamed to "Developer Documentation" and is in an option of "About". We also updated the readthedocs project to a new project name "openenergyplatform" and rebuild the latest  state, so it should be a bit more readable to the developer. In general there is still a lot of documentation missing.

[2022-08-19 15:18] #844 closed

[2022-08-19 16:02] jh-RLI commented on #303
I think this is about [this section](https://oep-data-interface.readthedocs.io/en/latest/api/advanced.html). (scroll down to just before the "Joins" section)
![image](https://user-images.githubusercontent.com/38939526/185657775-c66d0b5f-ac71-4c8e-bc7f-1332c0012839.png)

I think we can fix this as indicated in the [postgis documentation](https://postgis.net/docs/ST_AsGeoJSON.html) by adding this tr

[2022-08-19 16:05] jh-RLI commented on #753
There was a newish decision in the developer meeting. We want to keep the developer documentation as it also includes some tests, and still helpful source of information.
I created a new Project ["oeplatform"](https://oeplatform.readthedocs.io/en/latest/?badge=latest) on ReadTheDocs to be able to build the documentation. But we would have to restructure it and then provide at least some headlines

[2022-08-19 16:14] jh-RLI commented on #753
@han-f I can update the year and the project name (or just rename it to oeplatform) in the footer (see your screenshot above).

[2022-08-19 16:41] jh-RLI commented on #1036
@bmlancien
I think that would be a good idea. The area is currently generally not Prio1 but since the task fits very well to your skills I would be in favor of implementing your ideas.
I just came across some old Issue with some more detailed ideas by you :) https://github.com/OpenEnergyPlatform/oeplatform/issues/603

I would also be in favor of at least making the landing page responsive. As far

[2022-08-19 16:42] jh-RLI commented on #603
@bmlancien is this still useful? Or do you want to bring up new ideas? Please close this issue if the second is the case.

[2022-08-19 16:55] jh-RLI commented on #834
@pajot could you please check if this is this reproducible on your side? I also wasn't able to trigger the described bug, but heard from others that they also experienced similar behavior.

[2022-08-19 18:15] bmlancien commented on #1036
@jh-RLI Oh, quite an old issue :)
I guess it only works with cookies. But I don't think we would need to collect data only for knowing how many people are using mobile devices on the OEP landing page. It was just in case you had the data available. I think it's best practice doing responsive in any case.

[2022-08-19 18:16] bmlancien commented on #603
Please keep it now. I will use it and maybe bring new ideas too. Thanks!

[2022-08-23 06:25] wingechr commented on #456
@jh-RLI actually, this issue is not closed by the mentioned pull request(the id column is just one part of it)

[2022-08-23 07:38] wingechr commented on #303
in theory, you should be able to nest the functions like this, but i have not tested it:

[code]

[2022-08-23 07:55] jh-RLI commented on #456
Yea that's true I just wanted to link it and GitHub assumes it will close :/ I will just update the first comment and link the PR there.

[2022-08-23 09:58] jh-RLI commented on #1036
@bmlancien  Okay, then we'll slowly try to make all pages responsive but focus only on the homepage for now. :)

[2022-08-23 10:01] jh-RLI commented on #1027
@bmlancien have you started working on this yet? I think I saw some commits, could you create a PR and put it as a draft? It's better to make the work visible for everyone :)

[2022-08-23 10:18] jh-RLI commented on #303
Nice, thanks I will try it out.

[2022-08-23 10:52] jh-RLI commented on #832
I just checked and the tag is indeed no longer there, it must have been lost during the migration as it is no longer there locally on my end either. I was able to find it in a data dump that @Ludee provided me before the migration. @han-f  Can you maybe remember if it was this one:
`272,emission-projection,15987699,,20,2021-09-20 07:14:43.147334`

@wingechr
We may need to fix the migration and rea

[2022-08-23 11:08] wingechr commented on #832
i think we can ignore that. the tags itself are still there, the migration only changed some of the tag ids, and we will have to change the filter url.

[2022-08-23 11:47] bmlancien commented on #1027
Alright, I'll put it as a PR draft.

And I will try to add the issue number to the commits! :)

[2022-08-23 12:49] jh-RLI commented on #832
Ah I see.

@han-f the updated ID for that Tag should be 239 .

[2022-08-24 08:42] #739 closed

[2022-08-24 09:11] #785 closed

[2022-08-24 09:11] #970 closed

[2022-08-24 11:48] #832 closed

[2022-08-24 11:50] #969 closed

[2022-08-24 11:51] #1010 closed

[2022-08-24 11:51] #826 closed

[2022-08-24 11:53] #513 closed

[2022-08-24 12:47] jh-RLI opened #1042 "Test upcomming release v0.10.2 on TOEP"
Currently the upcomming release is about to be deployed on the TOEP.
Please test the changes (see CHANGELOG) and provide feedback if you notice bugs.
Please dont report bugs that are not related to the changes related to the release.

[2022-08-24 12:49] jh-RLI commented on #1042
@adelmemariani please tell us as soon as the TOEP release is done :)

[2022-08-24 13:10] jh-RLI opened #1043 "adding text to the URL for a schema name does not lead to the expected behavior"
Navigate to dataedit/schemas/schmea_name
and add to the url e.g. .../schmea_namesssss no error will be thrown.

![image](https://user-images.githubusercontent.com/38939526/186426940-0d1aae8f-1e88-406a-8933-86fb481dfa7e.png)

[2022-08-24 14:19] jh-RLI commented on #1042
No major bugs

[2022-08-24 14:19] #1042 closed

[2022-08-24 17:37] jh-RLI opened #1045 "Note Users (logged in or not) about permissions when attempting to add tags to a table"
Users that are not logged in or just dont have write permissions can still attempt to add a tag to a table. As they dont have permission to edit tags they should be notifyed about the missing permission. In case for the not logged in user they should be redirected to the login page.

[2022-08-25 12:15] wingechr opened #1047 "issues related with tutorials (meta)"
* [ ] #1009
* [ ] #805
* [ ] #806
* [ ] #762
* [ ] #900

[2022-08-25 13:29] wingechr opened #1048 "adding graph view with default=yes results in 500 error"
`django.core.exceptions.ValidationError: ['“on” value must be either True or False.']`

[2022-08-25 14:19] wingechr opened #1049 "map view with lon,lat does not work"

[2022-08-25 14:41] tillmo opened #1064 "allow the view to have a structure different from that of the model"
In terms of the model-view-controller paradigm, currently, the structure of the view closely follows that of the model. But there should be the possibility of having a view (i.e. input form) with structure different from that of the model (i.e. RDF graph). Example: when the user enters the length "1m", under the hood, several nodes and links will be generated in the RDF graph.
This might be relate

[2022-08-25 15:03] wingechr opened #1050 "js error when downloading data view with no data"

[2022-08-25 15:29] wingechr opened #1051 "test permission setting"

[2022-08-29 13:40] pajot commented on #834
After applying  feature/tag-filter-immediate-feedback-832, I tried creating another dummy account on our test server.

It no longer sends me to the "Create Account" page, but I see something similarly confusing:

_**DRY**
Your mail is already validated._

That might be something you've already corrected with a different commit. Remember, I've only applied the one feature branch (which you've since

[2022-08-29 19:55] jh-RLI commented on #834
🤔 okay, i will also try to reproduce. A screenshot would also help to get a better idea of your setting :)

[2022-08-30 18:03] #1027 closed

[2022-08-31 13:09] jh-RLI commented on #1051
@wingechr is this about testing permissions in general? I just noticed that granting admin permissions to a user actually (sometimes/always ??) does not grant permissions. I have been granted permissions to a table and tried to enter a new record into the table, but I get a 403 back. Also the response.text tells me that I do not have permission to perform this action. Did you also noticed somethin

[2022-09-01 06:19] wingechr commented on #1051
no,this was about the permissions page for the tables.

* i need to add checks if this is actually doing what it claims
* currently, you can accidentally remove yourself from the permissions, and then no one can edit them

[2022-09-02 10:49] adelmemariani commented on #1017
In OEP, we use the [ json-editor](https://github.com/json-editor/json-editor) to generate the form for the metaeditor. Indeed, the json-editor has built-in functionality for the ‘autocomplete’ inputs.

To have an ‘autocomplete’, we should change the config in the ’oep-website/dataedit/static/metaedit/schema.json’. The example below is about making an autocomplete textbox for the 'name' in the valu

[2022-09-05 15:09] jh-RLI opened #1052 "MetaEdit Standalone shows empty page"
After the last PR's were merged, there must have been an overwrite of the metaedit.js file. This leads to an erroneous metaedit standalone page.

- [ ] reintroduce lost code

[2022-09-06 10:19] jh-RLI opened #1054 "MetaEdit Standalone some fields are readonly and other minor bugs"
The standalone MetaEdit should allow the user to enter field names and types. They are read-only as they are automatically filled in if a table has already been created. Since no table is created when using the standalone version, the fields must be filled in by the user.

![image](https://user-images.githubusercontent.com/38939526/188610702-399fba0e-3d74-43c6-a709-5d166e485795.png)

Additionaly t

[2022-09-08 06:42] chrwm commented on #1017
For documentation purposes, a screenshot of the first implementation of the 2. drop-down menu in MetaEditor.

![grafik](https://user-images.githubusercontent.com/54852694/189052544-2c24f22e-f2aa-40d2-bd7b-81e80fd93d7f.png)

[2022-09-13 11:33] Ludee commented on #385
Also implement it in the error page (500.)

[2022-09-13 21:04] #385 closed

[2022-09-14 10:17] wingechr opened #1062 "enforce naming conventions for tables and columns"
see also https://github.com/OpenEnergyPlatform/oem2orm/issues/16

[2022-09-14 12:56] #1054 closed

[2022-09-14 12:59] jh-RLI commented on #1062
We once started collected naming convetions here: https://github.com/OpenEnergyPlatform/data-preprocessing/wiki#naming-conventions.
Perhaps it would be worth keeping a list of the checks that have been implemented in the OEP API?

[2022-09-15 19:11] adelmemariani opened #1063 "Integrate oekg-builder into the OEP repository"
Similar to the OEO-viewer, this tool is now integrated into the OEP repository (as a frontend of a Django app called 'factsheet'). Therefore, the code should be maintained in the OEP repository and this repository is going to be deleted in the future. In OEP, we only need to run the 'npm run build' command inside the 'front-end' folder of the 'factsheet' app. The compiled version of the front-end

[2022-09-16 13:57] adelmemariani commented on #1064
As the entities in the forms are retrieved from the knowledge graph, we make the relationships based on their IDs. For example: 'study factsheet' has_author 'Chris'. The following facts should be added to the KG:

![Screenshot 2022-09-16 at 15 52 55](https://user-images.githubusercontent.com/7637364/190656161-6727465f-c78e-4cd4-940f-a768e4763b0f.png)

[2022-09-18 13:07] wingechr commented on #1062
both tables and column names now must adhere to the regexp '^[a-z][a-z0-9_]{0,MAX_LEN-1}$', MAX_LEN currently being 50.

The length limit is a little shorter than the postgres restrictions (63 for tables, 59 for columns), because of the versioned tables that add suffices (like `_edit`) to the table names

[2022-09-18 21:42] jh-RLI commented on #341
We don't need the meta theme anymore. There will be a restructuring of the Databse/Dataedit pages, which is currently in the design phase. Related topics will be collected and managed via GitHub projects.

[2022-09-18 21:42] #341 closed

[2022-09-18 21:44] jh-RLI commented on #872
This is a good place to documents results on key importance (mandatory, optional).

[2022-09-18 21:48] jh-RLI commented on #669
The metasearch is updated when metadata is api.posted to a table. I am closing this issue for now. Please open it if you find that updated metadata is still not included in search results.

[2022-09-18 21:48] #669 closed

[2022-09-18 22:17] jh-RLI commented on #634
Overlap with #685 (keep 685 as UI discussion is more relevant) Metadata under v1.4 is no longer supported. Automatic conversion of an early OEM version to the latest is being considered and will be implemented.

[2022-09-18 22:17] #634 closed

[2022-09-18 22:20] jh-RLI commented on #403
@Ludee @han-f still relevant? Has the table perhaps been deleted?

[2022-09-18 22:21] jh-RLI commented on #403
@Ludee In that case we use an empty table and add metadata (for now at least). Can you link the metadata?

[2022-09-19 06:02] wingechr commented on #669
just as a note for later: I think after the implementation of the metadata jsonb field and once the metadata standard is stable, we should do a review of all the existing metadata and update them all as best as possible to the latest standard.

By re-writing all the metadata, all the search fields and tags would be automatically updated as well

[2022-09-19 06:04] wingechr commented on #403
if it's not open data, it should not be on the oep, right?

[2022-09-19 10:31] jh-RLI opened #1066 "Migration of existing metadata after new metadata storage (JSONB column) has been implemented and oemetadata is stable."
After the implementation of the metadata jsonb field and once the metadata standard is stable, we should do a review of all the existing metadata and update them all as best as possible to the latest standard.

By re-writing all the metadata, all the search fields and tags would be automatically updated as well

[2022-09-20 12:17] chrwm opened #1068 "URI to download full OEO on OEP is hidden / not accessible"
When clicking to download the OEO in the owl format on the OEP (see picture) or [here](https://openenergy-platform.org/ontology/oeo), the link provides only an overview of OEO. Subsequent separate downloads have to be done to download the entire ontology.

![grafik](https://user-images.githubusercontent.com/54852694/191253138-4d0e5a3c-225f-4847-9c74-8500df3f1a80.png)

An ontology crawler only find

[2022-09-21 10:06] jh-RLI opened #1069 "adding tags to tables (which are not in model_draft) triggers http 403 forbidden"
When adding a tag (via the sidebar menu) to a table, e.g. [this one](https://openenergy-platform.org/dataedit/view/boundaries/bkg_gn250_b), an htttp 403 error is thrown. This was only reproducible for tables that are not in model_draft schema/topic. It seems that the permission check is too strict. We don't want to allow the user to upload data to a table in a specific schema (that is not model_dr

[2022-09-21 10:47] Ludee commented on #1069
We do not have a proper definition of all permissions and rules yet. This is always done case-by-case until now. This must be discussed in a larger group. Let's try to find a good place to document this and start with the current rules as a base for discussion and implementation.
I use the workaround to add the tags using the keys of the metadata for now.

[2022-09-21 16:39] jh-RLI commented on #1069
I will provide a list with the current permissions.

[2022-09-21 20:58] pajot opened #1070 "Schemas in the whitelist must exist for manage.py mirror operations to succeed"
When mirroring schemas that have been imported into the database using postgresql tools (e.g. psql), the schema must be entered into the whitelist. (This operation is necessary to make imported data visible on the front end.)

**If the whitelist contains schemas that do not exist in the database**, `python manage.py mirror` will throw cascading exceptions:

[code]

Instead, the operation should fa

[2022-09-22 08:26] Ludee commented on #1068
As discussed in the OEO-DEV-44 we need to redesign the page a bit.
We want to add a section on top with the link to the "full oeo".
Here we also add the links to `classes` and `viewer`

In addition the "oeo" file will be displayed under the section "oeo main"

[2022-09-22 09:07] l-emele commented on #1068
OEO dev 44:
The "most philosophic question" what is "true"
=> @fabianneuhaus  will have a look on this.

[2022-09-22 09:14] Ludee commented on #1068
I think this went in the wrong issue. copied to #1148

[2022-09-22 09:59] Ludee commented on #1068
I started the implementation but realised I am not able to adapt the code properly.
Please fix and review @adelmemariani or @jh-RLI.

[2022-09-22 10:07] l-emele commented on #1068
One part is the design of the webpage. For that, we found a solution.

But there is a second part:

If I understand this comment correctly, the URL http://openenergy-platform.org/ontology/oeo/ should directly provide the oeo-full file and not the overview page where you can download all the files and access the oeo viewers.

[2022-09-22 10:08] jh-RLI commented on #735
#1059 a new method for saving and reading oemeta data to and from the database is introduced. This solves part of this issue. The next step is the implementation of a data collection store consisting of several tables (which are technically not connected, but belong to the same area/project). In addition, tables created as relational data models should also be visualized on the OEP. If we want to

[2022-09-22 11:29] jh-RLI opened #1071 "Migrate oemetadata (sql comment on table) to new dataedit.models.tables.oemetadata json field"
Migrate the oemetadata to the new field. During migration, all json strings should be updated to the latest oemetadata version using OMI (if possible). Also, if the metadata is very old or empty, we should consider adding the minimum oemetadata json keys. This is currently being worked on by @steull, we call them iron keys (in reference to the iron review badge). Please provide the current iron ke

[2022-09-22 16:55] adelmemariani commented on #1017
The [dbpedia-lookup](https://github.com/dbpedia/dbpedia-lookup) service is now working with our MetaEdit tool.

![metaedit-autocomplete](https://user-images.githubusercontent.com/7637364/191806356-c8c5d99f-32d4-4f61-882a-43f3e2250d8f.gif)

[2022-09-22 17:16] adelmemariani commented on #1063
Commands like 'npm run build' should be moved to GitHub actions. I should invest some time in making a proper build process and then start documenting it :)

[2022-09-26 05:52] han-f opened #1075 "Update fontawesome to a newer version"
We use fontawesome icons for the capacity building sections. The icons that load look a bit outdated compared to the icons on the fontawesome website. Would it be possible without breaking things to update to a newer version of fontawesome to improve the overall look and feel?

[2022-09-26 21:16] jh-RLI opened #1076 "Add create and search/autocomplete feature to metaEdit keywords field"
- Create visible connection between metaEdit and oep tags
- Improve usability

reuse idea from OAT implementation

[2022-09-27 09:44] wingechr commented on #1075
@han-f let's have a look at this together. there is probably a way to make it look better using styling options.

[2022-09-28 10:03] Ludee commented on #1066
I just found that the search bar is not finding tables in _model_draft_ with no metadata:
see https://openenergy-platform.org/dataedit/view/model_draft?query=TYNDP
and https://openenergy-platform.org/dataedit/view/model_draft CTRL+F TYNDP

Please add the list of existing table names to the search function!

[2022-09-29 08:48] jh-RLI commented on #1076
Creation on text input is no longer necessary, as new keywords are created after the "Submit" button (in metaEdit) is pressed.

[2022-09-29 10:57] pajot opened #1077 "Very large tables cause multiple failures in viewer when leaving the browser window while data is loading"
So I've imported a 25 GB dataset into our test OEP via the backend, and the largest table in the dataset can't be displayed in summary view. It does not show "No records", it shows _null_ records:
![grafik](https://user-images.githubusercontent.com/4051461/193013587-118521e8-55b5-40f9-ac45-70395514ec18.png)
This table has over 235 million records. That might seem like a lot, but it's not unusual i

[2022-09-29 11:16] jh-RLI commented on #1077
That's odd, we have tables in the OEP that contain (at least that's what I was told) terabytes of data. I found this one with almost the same number of rows:
https://openenergy-platform.org/dataedit/view/climate/openfred_series
![image](https://user-images.githubusercontent.com/38939526/193017236-6fa98ff1-ecc2-4a8f-a846-40bf0e4f88bc.png)

What are the dev tools telling you? And are there any error

[2022-09-29 11:23] jh-RLI commented on #1017
I have started to document the architecture of the tool. I post the current status here:

[2022-09-29 11:24] jh-RLI commented on #1017
![Architektur_quick](https://user-images.githubusercontent.com/38939526/193019085-0ea6abd1-c9e9-456e-b44c-0d1cb42218bc.png)

[2022-09-29 12:42] pajot commented on #1077
I wanted to do some more troubleshooting of this kind. I have a log for the gateway interface, /var/log/uwsgi.log (which is not showing anything unusual). Where can I monitor the backend?

[2022-09-29 13:04] pajot commented on #1077
The webserver gives me this error:
`2022/09/29 10:32:41 [error] 210#210: *4697 upstream timed out (110: Connection timed out) while reading response header from upstream, client: 91.64.152.106, server: mondb.dgs-berlin.de, request: "GET /api/v0/schema/bigly_data/tables/point_value_raw/columns/ HTTP/1.1", upstream: "uwsgi://unix:///tmp/oep.sock", host: "mondb.dgs-berlin.de:8000", referrer: "https:/

[2022-09-29 13:28] jh-RLI commented on #1077
I see, I also observed the load spinner on the other table till the data was showing up 👍 . Definitely not adaptable.

I think the API-view/view (whatever is responsible for this data request) should be reconfigured. We should load the data based on the current page (which the user is viewing (paginated) and/or then use an asynchronous load function that loads the rest of the data in the backgroun

[2022-10-11 08:13] pajot commented on #918
Did you test it on a bare clone of the OEP, or the production server?

Am 21. April 2022 14:39:49 MESZ schrieb wingechr ***@***.***>:
***@***.***: could you please enumerate steps to reproduce the problem? seems to work for me without a problem.

[2022-10-12 09:40] Ludee opened #1083 "Integrate Energy Databus in OEP"
The registration of datasets on the Energy.Databus should be accessible and visible on the OEP.
Create a section on the navigation bar "Energy Databus".
Subsections can be "Overview" / "Databus" / "MOSS"

[2022-10-12 10:04] jh-RLI commented on #1083
Does integration mean that we add a link to the Moos tool outside of the OEP or do we actually integrate the services associated with the Moos tool into the OEP and also integrate/create the front end (website) "inside" the OEP?

[2022-10-13 14:45] jh-RLI commented on #1083
I talked to @Ludee and he agreed with the second approach as well.
However, since the Databus and the OEP will remain two independent platforms, we need something like a regulated communication or an interface between the two platforms. So it would be conceivable that on the OEP the upload process (metadata + oat + create table + data upload and also review process) is carried out. The result woul

[2022-10-17 13:06] jh-RLI opened #1084 "Tabular data viewer - json data is not properly displayed to the user."
When using the data preview widget (on the table details page) JSON data is not displayed as expected by the user.
![image](https://user-images.githubusercontent.com/38939526/196184770-467979e4-3655-4f95-8745-4625fbd43895.png)

[2022-10-19 12:30] jh-RLI commented on #1084
That's true, but from the user's point of view this seems to be a bug, but I will remove the tag again.

[2022-10-24 16:44] pajot opened #1086 "Bad Request errors when uploading via API"
I have a URL that looks like this:

`url = 'https://postgres.monitoring:8000/api/v0/schema/model_draft/tables/test3/'`

I create a query using a function I wrote for this purpose, using a json string generated by a pandas dataframe:

[code]

I can create a table using this schema:
[code]
I create a data dict that looks like this:
[code]
But when I attempt to POST this with the following command, I

[2022-10-25 11:00] pajot commented on #1086
Okay, I captured the requests response object like so:
[code]
and now I have useful output:

`'{"reason": "CompileError(\'Unconsumed column names: MAX, SINGLE_READING, DATE, SD, MIN, VALID_SAMPLES, CH_ID, VALUE\')"}'`

It turns out that the table was not created correctly. In psql:

[code]
Why is this happening? I thought it might be the letter case of the column names, because the Create Table ma

[2022-10-25 11:29] pajot commented on #1086
I have to apologize now. I did not create the table with the query I thought I had; the query I actually used _was_ empty. Arghhh!

When I use the correct query, the table is created properly without errors and the multiple records can be uploaded.

That's what I get for hacking in a Jupyter Notebook!

Thanks for putting up with my abuse of the issues applet to do [rubber duck debugging](https://e

[2022-10-25 11:29] #1086 closed

[2022-10-25 18:06] chrwm opened #1087 "Bugs when editing metadata of existing table using MetaBuilder"
I'm unsure whether this are known issues or if they have been already addressed.

1. When updating the metadata of existing tables (by pressing edit) the information from the `isAbout` and `valueReference` key get lost - potentially more keys.

Example table with  `isAbout` and `valueReference` annotations: https://openenergy-platform.org/dataedit/view/model_draft/wind_turbine_domestic_lod_geoss_t

[2022-10-25 19:44] jh-RLI commented on #1087
Yes sorry for this! - the data isn't actually lost, but the key name got renamed by a bug in omi. I already fixed this and I am aware that this will cause some harm - hope not to much. Definitely try to back up metadata for some of your uploads you already did. With the newest version of omi installed on the oep production, this is fixed.

[2022-10-25 19:45] jh-RLI commented on #1087
I will do some more tests locally to reproduce the second bug.

[2022-10-25 20:37] jh-RLI commented on #1087
is fully fixed with omi v0.0.8 - locally confirmed with latest dev

[2022-10-26 11:36] wingechr opened #1088 "tutorials: via api"

[2022-11-01 06:43] han-f opened #1093 "Study factsheet page broken"
This page is broken: https://openenergy-platform.org/factsheets/rdf/study/
and we link to it via the text on this page: https://openenergy-platform.org/factsheets/overview/

So we either need to fix the first page to show the (currently not working) study factsheets alpha, or remove the link from the second page.

[2022-11-01 10:49] jh-RLI commented on #1093
This is actually expected - we removed the link to the studie factseht (aplha) with version 0.10.1 - I think @adelmemariani got more info on why we removed it.

->see changelogs [0_10_1.md](https://github.com/OpenEnergyPlatform/oeplatform/blob/master/versions/changelogs/0_10_1.md)
Remove link to Study Factsheets (alpha) in navigation bar (PR #987)

[2022-11-01 10:52] jh-RLI commented on #1093
Also the links in the overview page are "hardcoded" this should also be fixed while removing the studie factsheet link.

[2022-11-01 19:57] #1069 closed

[2022-11-02 13:38] #1071 closed

[2022-11-02 15:20] jh-RLI commented on #1093
@han-f do you agree that we can close this issue? I will correct the technical comment I made.

[2022-11-02 15:28] jh-RLI opened #1095 "Status information about connected services and how to deal with services that are not available."
We want to make the OEP more modular, for that we need a good concept how to handle new services (like the new loep server for searching the oeo).

There should be a status check for all services of the oep and for the case that single services are not available there should be a fallback method.

[2022-11-03 17:29] pajot opened #1098 "manage.py mirror does not create '_ prefixed schemas"
I am trying to configure a new schema for table creation.

I have an existing schema containing tables with data that I want to use for this purpose.

I have renamed the schema in the backend with

`ALTER SCHEMA <oldname> RENAME TO <newname>;`

I modify `schema_whitelist` in dataedit.views accordingly, and change `DEFAULT_SCHEMA` to `<newname>`.

If I now run `python manage.py mirror`, it will out

[2022-11-10 13:47] jh-RLI opened #1105 "Post metadata migration: metaBuilder does not work on some tables."
Looking at tables like this one:
https://openenergy-platform.org/dataedit/view/climate/openfred_timespans/
after the migration, the metaEdit cant retrieve the metadata from the table and cause
a error in the js code.

Seems like the editor cant handle empty/undefined input data. Maybe we have to add an empty  {} to the oemetadata field in the
table if there is no parsable metadata present,

![imag

[2022-11-10 13:56] #1095 closed, assigned to wingechr, adelmemariani, jh-RLI

[2022-11-14 11:45] chrwm opened #1108 "OEMetabuilder omits null fields and changes metadata order"
Null fields are omitted when downloading metadata after inserting a local json oemetadata string (e.g. [here](https://raw.githubusercontent.com/sedos-project/oedatamodel/main/oedatamodel-parameter/datamodel_scalars.json)) via the `Edit raw JSON` button. This is especially problemetic when I need to continue to work locally with the metadata.

![grafik](https://user-images.githubusercontent.com/548

[2022-11-15 12:15] bmlancien opened #1109 "Improve metadata presentation"

[2022-11-16 09:03] henhuy opened #1110 "Multiple definitions of primary key error when defining PK on table column"
See https://github.com/OpenEnergyPlatform/oedialect/issues/43 for reference

I will add a small PR to address this.

[2022-11-16 12:08] jh-RLI opened #1112 "Tutorials (CBM) are no longer extensible (UI)."
This is probably due to the new Bootstrap 5 HTML tags.
https://openenergy-platform.org/tutorials/#tut-training-start

![image](https://user-images.githubusercontent.com/38939526/202176949-a62fbc5a-870c-48f0-b30a-e2ca6b99e733.png)

[2022-11-16 13:29] jh-RLI commented on #1112
@han-f Just wanted to let you know that @bmlancien will be working on fixing the HTML in the tutorials and the header for each CBM section. After that the accordion/extension function should work again some changes should be visible instandly - to fix the headers we need a hotfix version of the oep, which will take some time (days - not weeks)

[2022-11-17 11:53] jh-RLI commented on #1112
@han-f Since some updates Bryan implemented in the tutorials to fix the bug with the accordion sections change some of the old HTML you used to create the CBM, it would be good if you could check out the current result on oep/tutorials. As @bmlancien said, he saved the old tutorials locally. We'll try another solution that keeps the old HTML structure and just updates the HTML a bit.

[2022-11-17 13:48] bmlancien commented on #1112
@han-f @MGlauer As discussed with @jh-RLI we decided to leave for now the new version online because this is working properly. But we can put the older version back if needed. On the screenshot below you can see the difference between the older (02) and newer version (03).

@Ludee Since the tutorial page is one of the most important pages on the OEP, it might be a good opportunity to work on the d

[2022-11-21 09:29] FelixMau opened #1116 "Wizard example is not taking json and list into account"
Unfortunately it seems the [Upload CSV](https://openenergy-platform.org/dataedit/wizard/model_draft/modex_tech_photovoltaics_rooftop#wizard-table-upload) does not take column type of json into account when creating the "example csv with current confguration".
It is able to distinguish between all other column types (with a quick check).
![Bildschirmfoto zu 2022-11-21 10-23-24](https://user-images.

[2022-11-24 12:49] chrwm commented on #1062
@wingechr is there a reason to put a limit of 50 chars on the `resources-name`? I already ran into problems regarding this and had to rename tables. Thus, I'd vote to increase the the limit or to omit it.

[2022-11-28 14:09] Ludee opened #1117 "Make button to delete table available"
It is already possible to delete a table in the frontend.
But it is hidden and only accessible using the upload Wizard.

Current workflow is:

- Login with OEP user
- Open Table page
- Check that you have permission
- Open Upload Wizard "Upload CSV (Wizard)"
- Below the columns is a button "Delete table"

Make the delete button available on the table page!

[2022-11-28 19:48] jh-RLI commented on #1062
This is a technical limitation due to the Postgresql database - if there is no better solution than [this] (https://stackoverflow.com/questions/8213127/maximum-characters-in-labels-table-names-columns-etc), unfortunately we cannot change this.

[2022-11-29 15:55] chrwm opened #1120 "Improve display of large (timeseries) data points on OEP"
(Timeseries) Data that is stored in the [oedatamodel-concrete](https://github.com/OpenEnergyPlatform/oedatamodel#timeseries-description) format style ([example](https://raw.githubusercontent.com/OpenEnergyPlatform/oedatamodel/develop/examples/Datapackage/oed_timeseries.csv)) is displayed unhandy, when the data point in a cell is large.
Quick fix: Maybe align cell text on top of a cell.
A better so

[2022-11-29 16:00] chrwm commented on #1062
If there is no better solution, I'd suggest we add a section on the OEP nearby the upload Wizzard that highlights all the postgresql naming conventions.
Knowing them in advance and taking them into account is more resource efficient than correcting them later.

[2022-11-29 16:07] jh-RLI commented on #1062
Then let's make a list in this or a new issue and collect all things there. The list should represent the conventions in a readable form. Then we can add them to the mockup Bryan created.

[2022-11-29 16:11] chrwm commented on #1062
Oki I'll start here, as the issue title seems appropriate

[2022-11-29 16:14] chrwm commented on #1062
Do's and Don't apply for
1. tables names
2. table headers

#### Do's
* use ASCII characters only
* use lower case only
* use underscores

#### Don'ts

* table name must not exceed maximal character limit = 50
* no points
* no commas
* no spaces
* no special characters
* avoid dates
* if dates are used, then without `-`! E.g.: 2022-10-21 will through an error. Use underscore instead!
* don't start